A:link {
	COLOR: #333333;
	text-decoration: underline;
} 
A:visited {
	COLOR: #333333;
	TEXT-DECORATION: none
} 
A:hover {
	COLOR: #00CCCC;
	TEXT-DECORATION: none;
} 
.css {
	font-family: "MS Sans Serif", Tahoma, sans-serif;
	font-size: 11px;
	color: #CCCCCC;
}
.black {
	font-family: "MS Sans Serif", Tahoma, sans-serif;
	font-size: 12px;
	color: #000000;
	}
.BigBlue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #0b94ab;
	text-transform: none;
}
.BigBlue2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #54c6d9;
	text-transform: none;
}
.HeadBlue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #6b6b6b;
	text-transform: none;
}
.Arial_gray {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #454545;
	text-transform: none;
}
.Arial_blue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #05b3e8;
	text-transform: none;
}
.whitebig {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #ffffff;
	text-transform: none;
}
.white {
	font-family: "MS Sans Serif", Tahoma, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.grey{
	color: #C7C7C7;
}
.blue {
	color: #666666;
	font-family: "MS Sans Serif", Tahoma, sans-serif;
	font-size: 12px;
}
.red {
	color: #F00;
}

.songof {
	font-family: "MS Sans Serif", Tahoma, sans-serif;
	font-size: 18px;
	color: #000000;
}

.video-container{
	float: left;
}

.video{
	padding: 4px;
	width: 25%;
}

.video-desc{
	font-size: 12px;
}

@font-face {
	font-family: 'thaisanslite';
	src: url('thaisanslite.eot');
	src: url('thaisanslit.eot?#iefix') format('embedded-opentype'),
		url('thaisanslite.woff') format('woff'),
		url('thaisanslite.ttf') format('truetype'),
		url('thaisanslite.svg') format('svg');
}

.must{
	color: #FF0000;
	font-weight: bold;
}

.social-icon{
	padding: 16px;
	float: right;	
}



body{
	background-image: url(../images/background.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
}

.big-image{
	width: 85%;
}
.caption{
	text-align:center;
}
.container{
	background-color: #FFFFFF;
}

.footer{
	min-height: 160px;
}

.footer, .footer .container{
	background-color: #1E1E1E;
}
.carousel-indicators {
    bottom: 10px;
}
.carousel-indicators .active{
    color: #868686;
}
.carousel-indicators li{
    border: 1px solid #868686;
}

.copyright{
	color: #888888;
	font-size: 12px;
	text-align: right;
	margin-top: 20px;
	clear: both;
}

.set-right{
	float: right;
}



.set-center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.text-center{
	text-align: center;
}
.gap-bottom{
	margin-bottom:45px;
}

.shadow-glow{
	-webkit-box-shadow: 0px 0px 31px 11px rgba(0,0,0,0.44);
	-moz-box-shadow: 0px 0px 31px 11px rgba(0,0,0,0.44);
	box-shadow: 0px 0px 31px 11px rgba(0,0,0,0.44);
}

#carousel{
	padding-bottom: 20px;
}

@font-face {
    font-family: 'bangna_newregular';
    src: url('bangna-new-webfont.eot');
    src: url('bangna-new-webfont.eot?#iefix') format('embedded-opentype'),
         url('bangna-new-webfont.woff2') format('woff2'),
         url('bangna-new-webfont.woff') format('woff'),
         url('bangna-new-webfont.ttf') format('truetype'),
         url('bangna-new-webfont.svg#bangna_newregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5 { 
   font-family:"bangna_newregular";
}

.form-w10{ width: 100px !important;}
.form-w15{ width: 150px !important;}
.form-w20{ width: 200px !important;}
.form-w25{ width: 250px !important;}
.form-w30{ width: 300px !important;}
.form-w40{ width: 400px !important;}
.form-w50{ width: 500px !important;}
.form-w60{ width: 600px !important;}
.form-w80{ width: 800px !important;}

.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}

.control-label.col-xs-2{
	font-family:"bangna_newregular";
}

#submitbutton{
	width: 125px;
}

.prev {
	background-image: url('../images/prev.png');
	background-repeat: no-repeat;
	background-position: center;
}
.next {
	background-image: url('../images/next.png');
	background-repeat: no-repeat;
	background-position: center;
}

.date-announce{
	color: #666666;
	font-style: italic;
	padding-top: 16px;
	padding-bottom: 16px;
}

.artist-profile{
	background-color: #D3D3D3;
	min-height: 160px;
}

.text-center{
	text-align: center;
}

.avatar{
	padding:6px;
	float: left;
}

.user-info{
	padding: 6px;
}

.container{
	padding-bottom: 16px;
}

.artist-profile button {
    display: block;
    margin: 4px auto;
    padding: 4px;
    position: relative;
    width: 70%;
}
.artist-profile a{
	text-decoration: none;
}

@media all and (max-width: 480px) {
	#logo{
		width: 80px;
		margin-bottom: 20px;
	}
	#carousel{
		display:none;
	}

	[class*=form-w]{
		width: 100% !important;
	}
	.col-xs-2{
		
	}

}
