OL { counter-reset: item }
LI { display: block }
LI:before { content: counters(item, ".") "."; counter-increment: item; padding-right:10px; margin-left:-20px;}
li.no-order:before { content: none; counter-increment: none; padding-right:10px; margin-left:-20px;}
