﻿@{
    ViewBag.Title = "รายได้ของบริษัท";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles{
    <!-- PAGE LEVEL STYLES -->
    <link href="~/assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <!-- END PAGE LEVEL  STYLES -->
}
@{
    //Type 1= cover เพลงคนอื่น,ประกวดเอง,Type 2=แต่งเพลงเอง ประกวดเอง
    var incomeTransact = ViewBag.IncomeTransact as List<DINFDAL.Models.vVoteIncomeTransaction>;
    var smsCount = incomeTransact.Where(i => i.int_vote_method == 1).Select(i => i.int_vote_history_id).Distinct().Count();
    var pointCount = incomeTransact.Where(i => i.int_vote_method == 2).Select(i => new { i.int_vote_history_id, i.int_vote_value }).Distinct().Sum(i => i.int_vote_value);
    //SS1
    var ss1_smsCount = incomeTransact.Where(i => i.int_vote_method == 1 && i.int_vote_ss == 1).Select(i => i.int_vote_history_id).Distinct().Count();
    var ss1_pointCount = incomeTransact.Where(i => i.int_vote_method == 2 && i.int_vote_ss == 1).Select(i => new { i.int_vote_history_id, i.int_vote_value }).Distinct().Sum(i => i.int_vote_value);
    //SS2
    var ss2_smsCount = incomeTransact.Where(i => i.int_vote_method == 1 && i.int_vote_ss == 2).Select(i => i.int_vote_history_id).Distinct().Count();
    var ss2_pointCount = incomeTransact.Where(i => i.int_vote_method == 2 && i.int_vote_ss == 2).Select(i => new { i.int_vote_history_id, i.int_vote_value }).Distinct().Sum(i => i.int_vote_value);
    //
    var smsType1 = incomeTransact.Where(i => i.int_vote_method == 1).GroupBy(g => g.int_vote_history_id).Where(i => i.Count() == 1).Count();
    var smsType2 = incomeTransact.Where(i => i.int_vote_method == 1).GroupBy(g => g.int_vote_history_id).Where(i => i.Count() == 2).Count();
    var pointType1 = incomeTransact.Where(i => i.int_vote_method == 2).GroupBy(g => new { g.int_vote_history_id, g.int_vote_value }).Where(i => i.Count() == 1).Sum(i => i.Key.int_vote_value);
    var pointType2 = incomeTransact.Where(i => i.int_vote_method == 2).GroupBy(g => new { g.int_vote_history_id, g.int_vote_value }).Where(i => i.Count() == 2).Sum(i => i.Key.int_vote_value);
}
<!--PAGE CONTENT -->
<div id="content">

    <div class="inner">
        <div class="row">
            <div class="col-lg-12">
                <h2> รายได้ของบริษัท </h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    @*<div class="panel-heading">
                        </div>*@
                    <div class="panel-body">
                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-md-12">

                                <div class="col-md-6" style="padding-left: 0px">

                                    <div class="player jp-interface">
                                        <h3>คะแนน Vote ทั้งหมด</h3>
                                    </div>
                                    <div class="tracklist show-more-button">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="center">ระบบ Vote</th>
                                                    <th class="center">Season I จำนวน (ครั้ง)</th>
                                                    <th class="center">Season II จำนวน (ครั้ง)</th>
                                                    <th class="center">จำนวนทั้งหมด (ครั้ง)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="center">SMS</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", ss1_smsCount)</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", ss2_smsCount)</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", smsCount)</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">Cyberry Points</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", ss1_pointCount)</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", ss2_pointCount)</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", pointCount)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-md-12">
                                <div class="ttw-music-player" style="opacity: 1;">
                                    <div class="player jp-interface">
                                        <h3>เงินรางวัลต่อ 1 ครั้ง</h3>
                                    </div>
                                    <div class="tracklist show-more-button table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="center" style="vertical-align: middle" rowspan="2">ระบบ Vote</th>
                                                    <th class="center success" colspan="3">รายได้ทั้งหมด</th>
                                                    <th class="center danger" colspan="3">รายได้ส่วนของบริษัท</th>
                                                    <th class="center warning" colspan="3">เงินรางวัลสะสม</th>
                                                </tr>
                                                <tr>
                                                    <th class="center">เงินรางวัล<br />(บาท)</th>
                                                    <th class="center">ค่าใช้จ่ายดำเนินการ<br />(บาท)</th>
                                                    <th class="center">เงินรางวัลหลังหักค่าใช้จ่าย<br />(บาท)</th>
                                                    <th class="center">เงินรางวัล<br />(บาท)</th>
                                                    <th class="center">ค่าใช้จ่ายดำเนินการ<br />(บาท)</th>
                                                    <th class="center">เงินรางวัลหลังหักค่าใช้จ่าย<br />(บาท)</th>
                                                    <th class="center">เงินรางวัล<br />(บาท)</th>
                                                    <th class="center">ค่าใช้จ่ายดำเนินการ<br />(บาท)</th>
                                                    <th class="center">เงินรางวัลหลังหักค่าใช้จ่าย<br />(บาท)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="center">SMS</td>
                                                    <td class="text-right">1.8</td>
                                                    <td class="text-right">0.26</td>
                                                    <td class="text-right">1.54</td>
                                                    <td class="text-right">1.05</td>
                                                    <td class="text-right">0.15</td>
                                                    <td class="text-right">0.90</td>
                                                    <td class="text-right">0.25</td>
                                                    <td class="text-right">0.04</td>
                                                    <td class="text-right">0.21</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">Cyberry Points</td>
                                                    <td class="text-right">5.00</td>
                                                    <td class="text-right">0.58</td>
                                                    <td class="text-right">4.42</td>
                                                    <td class="text-right">2</td>
                                                    <td class="text-right">0.23</td>
                                                    <td class="text-right">1.17</td>
                                                    <td class="text-right">1</td>
                                                    <td class="text-right">0.12</td>
                                                    <td class="text-right">0.88</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-md-12">
                                <div class="ttw-music-player" style="opacity: 1;">
                                    <div class="player jp-interface">
                                        <h3>คำนวนรายได้ Season I</h3>
                                    </div>
                                    <div class="tracklist show-more-button table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="center" style="vertical-align:middle" rowspan="2">ระบบ Vote</th>
                                                    <th class="center success" colspan="3">รายได้ทั้งหมด</th>
                                                    <th class="center danger" colspan="3">รายได้ส่วนของบริษัท</th>
                                                    <th class="center warning" colspan="3">เงินรางวัลสะสม</th>
                                                </tr>
                                                <tr>
                                                    <th class="center">จำนวนครั้ง</th>
                                                    <th class="center">ค่าใช้จ่ายดำเนินการ<br />(บาท)</th>
                                                    <th class="center">เงินรางวัลหลังหักค่าใช้จ่าย<br />(บาท)</th>
                                                    <th class="center">จำนวนครั้ง</th>
                                                    <th class="center">ค่าใช้จ่ายดำเนินการ<br />(บาท)</th>
                                                    <th class="center">เงินรางวัลหลังหักค่าใช้จ่าย<br />(บาท)</th>
                                                    <th class="center">จำนวนครั้ง</th>
                                                    <th class="center">ค่าใช้จ่ายดำเนินการ<br />(บาท)</th>
                                                    <th class="center">เงินรางวัลหลังหักค่าใช้จ่าย<br />(บาท)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="center">SMS</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", ss1_smsCount)</td>
                                                    <td class="text-right">1.54</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", ss1_smsCount * 1.54)</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", ss1_smsCount)</td>
                                                    <td class="text-right">0.90</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", ss1_smsCount * 0.90)</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", ss1_smsCount)</td>
                                                    <td class="text-right">0.21</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", ss1_smsCount * 0.21)</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">Cyberry Points</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", ss1_pointCount)</td>
                                                    <td class="text-right">4.42</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", ss1_pointCount * 4.42)</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", ss1_pointCount)</td>
                                                    <td class="text-right">1.77</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", ss1_pointCount * 1.77)</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", ss1_pointCount)</td>
                                                    <td class="text-right">0.88</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", ss1_pointCount * 0.88)</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th class="text-center">เงินรางวัล</th>
                                                    <th class="text-center success" colspan="2">รวม</th>
                                                    <th class="text-right success">@String.Format("{0:#,0.00}", (ss1_smsCount * 1.54) + (ss1_pointCount * 4.42))</th>
                                                    <th class="text-center danger" colspan="2">รวม</th>
                                                    <th class="text-right danger">@String.Format("{0:#,0.00}", (ss1_smsCount * 0.90) + (ss1_pointCount * 1.77))</th>
                                                    <th class="text-center warning" colspan="2">รวม</th>
                                                    <th class="text-right warning">@String.Format("{0:#,0.00}", (ss1_smsCount * 0.21) + (ss1_pointCount * 0.88))</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-md-12">
                                <div class="ttw-music-player" style="opacity: 1;">
                                    <div class="player jp-interface">
                                        <h3>คำนวนรายได้ Season II</h3>
                                    </div>
                                    <div class="tracklist show-more-button table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="center" style="vertical-align:middle" rowspan="2">ระบบ Vote</th>
                                                    <th class="center success" colspan="3">รายได้ทั้งหมด</th>
                                                    <th class="center danger" colspan="3">รายได้ส่วนของบริษัท</th>
                                                    <th class="center warning" colspan="3">เงินรางวัลสะสม</th>
                                                </tr>
                                                <tr>
                                                    <th class="center">จำนวนครั้ง</th>
                                                    <th class="center">ค่าใช้จ่ายดำเนินการ<br />(บาท)</th>
                                                    <th class="center">เงินรางวัลหลังหักค่าใช้จ่าย<br />(บาท)</th>
                                                    <th class="center">จำนวนครั้ง</th>
                                                    <th class="center">ค่าใช้จ่ายดำเนินการ<br />(บาท)</th>
                                                    <th class="center">เงินรางวัลหลังหักค่าใช้จ่าย<br />(บาท)</th>
                                                    <th class="center">จำนวนครั้ง</th>
                                                    <th class="center">ค่าใช้จ่ายดำเนินการ<br />(บาท)</th>
                                                    <th class="center">เงินรางวัลหลังหักค่าใช้จ่าย<br />(บาท)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="center">SMS</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", ss2_smsCount)</td>
                                                    <td class="text-right">1.54</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", ss2_smsCount * 1.54)</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", ss2_smsCount)</td>
                                                    <td class="text-right">0.90</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", ss2_smsCount * 0.90)</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", ss2_smsCount)</td>
                                                    <td class="text-right">0.21</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", ss2_smsCount * 0.21)</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">Cyberry Points</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", ss2_pointCount)</td>
                                                    <td class="text-right">4.42</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", ss2_pointCount * 4.42)</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", ss2_pointCount)</td>
                                                    <td class="text-right">1.77</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", ss2_pointCount * 1.77)</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", ss2_pointCount)</td>
                                                    <td class="text-right">0.88</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", ss2_pointCount * 0.88)</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th class="text-center">เงินรางวัล</th>
                                                    <th class="text-center success" colspan="2">รวม</th>
                                                    <th class="text-right success">@String.Format("{0:#,0.00}", (ss2_smsCount * 1.54) + (ss2_pointCount * 4.42))</th>
                                                    <th class="text-center danger" colspan="2">รวม</th>
                                                    <th class="text-right danger">@String.Format("{0:#,0.00}", (ss2_smsCount * 0.90) + (ss2_pointCount * 1.77))</th>
                                                    <th class="text-center warning" colspan="2">รวม</th>
                                                    <th class="text-right warning">@String.Format("{0:#,0.00}", (ss2_smsCount * 0.21) + (ss2_pointCount * 0.88))</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-md-12">
                                <div class="ttw-music-player" style="opacity: 1;">
                                    <div class="player jp-interface">
                                        <h3>คำนวนรายได้ทั้งหมด</h3>
                                    </div>
                                    <div class="tracklist show-more-button table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="center" style="vertical-align:middle" rowspan="2">ระบบ Vote</th>
                                                    <th class="center success" colspan="3">รายได้ทั้งหมด</th>
                                                    <th class="center danger" colspan="3">รายได้ส่วนของบริษัท</th>
                                                    <th class="center warning" colspan="3">เงินรางวัลสะสม</th>
                                                </tr>
                                                <tr>
                                                    <th class="center">จำนวนครั้ง</th>
                                                    <th class="center">ค่าใช้จ่ายดำเนินการ<br />(บาท)</th>
                                                    <th class="center">เงินรางวัลหลังหักค่าใช้จ่าย<br />(บาท)</th>
                                                    <th class="center">จำนวนครั้ง</th>
                                                    <th class="center">ค่าใช้จ่ายดำเนินการ<br />(บาท)</th>
                                                    <th class="center">เงินรางวัลหลังหักค่าใช้จ่าย<br />(บาท)</th>
                                                    <th class="center">จำนวนครั้ง</th>
                                                    <th class="center">ค่าใช้จ่ายดำเนินการ<br />(บาท)</th>
                                                    <th class="center">เงินรางวัลหลังหักค่าใช้จ่าย<br />(บาท)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="center">SMS</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", smsCount)</td>
                                                    <td class="text-right">1.54</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", smsCount * 1.54)</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", smsCount)</td>
                                                    <td class="text-right">0.90</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", smsCount * 0.90)</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", smsCount)</td>
                                                    <td class="text-right">0.21</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", smsCount * 0.21)</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">Cyberry Points</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", pointCount)</td>
                                                    <td class="text-right">4.42</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", pointCount * 4.42)</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", pointCount)</td>
                                                    <td class="text-right">1.77</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", pointCount * 1.77)</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", pointCount)</td>
                                                    <td class="text-right">0.88</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", pointCount * 0.88)</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th class="text-center">เงินรางวัล</th>
                                                    <th class="text-center success" colspan="2">รวม</th>
                                                    <th class="text-right success">@String.Format("{0:#,0.00}", (smsCount * 1.54) + (pointCount * 4.42))</th>
                                                    <th class="text-center danger" colspan="2">รวม</th>
                                                    <th class="text-right danger">@String.Format("{0:#,0.00}", (smsCount * 0.90) + (pointCount * 1.77))</th>
                                                    <th class="text-center warning" colspan="2">รวม</th>
                                                    <th class="text-right warning">@String.Format("{0:#,0.00}", (smsCount * 0.21) + (pointCount * 0.88))</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END PAGE CONTENT -->
@section scripts{
    <!-- PAGE LEVEL SCRIPTS -->
    <script src="~/assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {

        });
    </script>
    <!-- END PAGE LEVEL SCRIPTS -->
}
