﻿@using WebCyberryMusic.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="เวทีเพื่อการแข่งขันประกวดร้องเพลงทางอินเทอร์เน็ตที่แบ่งปันรายได้จากการโหวตให้กับทุกๆ คนที่เกี่ยวข้อง">
    <meta name="keywords" content="cyberry, cyberry music, กติกา, แข่งขัน, ประกวด, ร้องเพลง, เล่นดนตรี, youtube, ประกวดดนตรี,ประกวดร้องเพลง">
    @RenderSection("metatags", required: false)
    <title>Cyberry Music</title>
    <!-- Bootstrap and Material CSS -->
    <link href="~/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-social.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/jquery.fileupload.css" rel="stylesheet" />
    <link href="~/css/jquery.flexisel.css" rel="stylesheet" />
    <!--Css for media -->
    <link href="~/css/media/website.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/media/cubeportfolio.min.css" rel="stylesheet" type="text/css">

    <!-- Animate CSS -->
    <link href="~/css/animate.css" rel="stylesheet" type="text/css">

    <!--Right side Music Player STYLE-->
    <link href="~/plugin/css/style.css" rel="stylesheet" type="text/css">

    <!-- Main CSS -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css">

    <!-- Responsive CSS-->
    <link href="~/css/responsive.css" rel="stylesheet" type="text/css">

    <!-- Menu CSS -->
    <link href="~/css/minimal-menu.css" rel="stylesheet" type="text/css">

    <!-- Background Music CSS -->
    <link href="~/css/music_player/panzer.min.css" rel="stylesheet" media="all" />

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link href="~/css/extralayers.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/rs-plugin/css/settings.css" rel="stylesheet" type="text/css" media="screen" />

    <!-- Owl Carousel Css -->
    <link href="~/css/owl/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="~/css/owl/owl.theme.css" rel="stylesheet" type="text/css">

    <!-- D-INF STYLE CSS -->
    <link href="~/css/d-inf-style.css" rel="stylesheet" type="text/css">

    @*Select2 Css*@
    <link href="~/Select2/css/select2.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .input-group-addon {
            background: none;
            border: none;
            border-bottom: 1px solid #4b4b4b;
        }
        /* styles for validation helpers */
        .field-validation-error {
            color: #b94a48;
        }

        .field-validation-valid {
            display: none;
        }

        input.input-validation-error {
            /*border: 1px solid #b94a48;*/
        }

        input[type="checkbox"].input-validation-error {
            border: 0 none;
        }

        .validation-summary-errors {
            color: #b94a48;
        }

        .validation-summary-valid {
            display: none;
        }

        .navbar-form {
        }
    </style>
    @RenderSection("styles", required: false)
</head>

<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.5&appId=983052685078826";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <!-- Start body -->
    <div class="home">

        <!-- Preloader start here -->
        @*<div id="preloader">
            <div id="status"></div>
        </div>*@
        <!-- Preloader end here -->
        <!-- Header
        ================================================== -->
        <section id="header">
            <!-- Static navbar -->
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container">

                    <div class="row">

                        <div class="col-md-3">
                            <div class="logo">
                                <a href="@Url.Action("Index", "Home")"><img class="img-responsive" src="~/images/random/logo.png" alt="cyberry music: ค่ายเพลงออนไลน์" title="cyberry music: ค่ายเพลงออนไลน์"></a>
                            </div><!-- /.logo -->
                        </div><!-- /.col-md-3 -->

                        <div class="col-md-9">
                            <div class="nav-top-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h1 class="wow fadeInDown animated th_fahkwang prize">
                                            เงินรางวัลสะสมขณะนี้ <span class="larger">
                                                @*@String.Format("{0:#,0.00}", 100000 + Decimal.Parse(Session["reward"].ToString()))*@
                                                114,725.25
                                            </span> บาท
                                        </h1>
                                        <!--
                                        <ul id="vdolist">
                                            <li><img src="https://i1.ytimg.com/vi/JC8PrQGNdTQ/default.jpg"/></li>
                                            <li><img src="https://i1.ytimg.com/vi/nkSqvPqxCUk/default.jpg"/></li>
                                            <li><img src="https://i1.ytimg.com/vi/nkSqvPqxCUk/default.jpg"/></li>
                                            <li><img src="https://i1.ytimg.com/vi/JC8PrQGNdTQ/default.jpg"/></li>
                                            <li><img src="https://i1.ytimg.com/vi/nkSqvPqxCUk/default.jpg"/></li>
                                            <li><img src="https://i1.ytimg.com/vi/JC8PrQGNdTQ/default.jpg"/></li>
                                            <li><img src="https://i1.ytimg.com/vi/JC8PrQGNdTQ/default.jpg"/></li>
                                            <li><img src="https://i1.ytimg.com/vi/JC8PrQGNdTQ/default.jpg"/></li>
                                            <li><img src="https://i1.ytimg.com/vi/JC8PrQGNdTQ/default.jpg"/></li>
                                            <li><img src="https://i1.ytimg.com/vi/JC8PrQGNdTQ/default.jpg"/></li>
                                            <li><img src="https://i1.ytimg.com/vi/nkSqvPqxCUk/default.jpg"/></li>
                                            <li><img src="https://i1.ytimg.com/vi/JC8PrQGNdTQ/default.jpg"/></li>
                                            <li><img src="https://i1.ytimg.com/vi/nkSqvPqxCUk/default.jpg"/></li>
                                            <li><img src="https://i1.ytimg.com/vi/JC8PrQGNdTQ/default.jpg"/></li>
                                        </ul>
                                        -->
                                    </div>
                                </div>
                            </div><!-- /.nav top content -->
                            <div class="lan-main-nav th_fahkwang">
                                <!-- START - MINIMAL CSS3 MENU -->
                                <label class="minimal-menu-button" for="mobile-nav">Menu</label>
                                <input class="minimal-menu-button" type="checkbox" id="mobile-nav" name="mobile-nav" />
                                <div class="minimal-menu clr-blue">
                                    @Html.Partial("_MenuPartial")
                                </div>
                                <!-- END - MINIMAL CSS3 MENU -->
                            </div> <!-- /.lan-main-nav -->

                        </div><!-- /.col-lg-9 -->
                    </div>
                </div><!-- /.container -->
            </nav>
        </section>
        <!-- End Header -->
        @RenderBody()
        <!-- Start Footer
        ================================================== -->

        <section id="footer">
            <div class="container">
                <div class="lan-footer-top">
                    <!-- Start footer top -->

                    <div class="row">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <div class="col-lg-4 col-md-4" id="subscribe_form">
                                @Html.Partial("_Subscribed", new ContactViewModels())
                            </div>
                        <!-- /.col-lg-4 -->
                        }
                        <div class="col-lg-4 col-md-4">
                            <div class="lan-footer-col2 wow fadeInUp">
                                <h2>Follow Our Social Network</h2>
                                <div class="lan-social">
                                    <div class="lan_fb social">
                                        <a href="https://www.facebook.com/cyberrymusic" target="_blank"></a>
                                    </div>
                                    <div class="lan_twitter social">
                                        <a href="#"></a>
                                    </div>
                                    @*<div class="lan_dribbl social"><a href="#"></a></div>*@
                                    @*<div class="lan_vimbo social"><a href="#"></a></div>*@
                                    <div class="lan_youtube social">
                                        <a href="https://www.youtube.com/channel/UClNNhP49seoQdBfpwe2Ik2w" target="_blank"></a>
                                    </div>
                                    @*<div class="lan_other social"><a href="#"></a></div>*@
                                    <div class="clear"></div>
                                    <p>Power By :</p>
                                    <p>
                                        <img src="~/images/random/cyberrymusic-logo-footer.jpg" alt="cyberrymusic: ค่ายเพลงออนไลน์" title="cyberrymusic: ค่ายเพลงออนไลน์">
                                    </p>
                                </div>
                            </div><!-- /.lan-footer-col2 -->
                        </div><!-- /.col-lg-4 -->

                        <div class="col-lg-4 col-md-4">
                            <div class="lan-footer-col3 wow fadeInUp">
                                <h2>Contact Cyberry Music</h2>
                            </div><!-- /.lan-footer-col3 -->
                        </div><!-- /.col-lg-4 -->

                    </div><!-- /.row -->

                </div><!-- /.footer-top -->
            </div>

            <div id="footer-copyright">
                <!-- footer copyright -->
                <div class="container">
                    <div class="lan-footer-bottom-copyright">
                        <!-- Start footer bottom -->
                        <div class="row">
                            <div class="col-lg-6">
                                Copyright © 2015 Cyberrymusic.com All Rights Reserved.
                            </div>
                            <div class="col-lg-6">
                                @*<a href="http://www.d-inf.co.th" target="_blank" class="pull-right"></a>*@
                            </div>
                        </div>
                    </div><!-- /.footer-bottom-copyright -->
                </div>
            </div><!-- /.footer copyright -->
        </section>

    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.fileupload.js"></script>
    @*<script src="~/js/jquery.fileupload-ui.js"></script>
        <script src="~/js/jquery.fileupload-process.js"></script>*@
    <script src="~/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="~/js/materialize.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/locale/th.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/autoNumeric.min.js"></script>


    <!-- Music player JS -->
    <script type="text/javascript" src="~/plugin/jquery-jplayer/jquery.jplayer.js"></script>
    <script type="text/javascript" src="~/plugin/ttw-music-player-min.js"></script>
    <script type="text/javascript" src="~/plugin/myplaylist.js"></script>

    <!-- Scroll JS -->
    <script type="text/javascript" src="~/js/jquery.mCustomScrollbar.js"></script>

    <!-- Media JS-->
    <script type="text/javascript" src="~/js/media/jquery.cubeportfolio.min.js"></script>
    <script type="text/javascript" src="~/js/media/media-main.js"></script>
    <script type="text/javascript" src="~/js/media/jquery.website.min.js"></script>

    <!-- After Scroll effect JS -->
    <script type="text/javascript" src="~/js/wow.min.js"></script>

    <!-- SmoothScroll JS -->
    <script type="text/javascript" src="~/js/jquery.smooth-scroll.min.js"></script>
    <script type="text/javascript" src="~/js/smooth.script.js"></script>

    <!-- Fit Video JS -->
    <script type="text/javascript" src="~/js/jquery.fitvids.min.js"></script>

    <!-- SLIDER REVOLUTION 4.x SCRIPTS -->
    <script type="text/javascript" src="~/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Audio Background music JS -->
    <script type="text/javascript" src="~/js/music_player/panzer.min.js"></script>
    <script>jQuery('audio.playlist2').panzerlist({ theme: 'light', layout: 'big', show_prev_next: true, expanded: true });</script>

    <!-- Body Background JS -->
    <script type="text/javascript" src="~/js/lib/jquery.backstretch.min.js"></script>

    <!-- Owl JS -->
    <script type="text/javascript" src="~/js/owl/owl.carousel.js"></script>
    <script type="text/javascript" src="~/js/owl/owl-script.js"></script>

    <!-- Custom Script -->
    <script type="text/javascript" src="~/js/custom.js?p=1235"></script>
    <script src="~/js/jquery.flexisel.js"></script>

    @*Select2 Script*@
    <script src="~/Select2/js/select2.full.min.js"></script>

    <script>
        $(window).load(function () {
            $("#vdolist").flexisel({
                visibleItems: 10,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 3
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 5
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 7
                    }
                }
            });
        });

    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-65921712-1', 'auto');
        ga('send', 'pageview');

    </script>
    @RenderSection("scripts", required: false)
</body><!-- End body -->
</html>
