﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li>
        <a class="waves-effect waves-red" href="@Url.Action("LogOff", "Account")">Log Off</a>
    </li>
}
else
{
    <li>
        <a class="waves-effect waves-red" href="@Url.Action("Login", "Account")">เข้าสู่ระบบ</a>
    </li>

    <li>
        <a class="waves-effect waves-red" href="@Url.Action("Register","Account")" title="สมัครสมาชิก: ประกวดร้องเพลง">สมัครสมาชิก</a>
        <input class="show-submenu" type="checkbox" id="show-submenu-4" name="show-submenu-4" />
    </li>
}
