﻿@using (Html.BeginForm("SearchResult", "Home", FormMethod.Post, new { @class = "lan-contact-form", autocomplete = "off", role = "form" }))
{
    <div class="input-group">
        @Html.TextBox("SearchString", "", new { @class = "form-control", @placeholder = "Search for..." })
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class=" glyphicon glyphicon-search"></span></button>
        </span>
    </div><!-- /input-group -->
}
