﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Locked Out";
}
<section id="login" class="pb-30">

    <div class="container">

        <div class="row">

            <div class="col-md-8">

                <div class="lan-music-login">
                    <h1 class="text-danger">Locked out.</h1>
                    <h3 class="text-danger">This account has been locked out, please try again later.</h3>
                </div>
            </div><!-- col-md-8 -->

            <div class="col-md-4">

                <div class="lan-banner ptb-30">

                </div>
            </div> <!--/.col-md-4 /.right side -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
