﻿@model WebCyberryMusic.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Create Password";
}
<section id="login" class="pb-30">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="lan-music-login">
                    <h1>@ViewBag.Title.</h1>
                    <p class="text-info">
                        You do not have a local username/password for this site. Add a local
                        account so you can log in without an external login.
                    </p>
                    <p>@Html.ValidationSummary(true)</p>
                    @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "lan-contact-form", role = "form", @autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-10">
                                <button type="submit" class="btn-flat waves-effect">Set Password</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>