﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="UTF-8" />
    <title>Cyberry Music | Admin </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!--[if IE]>
       <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <!-- GLOBAL STYLES -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <link rel="stylesheet" href="~/assets/css/theme.css" />
    <link rel="stylesheet" href="~/assets/css/MoneAdmin.css" />
    <link rel="stylesheet" href="~/assets/plugins/Font-Awesome/css/font-awesome.css" />
    <link href="~/css/validate.css" rel="stylesheet" />
    <!--END GLOBAL STYLES -->
    @RenderSection("styles", required: false)
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="~/assets/js/html5shiv.js"></script>
      <script src="~/assets/js/respond.min.js"></script>
    <![endif]-->
    <style>
        body {
            font-size: 14px;
        }

        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            font-family: "DBSurawongX-LightItalic";
        }

        h1, .h1 {
            font-size: 26px;
        }

        h2, .h2 {
            font-size: 26px;
        }

        .dropdown-menu {
            font-size: 14px;
        }

        h5, .h5 {
            font-size: 16px;
        }

        .form-control {
            font-size: 16px;
        }

        .btn {
            font-size: 16px;
        }
    </style>
</head>

<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="padTop53 ">

    <!-- MAIN WRAPPER -->
    <div id="wrap">

        <!-- HEADER SECTION -->
        <div id="top">

            <nav class="navbar navbar-inverse navbar-fixed-top " style="padding-top: 10px;">
                <a data-original-title="Show/Hide Menu" data-placement="bottom" data-tooltip="tooltip" class="accordion-toggle btn btn-primary btn-sm visible-xs" data-toggle="collapse" href="#menu" id="menu-toggle">
                    <i class="icon-align-justify"></i>
                </a>
                <!-- LOGO SECTION -->
                <header class="navbar-header"><p style="color:darkblue; font-weight:bold;font-size:22px;">CyberryMusic Management System</p></header>
                <!-- END LOGO SECTION -->
                <ul class="nav navbar-top-links navbar-right">
                    <!--ADMIN SETTINGS SECTIONS -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-user" style="font-size: 14px;"></i>&nbsp; <i class="icon-chevron-down" style="font-size: 14px;"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li>
                                <a href="#"><i class="icon-user"></i> ข้อมูลผู้ใช้งาน </a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-refresh"></i> เปลี่ยนรหัสผ่าน </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#"><i class="icon-signout"></i> ออกจากระบบ </a>
                            </li>
                        </ul>
                    </li>
                    <!--END ADMIN SETTINGS -->
                </ul>
            </nav>
        </div>
        <!-- END HEADER SECTION -->
        <!-- MENU SECTION -->
        <div id="left">
            <div class="media user-media well-small">
                <a class="user-link" href="#">

                </a>
                <br />
                <div class="media-body">
                    <h5 class="media-heading">@User.Identity.GetUserName()</h5>
                    <ul class="list-unstyled user-info">
                        <li>
                            <a class="btn btn-success btn-xs btn-circle" style="width: 10px;height: 12px;"></a> Online
                        </li>
                    </ul>
                </div>
                <br />
            </div>
            @{
                var menuActive = ViewBag.menuActive ?? "";
            }
            <ul id="menu" class="collapse">
                <li @MvcHtmlString.Create(menuActive.Equals("dashboard") ? "class=\"panel active\"" : "")><a href="@Url.Action("Index", "DashBoard")"><i class="icon-table"></i> DashBoard </a></li>
                <li @MvcHtmlString.Create(menuActive.Equals("roles") ? "class=\"panel active\"" : "")><a href="@Url.Action("Index", "Roles")"><i class="icon-user"></i> ประเภท </a></li>
                <li @MvcHtmlString.Create(menuActive.Equals("users") ? "class=\"panel active\"" : "")><a href="@Url.Action("Index", "Users")"><i class="icon-user"></i> สมาชิก </a></li>
                <li @MvcHtmlString.Create(menuActive.Equals("buypoint") ? "class=\"panel active\"" : "")><a href="@Url.Action("Index", "BuyPoint")"><i class="icon-list-alt"></i> รายการซื้อ Point </a></li>
                <li @MvcHtmlString.Create(menuActive.Equals("withdrawal") ? "class=\"panel active\"" : "")><a href="@Url.Action("Index", "WithdrawalTransaction")"><i class="icon-list-alt"></i> รายการถอนเงิน </a></li>
                <li @MvcHtmlString.Create(menuActive.Equals("income") ? "class=\"panel active\"" : "")><a href="@Url.Action("Index", "Income")"><i class="icon-list-alt"></i> รายได้ของบริษัท </a></li>
            </ul>
        </div>
        <!--END MENU SECTION -->
        @RenderBody()

        <!-- RIGHT STRIP  SECTION -->
        <div id="right" style="display: none;">
            @*<div class="well well-small">
                <ul class="list-unstyled">
                    <li>จำนวนผู้เยี่ยมชม &nbsp; : <span></span></li>
                </ul>
            </div>*@
            @*<div class="well well-small">
                <a href="~/pdf/plpspa.pdf" target="_bank" class="btn btn-block"> คู่มือ </a>
            </div>*@
        </div>
        <!-- END RIGHT STRIP  SECTION -->
    </div>

    <!--END MAIN WRAPPER -->
    <!-- FOOTER -->
    <div id="footer">
        <p>Copyright © 2015 Cyberrymusic.com All Rights Reserved.</p>
    </div>
    <!--END FOOTER -->
    <!-- GLOBAL SCRIPTS -->
    <script src="~/assets/plugins/jquery-2.0.3.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <script src="~/js/autoNumeric.js"></script>
    <!-- END GLOBAL SCRIPTS -->
    @RenderSection("scripts", required: false)
</body>

<!-- END BODY -->
</html>

