<div class="footer">
	<div class="container">
		<div class="row-fluid">
			<div class="col-md-12">
			<div class="social-icon">
						
			<!--<a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image23','','images/icon_googleplus2.jpg',1)" target=_blank>
			<img src="images/icon_googleplus.jpg" width="40" height="40" id="Image23" /></a>-->
			
			 <a href="https://www.facebook.com/cyberrymusic" target="_blank" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image14','','images/footer_fb2.jpg',1)"><img src="images/footer_fb.jpg" width="40" height="40" id="Image14" /></a>
			 
			 <!--
            <a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image15','','images/footer_twitter2.jpg',1)"><img src="images/footer_twitter.jpg" width="40" height="40" id="Image15" /></a>-->
			
            <a href="https://www.youtube.com/channel/UClNNhP49seoQdBfpwe2Ik2w" target="_blank" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image16','','images/footer_youtube2.jpg',1)"><img src="images/footer_youtube.jpg" width="40" height="40" id="Image16" /></a>
			
			<!--
            <a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image17','','images/footer_googleplus2.jpg',1)"><img src="images/footer_googleplus.jpg" width="40" height="40" id="Image17" /></a>-->
			</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="col-md-12 copyright">
		Copyright © 2015 Cyberrymusic.com All Rights Reserved
			</div>
		</div>
	</div>
</div>