<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <form method="post" action="checklogin.php">
      <div class="modal-body">
			<div class="row">	
				<div class="col-md-4">Username</div>
				<div class="col-md-8"><input type="text" class="form-control" name="cyberryusername"></div>
			</div>
			<div class="row">	
				<div class="col-md-4">Password</div>
				<div class="col-md-8"><input type="password" class="form-control" name="cyberrypassword"></div>
			</div>
			<div class="row">
				<div class="col-md-offset-4 col-md-8"><a href="forget.php">Forget Password</a></div>
			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
	  </form>
    </div>
  </div>
</div>