<div class="social-icon">
			<a href="https://www.facebook.com/cyberrymusic" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image21','','images/icon_fb2.jpg',1)" target=_blank>
			<img src="images/icon_fb.jpg" width="40" height="40" id="Image21" /></a>
			
			<!--<a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image20','','images/icon_twitter2.jpg',1)" target=_blank>
			<img src="images/icon_twitter.jpg" width="40" height="40" id="Image20" /></a>-->
			
			<a href="https://www.youtube.com/channel/UClNNhP49seoQdBfpwe2Ik2w" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image19','','images/icon_youtube2.jpg',1)" target=_blank>
			<img src="images/icon_youtube.jpg" width="40" height="40" id="Image19" /></a>
			
			<!--<a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image23','','images/icon_googleplus2.jpg',1)" target=_blank>
			<img src="images/icon_googleplus.jpg" width="40" height="40" id="Image23" /></a>-->
			</div>