﻿@using DINFDAL.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style>
        /** filters list **/
        #filter-list {
            display: block;
            text-align: right;
            margin-bottom: 0px;
            color: #039be5;
        }

            #filter-list li {
                display: inline-block;
                width: auto;
                padding: 6px 8px;
                margin-right: 5px;
                font-size: 1.4em;
                cursor: pointer;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

                #filter-list li:hover {
                    background: #e7e2eb;
                }

                #filter-list li.active {
                    /*font-weight: bold;*/
                    background: #d8c5e7;
                }

        #videos {
            display: block;
            width: 100%;
            padding: 0 12px;
            margin-bottom: 35px;
            text-align: center;
        }

            #videos .item {
                display: none;
                opacity: 0;
                vertical-align: top;
                margin-bottom: 25px;
                color: #fff;
                font-size: 30px;
                text-align: center;
                -moz-box-sizing: border-box;
            }

                #videos .item a {
                    display: inline-block;
                    max-width: 100%;
                    text-decoration: none;
                    background: #fff;
                }

                #videos .item img {
                    padding: 3px;
                    max-width: 100%;
                    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.55);
                    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.55);
                    box-shadow: 0 1px 4px rgba(0,0,0,0.55);
                }
    </style>
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <center><h1 class="wow fadeInDown animated th_fahkwang">ถ่ายทอดสด การประกาศรางวัล Cyberry Music Contest Season 1</h1></center>
        </div>
    </div>
</div>


<!-- Start YouTube Live -->
<div class="center">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/VsbMkN0BJQY" frameborder="0" allowfullscreen></iframe>
</div>

<!-- End YouTube Live -->

<!-- Start Featured Music slider
        ================================================== -->
<!-- End Featured Music -->
<!-- Video
    ================================================== -->
<section id="video" class="pb-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="lan-module-title">
                    <h1 class="title"><span>Clips Video : </span></h1>
                    @*<ul id="filter-list" class="clearfix">
                            <li class="filter" data-filter="all">ALL</li>
                            <li class="filter" data-filter="hot">HOT CLIPS</li>
                            <li class="filter" data-filter="new">NEW COMMER</li>
                        </ul>*@
                </div>
            </div>
        </div><!-- /.row -->
        @{
            var hotvideos = ViewBag.HotVideo as IList<Song_Contest>;
            var newvideos = ViewBag.NewVideo as IList<Song_Contest>;
        }
        <div class="lan-video-holder fitvids">
            <div class="row" id="videos">

                <div class="col-md-6">
                    <h1 class="th_fahkwang text-left" style="margin-left: 10px; margin-top: 0px;">Hot</h1>

                    @foreach (var item in hotvideos)
                    {
                        var strItem = "hot";
                        //var newItem = newvideos.FirstOrDefault(i => i.int_song_contest_id == item.int_song_contest_id);
                        //if (newItem != null)
                        //{
                        //    strItem = "hot new";
                        //    newvideos.Remove(newItem);
                        //}
                        <div class="item @strItem col-xs-12 col-sm-6 col-md-6">
                            <div class="lan-single-video" style="padding-bottom: 0px;">
                                @if (!String.IsNullOrEmpty(item.txt_youtube_url))
                                {
                                    <a href="@Url.Action("SongDetail", "Profile", new {id = item.int_song_contest_id})" target="_bank"><img class="img-responsive" src="https://i1.ytimg.com/vi/@item.txt_youtube_id/hqdefault.jpg" alt=""></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("SongDetail", "Profile", new {id = item.int_song_contest_id})"><img class="img-responsive" src="~/images/soundcloud_logo.png" alt="@item.txt_song_name"></a>
                                }
                            </div>
                            <div class="profile-song-list text-left text-over-nowarp">
                                Song Name : <span>@item.txt_song_name</span><br />
                                Score : <span>@item.Score_Song.Sum(i => i.int_value)</span>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-6" style="position:inherit">
                    <h1 class="th_fahkwang text-left" style="margin-left: 10px; margin-top: 0px;">New Comer <span class="pull-right"><a href="@Url.Action("SongList")" style="color: white">All</a></span></h1>

                    @foreach (var item in newvideos)
                        {
                        <div class="item new col-xs-12 col-sm-6 col-md-6">
                            <div class="lan-single-video" style="padding-bottom: 0px;">
                                @if (!String.IsNullOrEmpty(item.txt_youtube_url))
                                    {
                                    <a href="@Url.Action("SongDetail", "Profile", new {id = item.int_song_contest_id})" target="_bank"><img class="img-responsive" src="https://i1.ytimg.com/vi/@item.txt_youtube_id/hqdefault.jpg" alt=""></a>
                                    }
                                    else
                                    {
                                    <a href="@Url.Action("SongDetail", "Profile", new {id = item.int_song_contest_id})"><img class="img-responsive" src="~/images/soundcloud_logo.png" alt="@item.txt_song_name"></a>
                                    }
                            </div>
                            <div class="profile-song-list text-left text-over-nowarp">
                                Song Name : <span>@item.txt_song_name</span><br />
                                Score : <span>@item.Score_Song.Sum(i => i.int_value)</span>
                            </div>
                        </div>
                        }
                </div>

            </div>
        </div><!-- /.lan-video-holder -->
    </div><!-- /.container -->
</section><!-- /.video section -->
<!-- End video -->
<!-- Start main content
        ================================================== -->
<section id="main-content" class="pb-30">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <img src="~/images/info1.jpg" />
            </div>
            <div class="col-xs-6">
                <img src="~/images/info2.jpg" />
            </div>
        </div>
        @* Cyberry Commnunity
            <div class="col-md-12 wow fadeInUp">
                <div class="lan-module-title">
                    <h2 class="title">Cyberry Community</h2>
                </div>
            </div>
            <!-- start main-content-left -->
            <div class="col-md-8 main-content-left">

                <div class="row">

                    <div class="col-md-12 wow fadeInUp mh-grid">

                        <div id="grid-container" class="cbp-l-grid-work">

                            <div class="cbp-item identity">
                                <a href="ajax/project1.html" class="cbp-caption cbp-singlePage">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="http://placehold.it/579x768" alt="media">
                                    </div>
                                    <div class="cbp-caption-activeWrap"></div>
                                </a>
                                <a href="ajax/project1.html" class="cbp-l-grid-work-title cbp-singlePage">Big Band</a>
                                <div class="cbp-l-grid-work-desc">Music</div>
                            </div>

                            <div class="cbp-item web-design logos">
                                <a href="ajax/project2.html" class="cbp-caption cbp-singlePage">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="http://placehold.it/1024x768" alt="media">
                                    </div>
                                    <div class="cbp-caption-activeWrap"></div>
                                </a>
                                <a href="ajax/project2.html" class="cbp-l-grid-work-title cbp-singlePage">Big Band</a>
                                <div class="cbp-l-grid-work-desc">Rock</div>
                            </div>

                            <div class="cbp-item graphic logos">
                                <a href="ajax/project3.html" class="cbp-caption cbp-singlePage">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="http://placehold.it/542x768" alt="media">
                                    </div>
                                    <div class="cbp-caption-activeWrap"></div>
                                </a>
                                <a href="ajax/project3.html" class="cbp-l-grid-work-title cbp-singlePage">Big Band</a>
                                <div class="cbp-l-grid-work-desc">Song</div>
                            </div>

                            <div class="cbp-item web-design graphic">
                                <a href="ajax/project4.html" class="cbp-caption cbp-singlePage">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="http://placehold.it/512x768" alt="media">
                                    </div>
                                    <div class="cbp-caption-activeWrap"></div>
                                </a>
                                <a href="ajax/project4.html" class="cbp-l-grid-work-title cbp-singlePage">Big Band</a>
                                <div class="cbp-l-grid-work-desc">Rock</div>
                            </div>

                            <div class="cbp-item identity web-design">
                                <a href="#" class="cbp-caption cbp-singlePage">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="http://placehold.it/774x768" alt="media">
                                    </div>
                                    <div class="cbp-caption-activeWrap"></div>
                                </a>
                                <a href="#" class="cbp-l-grid-work-title cbp-singlePage">Big Band</a>
                                <div class="cbp-l-grid-work-desc">Song</div>
                            </div>

                            <div class="cbp-item identity web-design">
                                <a href="#" class="cbp-caption cbp-singlePage">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="http://placehold.it/1024x755" alt="media">
                                    </div>
                                    <div class="cbp-caption-activeWrap"></div>
                                </a>
                                <a href="#" class="cbp-l-grid-work-title cbp-singlePage">Big Band</a>
                                <div class="cbp-l-grid-work-desc">Music</div>
                            </div>
                        </div>

                    </div><!-- /.col-md-12 -->

                </div><!-- /.row -->
                <!-- Start Most rated Music video
                      ================================================== -->

        *@
        <div class="row">
            <div class="col-md-12 wow fadeInUp">
                <div class="lan-module-title">
                    <h2 class="title">Cyberry Show</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 h_iframe">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/nhCCCym27SI" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 h_iframe">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/DCBf7oc9P6E" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 h_iframe">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/40GHXVKYkXw" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 h_iframe">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/YgJmLX45nQ8" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        @*
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="lan-most-rated-video">

                        <div class="video-slide-widget fitvids">
                            <div class="" id="service-carousel">
                                <div class="item service-block">
                                    <!-- video1 start -->
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/nhCCCym27SI" frameborder="0" allowfullscreen></iframe>
                                </div>

                                <div class="item service-block">
                                    <!-- video2 start -->
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/DCBf7oc9P6E" frameborder="0" allowfullscreen></iframe>
                                </div>

                                <!-- video3 start -->
                                <div class="item service-block">
                                    <!-- service block start -->
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/40GHXVKYkXw" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <!-- video4 start -->
                                <div class="item service-block">
                                    <!-- service block start -->
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YgJmLX45nQ8" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div><!-- /.video-slide-widget -->
                    </div>
                </div>
            </div>
            <!-- End Most rated Music video -->
        *@
        @*</div>

            /// Cyberry Community *@
        <!-- End main content left side -->
        <!-- Start Right side
                  ================================================== -->
        @*<div class="col-md-4">*@
        <!-- right sidebar -->
        @*<div class="lan-music-player wow fadeInUp">

            </div>*@<!-- /.lan-music-player -->
        @* EDITOR'S PICKS *@
        @*<div class="lan-event-content-holder wow fadeInUp">

                <div class="row">
                    <div class="col-md-12">
                        <h2><span>EDITOR'S PICKS 1  </span></h2>
                    </div>


                    <div class="col-sm-4">
                        <div class="lan-music-event-photo">
                            <img class="img-responsive" src="http://placehold.it/89x90" alt="review-item">
                        </div>
                    </div>

                    <div class="col-sm-8">

                        <div class="lan-music-event">

                            <div class="lan-band-name">
                                <p><span>ธนพล สิงห์ทองเศษ</span></p>
                            </div><!-- /.band-name -->

                            <div class="lan-genre">
                                <p><span>V5</span></p>
                            </div><!-- /.lan-genre -->

                            <div class="lan-rating">
                                <p><a href="#"><img src="images/random/rating.png" alt="rating"></a></p>
                            </div><!-- /.rating -->

                            <div class="lan-review">
                                <a class="waves-effect" href="#">Read Reviews</a>
                            </div><!-- /.lan-review -->
                        </div><!-- /.lan-music-event -->

                    </div><!-- /.col-md-8 -->

                </div><!-- /.row -->

            </div><!-- /.lan-tour-content-holder -->

            <div class="lan-event-content-holder wow fadeInUp">

                <div class="row">
                    <div class="col-md-12">
                        <h2><span>EDITOR'S PICKS  </span>2
                        </h2>
                    </div>


                    <div class="col-sm-4">
                        <div class="lan-music-event-photo">
                            <img class="img-responsive" src="http://placehold.it/89x90" alt="review-item">
                        </div>
                    </div>

                    <div class="col-sm-8">

                        <div class="lan-music-event">

                            <div class="lan-band-name">
                                <p><span>ศุภชัย ชัยรัตน์</span></p>
                            </div><!-- /.band-name -->

                            <div class="lan-genre">
                                <p><span>V13</span></p>
                            </div><!-- /.lan-genre -->

                            <div class="lan-rating">
                                <p><a href="#"><img src="images/random/rating.png" alt="rating"></a>
                                </p>
                            </div><!-- /.rating -->

                            <div class="lan-review">
                                <a class="waves-effect" href="#">Read Reviews</a>
                            </div><!-- /.lan-review -->
                        </div><!-- /.lan-music-event -->

                    </div><!-- /.col-md-8 -->

                </div>

            </div>*@
        @* END EDITOR'S PICKS *@
        @* Latest News /////
                 <div class="lan-latest-news wow fadeInUp pt-20">
                     <div class="lan-module-title">
                         <h2 class="title">LATEST NEWS & ARTICLES</h2>
                     </div>
                     <ul>
                         <li>
                             <div class="row">
                                 <div class="col-md-3">
                                     <img class="latest-news-thumb img-responsive" src="http://placehold.it/100x101" alt="thumb">
                                 </div>
                                 <div class="col-md-9">
                                     <div class="lan-latest-news-content">
                                         <p><a href="#">Numquam accumsan cu quo, prima utroque patrioque ea usu, ei...</a></p>
                                         <p class="news-date">30 March, 2015</p>
                                     </div>
                                 </div>
                             </div>
                         </li>

                         <li>
                             <div class="row">
                                 <div class="col-md-3">
                                     <img class="latest-news-thumb img-responsive" src="http://placehold.it/100x101" alt="thumb">
                                 </div>
                                 <div class="col-md-9">
                                     <div class="lan-latest-news-content">
                                         <p><a href="#">Numquam accumsan cu quo, prima utroque patrioque ea usu, ei...</a></p>
                                         <p class="news-date">30 March, 2015</p>
                                     </div>
                                 </div>
                             </div>
                         </li>

                         <li>
                             <div class="row">
                                 <div class="col-md-3">
                                     <img class="latest-news-thumb img-responsive" src="http://placehold.it/100x101" alt="thumb">
                                 </div>
                                 <div class="col-md-9">
                                     <div class="lan-latest-news-content">
                                         <p><a href="#">Numquam accumsan cu quo, prima utroque patrioque ea usu, ei...</a></p>
                                         <p class="news-date">30 March, 2015</p>
                                     </div>
                                 </div>
                             </div>
                         </li>

                         <li>
                             <div class="row">
                                 <div class="col-md-3">
                                     <img class="latest-news-thumb img-responsive" src="http://placehold.it/100x101" alt="thumb">
                                 </div>
                                 <div class="col-md-9">
                                     <div class="lan-latest-news-content">
                                         <p><a href="#">Numquam accumsan cu quo, prima utroque patrioque ea usu, ei...</a></p>
                                         <p class="news-date">30 March, 2015</p>
                                     </div>
                                 </div>
                             </div>
                         </li>
                     </ul>
                 </div>
            //// Latest News *@
    </div><!-- /.col-md-4 /.right sidebar-->
</section>
<!-- End content section -->
@section scripts
{
    <script src="~/js/jquery.mixitup.min.js"></script>
    <script>
        $(function () {
            $('#videos').mixitup({
                targetSelector: '.item',
                transitionSpeed: 450
            });
        });
        $(document).ready(function () {
            //$('.hot').click();
        });

    </script>
}