﻿<!-- Store
            ================================================== -->
<section id="store">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="lan-module-title">
                    <h1 class="title">Owen Profile</h1>
                </div>
            </div>
        </div>

        <div class="lan-store-holder pb-30">
            <ul>
                <li>
                    <div class="row wow fadeInUp">
                        <div class="col-md-4">
                            @*<div class="store-single-product-photo">
                                    <img class="img-responsive" src="http://placehold.it/360x174" alt="product">
                                </div>*@
                            <div class="lan-tour-content-holder">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="lan-music-tour-photo">
                                            <img class="img-responsive" src="~/images/random/Avatar.png" alt="cyberry music: My Avatar">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="lan-music-tour-place">
                                            <h2><span>Rooney</span></h2>
                                            <h2><span>Role : </span> Composor/Artist</h2>
                                            <h2><span>Cyberry Point : </span> 12,000</h2>
                                            <h2><span>Total Score : </span> 100</h2>
                                        </div>
                                    </div>
                                    @*<div class="col-md-12">
                                        <div class="text-center">
                                            <a href="#" class="btn-din margintop10">Get More Point</a>
                                        </div>
                                        <div class="text-center">
                                            <a href="#" class="btn-din">Upload Song</a>
                                        </div>
                                        <div class="text-center">
                                            <a href="#" class="btn-din-red">Sign Out</a>
                                        </div>
                                    </div>*@<!-- /.col-md-12 -->
                                </div><!-- /.row -->
                            </div><!-- /.lan-tour-content-holder -->
                        </div><!-- /.store-single-product-photo -->
                        <div class="col-md-8">
                            <div class="store-single-product-info">
                                <div class="row">
                                    <div class="col-md-12"><h2><span>My Videos  </span></h2></div>
                                    <div class="col-md-3">
                                        <div class="lan-music-tour-photo">
                                            <img class="img-responsive" src="~/images/random/Avatar.png" alt="cyberry music: My Avatar">
                                        </div>
                                    </div><!-- /.col-md-3 -->
                                    <div class="col-md-9">
                                        <div class="profile-song-list">
                                            Song Name : <span>The road to mandalay 1</span><br />
                                            Post On : <span>09/09/2015 </span><br />
                                            Score : <span>23,000</span>
                                        </div>
                                    </div><!-- /.col-md-9 -->
                                </div><!-- /.row 1 -->

                                <div class="row margintop10">
                                    <div class="col-md-3">
                                        <div class="lan-music-tour-photo">
                                            <img class="img-responsive" src="~/images/random/Avatar.png" alt="cyberry music: My Avatar">
                                        </div>
                                    </div><!-- /.col-md-3 -->
                                    <div class="col-md-9">
                                        <div class="profile-song-list">
                                            Song Name : <span>The road to mandalay 2</span><br />
                                            Post On : <span>09/09/2015 </span><br />
                                            Score : <span>23,000</span>
                                        </div>
                                    </div><!-- /.col-md-9 -->
                                </div><!-- /.row 2 -->

                                <div class="row margintop10">
                                    <div class="col-md-3">
                                        <div class="lan-music-tour-photo">
                                            <img class="img-responsive" src="~/images/random/Avatar.png" alt="cyberry music: My Avatar">
                                        </div>
                                    </div><!-- /.col-md-3 -->
                                    <div class="col-md-9">
                                        <div class="profile-song-list">
                                            Song Name : <span>The road to mandalay 3</span><br />
                                            Post On : <span>09/09/2015 </span><br />
                                            Score : <span>23,000</span>
                                        </div>
                                    </div><!-- /.col-md-9 -->
                                </div><!-- /.row 3 -->

                                <div class="row margintop10">
                                    <div class="col-md-3">
                                        <div class="lan-music-tour-photo">
                                            <img class="img-responsive" src="~/images/random/Avatar.png" alt="cyberry music: My Avatar">
                                        </div>
                                    </div><!-- /.col-md-3 -->
                                    <div class="col-md-9">
                                        <div class="profile-song-list">
                                            Song Name : <span>The road to mandalay 4</span><br />
                                            Post On : <span>09/09/2015 </span><br />
                                            Score : <span>23,000</span>
                                        </div>
                                    </div><!-- /.col-md-9 -->
                                </div><!-- /.row 4 -->

                            </div><!-- /.store-single-product-info -->
                            <!-- /Original Song -->
                            <div class="store-single-product-info margintop10">
                                <div class="row">
                                    <div class="col-md-12"><h2><span>Original Song </span></h2></div>
                                    <div class="col-md-3">
                                        <div class="lan-music-tour-photo">
                                            <img class="img-responsive" src="~/images/random/Avatar.png" alt="cyberry music: My Avatar">
                                        </div>
                                    </div><!-- /.col-md-3 -->
                                    <div class="col-md-9">
                                        <div class="profile-song-list">
                                            Song Name : Me and my monkey<br />
                                            By : Robbies Williams<br />
                                            Using : 10
                                        </div>
                                    </div><!-- /.col-md-9 -->
                                </div><!-- /.row 1 -->

                                <div class="row margintop10">
                                    <div class="col-md-3">
                                        <div class="lan-music-tour-photo">
                                            <img class="img-responsive" src="~/images/random/Avatar.png" alt="cyberry music: My Avatar">
                                        </div>
                                    </div><!-- /.col-md-3 -->
                                    <div class="col-md-9">
                                        <div class="profile-song-list">
                                            Song Name : People waching<br />
                                            By : Jack Johnson <br />
                                            Using : 7
                                        </div>
                                    </div><!-- /.col-md-9 -->
                                </div><!-- /.row 2 -->
                            </div><!-- /Original Song -->
                        </div><!-- /.col-md-8 -->
                    </div><!-- /.row -->
                </li><!-- /.first li -->
            </ul><!-- /.ul -->
        </div><!-- /.lan-store-holder -->
    </div><!-- /.container -->
</section> <!-- /.store -->
<!-- End store -->