﻿<!-- Rights
               ================================================== -->
<section id="about">
    <div class="container th_fahkwang">
        <div class="row">
            <div class="col-md-12">
                <div class="lan-module-title">
                    <h1 class="title">รายละเอียดลิขสิทธิ์</h1>
                </div>
            </div>
        </div>
        <div class="lan-about-holder pb-30">

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="rights-detail">
                                <h2 class="wow fadeInUp">
                                    เงื่อนไขการคุ้มครอง นักแต่งเพลงและ นักร้อง ในการร่วมสนุกกับทางบริษัทฯ
                                </h2>
                                <p>ประกาศเมื่อวันที่ 4 สิงหาคม 2558</p>
                                <p class="wow fadeInUp">
                                    เพื่อให้มีความเข้าใจไปในทิศทางเดียวกัน และไม่เกิดข้อขัดแย้งจากการดำเนินกิจกรรมสร้างสรรค์และบันเทิงของทางบริษัท ไซเบอร์รี่ มิวสิค จำกัด ระหว่าง ผู้สร้างสรรค์ผลงาน (นักแต่งเพลง) และนักร้องหรือนักแสดงกับทางบริษัทฯ จึงได้จัดทำหนังสืออิเล็กทรอนิกส์ฉบับนี้ขึ้นเพื่อเป็น “หนังสือที่ตกลงกันไว้” ตามความหมายใน พระราชบัญญัติลิขสิทธิ์ พ.ศ. ๒๕๓๗ พร้อมด้วยการลงลายมือชื่ออิเล็กทรอนิกส์ อันมีผลบังคับใช้ทางกฎหมาย ตามพระราชบัญญัติว่าด้วยธุรกรรมทางอิเล็กทรอนิกส์ พ.ศ. ๒๕๔๔ เป็นนิติสัมพันธ์ที่สมบูรณ์เพื่อการแบ่งปันผลประโยชน์ในการดำเนินกิจกรรมอันแสนสนุกร่วมกันโดยขยายความดังนี้
                                </p>
                                <p class="wow fadeInUp">
                                    เพื่อประโยชน์ในการสร้างความเข้าใจร่วมที่ตรงกัน ในที่นี้จะอธิบายความหมายที่ใช้เรียกทั่วไปให้สอดคล้องกับนิยามตาม พรบ. ลิขสิทธิ์ พ.ศ. ๒๕๓๗ โดยที่
                                </p>
                                <p class="wow fadeInUp">
                                    “ลิขสิทธิ์” ตามนิยาม พรบ. ลิขสิทธิ์ฯ จะเกี่ยวข้องกับ “นักแต่งเพลง”
                                </p>
                                <p class="wow fadeInUp">
                                    “สิทธินักแสดง” ตามนิยาม พรบ. ลิขสิทธิ์ฯ จะเกี่ยวข้องกับ “นักร้อง”
                                </p>
                                <p class="wow fadeInUp">
                                    ในการสมัครสร้างบัญชีผู้ใช้งาน โปรดเลือกประเภทศิลปินของท่านว่าเป็น “นักแต่งเพลง” หรือ “นักร้อง” หรือเลือกทั้งสองอย่าง เมื่อได้อ่านเงื่อนไขการคุ้มครองผลงานอย่างเข้าใจ และข้อตกลงแบ่งปันรายได้ อันมีเจตนาร่วมกันโดยละเอียดถ่องแท้จนสิ้นสงสัยดีแล้ว ได้โปรดกดปุ่ม “ยอมรับ” หรือไม่ “ยอมรับ” และระบุตัวตนโดยรหัสอิเล็กทรอนิกส์ (Password) อันถือเป็นการลงลายมือชื่อในหนังสือที่ตกลงกันไว้ ตามความหมายใน พรบ. ลิขสิทธิ์ฯ และเมื่อทางบริษัทฯ พิจารณาอนุมัติคำขอเปิดบัญชีผู้ใช้งานเรียบร้อยแล้ว ถือว่าเป็นการทำนิติกรรมสองฝ่ายนั้นเสร็จสมบูรณ์เรียบร้อยแล้ว
                                </p>
                                <!-- -------------------------- -->
                                <div class="rights-detail2">
                                    <p class="wow fadeInUp">
                                        <ul>
                                            <li>
                                                <h2 class="wow fadeInUp">
                                                    เงื่อนไขการคุ้มครองผลงาน “นักแต่งเพลง” (งานอันมีลิขสิทธิ์)
                                                </h2>
                                            </li>
                                            <li>
                                                <p>
                                                    หนังสืออิเล็กทรอนิกส์ฉบับนี้ทำขึ้นเพื่อเป็น “หนังสือที่ตกลงกันไว้” เพื่อให้เกิดเป็นความเข้าใจอันมีเจตนาตรงกันทั้งคำเสนอและคำสนองทั้งสองฝ่ายเพื่อมุ่งหมายให้เกิดนิติสัมพันธ์ร่วมกันอย่างสมบูรณ์ในเรื่องงานอันมีลิขสิทธิ์งานดนตรีกรรมระหว่าง บริษัท ไซเบอร์รี่ มิวสิค จำกัด และนักแต่งเพลง โดยใช้ถ้อยคำเป็นภาษาที่เข้าใจง่าย และสอดคล้องกับกฎหมาย ลิขสิทธิ์ไทย โดยมีถ้อยความดังต่อไปนี้
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    งานอันมี “ลิขสิทธิ์” ในที่นี้หมายถึง งานสร้างสรรค์อันเกิดจากความคิดริเริ่มสร้างสรรค์ด้วยความสามารถของตนเอง (Skill) ความเพียรอุตส่าห์มานะพยายาม (Labor) ตลอดจนวิจารณญาณในการไตร่ตรอง (Judgement) ของตนเอง และมิได้ลอกเลียนผู้ใดมา (Originality)
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    ซึ่ง พรบ. ลิขสิทธิ์ พ.ศ. ๒๕๓๗ มาตรา ๖ ได้บัญญัติถึงงานใดอันจะมีลิขสิทธิ์ได้ไว้ว่า “งานอันมีลิขสิทธิ์ตามพระราชบัญญัตินี้ ได้แก่งานสร้างสรรค์ประเภท วรรณกรรม นาฏกรรม ศิลปกรรม ดนตรีกรรม โสตทัศนวัสดุ ภาพยนตร์ สิ่งบันทึกเสียง งานแพร่เสียงแพร่ภาพ หรืองานอื่นใดในแผนกวรรณคดี แผนกวิทยาศาสตร์ หรือแผนกศิลปะ ของผู้สร้างสรรค์ไม่ว่างานดังกล่าวจะแสดงออกโดยวิธีหรือรูปแบบอย่างใด”
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    ซึ่งการดำเนินกิจกรรมร่วมสนุกกับทางบริษัทฯ ได้จัดทำขึ้นเพื่อหาหนทางสร้างรางวัลตอบแทนแก่ผู้สร้างสรรค์ผลงานให้เกิดประโยชน์สูงที่สุดจากการได้มาซึ่งลิขสิทธิ์
                                                </p>
                                            </li>
                                            <li>
                                                <ol>
                                                    <li>
                                                        1 การเป็นเจ้าของลิขสิทธิ์
                                                        <ol>
                                                            <li>
                                                                <p>ลิขสิทธิ์ที่จะพิจารณาในหนังสือที่ตกลงร่วมกันฉบับนี้ คือลิขสิทธิ์อันเกิดขึ้นเมื่อ ผู้สร้างสรรค์ผลงาน ได้แต่งเพลง ทั้ง เนื้อร้อง ทำนอง หรือบันทึกการเล่นดนตรีสดหรือทำมิวสิค วิดีโอ เผยแพร่ผลงานหรือโฆษณา (นิยามตามมาตรา ๔ พรบ. ลิขสิทธิ์ พ.ศ. ๒๕๓๗) ออกสู่สาธารณชน ในที่นี้ถือว่าลิขสิทธิ์จะเกิดขึ้นเมื่อผู้สร้างสรรค์นำผลงานของตน เผยแพร่ผลงานหรือโฆษณาสู่สาธารณชนครั้งแรกผ่านเว็บไซต์ cyberrymusic.com</p>
                                                            </li>
                                                            <li>
                                                                <p>ผู้สร้างสรรค์ผลงาน (ในวรรคก่อน) พึงตระหนักรู้ว่า เจตนาของตนในการ Up load ไฟล์เสียง และเนื้อร้อง ทำนอง เพลงใดๆ ของตนขึ้นไว้ยังเว็บไซต์ cyberrymusic.com นั้นมุ่งหมายเพื่อก่อให้เกิดนิติสัมพันธ์ในการหาประโยชน์จากลิขสิทธิ์มาแบ่งปันร่วมกันกับทางบริษัทฯ ตาม “ข้อตกลงรายได้” (เอกสารแนบ กติกา)</p>
                                                            </li>
                                                            <li>
                                                                <p>ดังนั้น บริษัทฯ เป็นผู้ลงทุนทางธุรกิจ ดำเนินกิจกรรมทางธุรกิจเพื่อหารายได้ และจ่ายค่าตอบแทนแก่ผู้สร้างสรรค์ผลงานอย่างเป็นธรรมตามกติกาข้อตกลงที่ประกาศชัดแจ้งไว้แล้ว ให้ถือว่าเป็นการยอมรับทั้งสองฝ่ายว่าทาง บริษัท ไซเบอร์รี่ มิวสิค จำกัด เป็นผู้ว่าจ้าง และเจ้าของผลงานสร้างสรรค์ เป็นลูกจ้าง ตามความหมายใน พรบ. ลิขสิทธิ์ พ.ศ. ๒๕๓๗ โดยการเป็นเจ้าของลิขสิทธิ์มี ๒ กรณี คือ</p>
                                                                <ol>
                                                                    <li>
                                                                        1.1 นักแต่งเพลงเป็นเจ้าของลิขสิทธิ์ทันทีเมื่อประกาศการสร้างสรรค์ผลงาน
                                                                        <ol>
                                                                            <li>
                                                                                <p>เมื่อนักแต่งเพลง (ผู้สร้างสรรค์ผลงาน)ได้ Up load ไฟล์เสียง และเนื้อร้อง ทำนอง เพลงใดๆ ของตนขึ้นไว้ยังเว็บไซต์ cyberrymusic.com และเผยแพร่สู่สาธารณชนพอสมควรให้ถือว่า นักแต่งเพลง (ผู้สร้างสรรค์ผลงาน) เป็นเจ้าของลิขสิทธิ์ ในผลงานนั้นทันทีโดยไม่เกี่ยวข้องกับทางบริษัทฯ ตราบเมื่อทางบริษัทสามารถนำเพลงอันมีลิขสิทธิ์นั้นไปหารายได้ และนำมาแบ่งปันให้กับนักแต่งเพลง (ผู้สร้างสรรค์ผลงาน) ตามกติกาที่ได้ประกาศไว้ชัดแจ้ง ทางบริษัทฯ จึงจะได้ถือลิขสิทธิ์ร่วม</p>
                                                                            </li>
                                                                            <li>
                                                                                ขยายความดังนี้
                                                                            </li>
                                                                            <li>
                                                                                พรบ. ลิขสิทธิ์ พ.ศ. ๒๕๓๗ มาตรา ๘ บัญญัติไว้ว่า “ให้ผู้สร้างสรรค์เป็นผู้มีลิขสิทธิ์ในงานที่ตนได้สร้างสรรค์ขึ้น...”
                                                                            </li>
                                                                            <li>
                                                                                <p>ทางบริษัทฯ ในฐานะผู้ว่าจ้าง รับผิดชอบค่าตอบแทนและค่าใช้จ่ายแก่ผู้สร้างสรรค์ผลงาน โดยการยกเว้นการเก็บค่าใช้จ่ายในการเผยแพร่ และโฆษณาผลงานสร้างสรรค์สู่สาธารณชน และสัญญาว่าจะให้ค่าตอบแทนตาม “ข้อตกลงรายได้” (เอกสารแนบ กติกา) เมื่อมีผู้สนใจนำผลงานนั้นมาใช้ประโยชน์สามารถนำเพลงอันมีลิขสิทธิ์นั้นไปหารายได้ ซึ่ง บริษัทฯ มีสิทธิเผยแพร่ผลงานนั้นโดยมิถือว่าละเมิดลิขสิทธิ์ ตาม พรบ. ลิขสิทธิ์ พ.ศ. ๒๕๓๗ มาตรา ๙ บัญญัติไว้ว่า “งานที่ผู้สร้างสรรค์ได้สร้างสรรค์ขึ้นในฐานะพนักงานหรือลูกจ้าง ถ้ามิได้ทำเป็นหนังสือตกลงกันไว้เป็นอย่างอื่น ให้ลิขสิทธิ์ในงานนั้นเป็นของผู้สร้างสรรค์ แต่นายจ้างมีสิทธินำงานนั้นออกเผยแพร่ต่อสาธารณชนได้ตามที่เป็นวัตถุประสงค์แห่งการจ้างแรงงานนั้น”</p>
                                                                            </li>
                                                                        </ol>
                                                                    </li>
                                                                    <li>
                                                                        1.2 เจ้าของลิขสิทธิ์โดยการรับโอนลิขสิทธิ์
                                                                        <ol>
                                                                            <li>
                                                                                <p>
                                                                                    แต่เมื่อผลงานเพลง ทั้ง เนื้อร้อง ทำนอง หรือบันทึกการเล่นดนตรีสดหรือทำมิวสิค วิดีโอ อันมีลิขสิทธิ์เกิดขึ้นนั้น ทันทีที่มีรายได้เพื่อเป็นค่าตอบแทนตาม “ข้อตกลงรายได้” (เอกสารแนบ กติกา) ให้ถือว่าทาง บริษัท ไซเบอร์รี่ มิวสิค จำกัด “เป็นเจ้าของลิขสิทธิ์ทันที” ในฐานะผู้ว่าจ้าง และเจ้าของผลงานสร้างสรรค์ เป็นลูกจ้าง ตามความหมายใน มาตรา ๑๐ พรบ. ลิขสิทธิ์ พ.ศ. ๒๕๓๗ ซึ่งบัญญัติไว้ว่า “งานที่ผู้สร้างสรรค์ได้สร้างสรรค์ขึ้นโดยการรับจ้างบุคคลอื่น ให้ผู้ว่าจ้างเป็นผู้มีลิขสิทธิ์ในงานนั้น เว้นแต่ผู้สร้างสรรค์และผู้ว่าจ้างจะได้ตกลงกันไว้เป็นอย่างอื่น”
                                                                                </p>
                                                                            </li>
                                                                            <li>
                                                                                <p>
                                                                                    การ “รับจ้าง” ตามความหมายใน มาตรา ๑๐ พรบ. ลิขสิทธิ์ พ.ศ. ๒๕๓๗ นี้คือ การจ้างทำของตามประมวลกฎหมายแพ่งและพาณิชย์ โดยผู้ว่าจ้างประสงค์ได้ผลสำเร็จของงานไปใช้ประโยชน์ โดยผู้ว่าจ้างจะหาหนทางจ่ายค่าตอบแทนลูกจ้างให้ได้มากที่สุดตาม “ข้อตกลงรายได้” (เอกสารแนบ กติกา) และลิขสิทธิ์งานสร้างสรรค์ หรือ เพลง ทั้ง เนื้อร้อง ทำนอง และมิวสิควิดีโอ ที่เกิดขึ้นตกเป็นของ บริษัท ไซเบอร์รี่ มิวสิค จำกัด ตามบทบัญญัติแห่งกฎหมาย และสัญญาในฉบับนี้
                                                                                </p>
                                                                            </li>
                                                                            <li>
                                                                                <p>
                                                                                    อย่างไรก็ตาม ในหนังสือฉบับนี้ บริษัท ไซเบอร์รี่ มิวสิค จำกัด อาจจะให้ถือว่า งานสร้างสรรค์ดังกล่าวเป็นลิขสิทธิ์ร่วมทั้งสองฝ่าย หากมีการตกลงเพิ่มเติมเป็นรายบุคคล ซึ่งแต่ละฝ่ายอาจสามารถนำไปทำให้เกิดประโยชน์นอกเหนือจาก “ข้อตกลงรายได้” (เอกสารแนบ กติกา) ดังกล่าวมาแบ่งปันกัน
                                                                                </p>
                                                                            </li>
                                                                        </ol>
                                                                    </li>
                                                                </ol>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                </ol>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <h2 class="wow fadeInUp">
                                                    เงื่อนไขการคุ้มครองสิทธินักร้อง (สิทธินักแสดง)
                                                </h2>
                                            </li>
                                            <li>
                                                <p>
                                                    หนังสืออิเล็กทรอนิกส์ฉบับนี้ขึ้นเพื่อเป็น “หนังสือที่ตกลงกันไว้” เพื่อให้เกิดเป็นความเข้าใจอันมีเจตนาตรงกันทั้งคำเสนอและคำสนองทั้งสองฝ่ายเพื่อมุ่งหมายให้เกิดนิติสัมพันธ์ร่วมกันอย่างสมบูรณ์ในเรื่องงานอันมีลิขสิทธิ์เพลงระหว่าง บริษัท ไซเบอร์รี่ มิวสิค จำกัด และนักร้องหรือเรียกโดยรวมว่านักแสดงตาม พระราชบัญญัติลิขสิทธิ์ พ.ศ. ๒๕๓๗ โดยใช้ถ้อยคำเป็นภาษาที่เข้าใจง่าย และสอดคล้องกับกฎหมาย ลิขสิทธิ์ไทย โดยมีถ้อยความดังต่อไปนี้
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    พรบ.ลิขสิทธิ์ พ.ศ. ๒๕๓๗ มาตรา ๔ ให้ความหมายของ “นักแสดง” ไว้ว่า “ผู้แสดง นักดนตรี นักร้อง นักเต้น นักรำ และผู้ซึ่งแสดงท่าทาง ร้อง กล่าว พากย์ แสดงตามบทหรือในลักษณะอื่นใด”
                                                </p>
                                            </li>
                                            <li>
                                                <ol>
                                                    <li>
                                                        2.	สิทธินักร้องหรือนักแสดง
                                                        <ol>
                                                            <li>
                                                                <p>
                                                                    นักร้องหรือนักแสดงที่ตกลงยอมรับเงื่อนไขการคุ้มครองสิทธิ์ในหนังสือสัญญาฉบับนี้ อันสอดคล้องกับ พรบ.ลิขสิทธิ์ พ.ศ. ๒๕๓๗ ซึ่งจะได้รับการคุ้มครองสิทธิ ๒ ประการ คือ สิทธิแต่เพียงผู้เดียว (Exclusive rights) และ สิทธิในการได้รับค่าตอบแทน (Rights to Remuneration)
                                                                </p>
                                                                <ol>
                                                                    <li>
                                                                        <p>
                                                                            2.1 สิทธิแต่เพียงผู้เดียว (Exclusive rights)
                                                                            <ol>
                                                                                <li>
                                                                                    <p>
                                                                                        นักร้องหรือนักแสดง ที่แสดงความสามารถ (Performance) ในเว็บไซต์ cyberrymusic.com ของ บริษัท ไซเบอร์รี่ มิวสิค จำกัด จะมีสิทธิแต่เพียงผู้เดียวในการกระทำกับการแสดงความสามารถของตนตามบทบัญญัติในมาตรา ๔๔ พรบ.ลิขสิทธิ์ พ.ศ. ๒๕๓๗ และเงื่อนไขที่ระบุไว้ดังต่อไปนี้
                                                                                    </p>
                                                                                    <ol>
                                                                                        <li>
                                                                                            <p>
                                                                                                2.1.1 นักร้องหรือนักดนตรีหรือนักแสดง ที่ได้เปิดบัญชีผู้ใช้งานกับเว็บไซต์ cyberrymusic.com มีสิทธิในการเลือกเพลงใดก็ได้อันเป็นลิขสิทธิ์ของ บริษัท ไซเบอร์รี่ มิวสิค จำกัด มาร้องเล่น ทำซ้ำ ดัดแปลง บันทึก ทำการแสดงความสามารถเพื่อแพร่เสียงแพร่ภาพการร้องเพลงเล่นดนตรีต่อสาธารณชนเฉพาะบนเว็บไซต์ cyberrymusic.com โดยมุ่งหมายแบ่งปันรายได้กับทาง บริษัท ไซเบอร์รี่ มิวสิค จำกัด ตามเงื่อนไข “ข้อตกลงรายได้” (เอกสารแนบ) หรือมีการทำสัญญาไว้เป็นอย่างอื่น แต่ทั้งนี้ต้องมีการแสดงสัญลักษณ์ที่มาของเพลงอันเป็นงานลิขสิทธิ์นั้น เช่น สัญลักษณ์ โลโก้ ไซเบอร์รี่ มิวสิค เพื่อเป็นข้อมูลในการบริหารสิทธิ อันเป็นไปตามบทบัญญัติ พรบ. ลิขสิทธิ์ (ฉบับที่ ๒) พ.ศ. ๒๕๕๘
                                                                                            </p>
                                                                                        </li>
                                                                                        <li>
                                                                                            <p>
                                                                                                2.1.2 นักร้องหรือนักดนตรีหรือนักแสดง ให้สิทธิในการอนุญาต บริษัท ไซเบอร์รี่ มิวสิค จำกัด แพร่เสียงแพร่ภาพการร้องเพลงหรือแสดงความสามารถของตนต่อสาธารณชนในสื่อใดก็ได้ โดยไม่ถือว่าละเมิดสิทธิ์ ซึ่งทางบริษัทฯ สัญญาว่าจะมีการแบ่งปันรายได้ตามเงื่อนไข “ข้อตกลงรายได้” (เอกสารแนบ กติกา) หากไม่มีการทำสัญญาไว้เป็นอย่างอื่น เมื่อยอมรับเงื่อนไขการเปิดบัญชีผู้ใช้งานเว็บไซต์ในสัญญานี้แล้ว
                                                                                            </p>
                                                                                        </li>
                                                                                        <li>
                                                                                            <p>
                                                                                                2.1.3 นักร้องหรือนักดนตรีหรือนักแสดง มีสิทธิไม่อนุญาตให้นักร้องหรือนักดนตรีหรือนักแสดงอื่นใดทำการแสดงอันมีลักษณะการแสดงที่มุ่งหมายสื่อสารงานศิลปะแก่สาธารณชนในความหมายเดียวกันหรือท่าทางการแสดงเลียนแบบกัน ตามบทบัญญัติแห่ง พรบ. ลิขสิทธิ์ พ.ศ. ๒๕๓๗
                                                                                            </p>
                                                                                        </li>
                                                                                        <li>
                                                                                            <p>
                                                                                                2.1.4 นักร้องหรือนักดนตรีหรือนักแสดง มีสิทธิบันทึกการแสดงของตนได้ หากยังไม่มีผู้ใดบันทึกการแสดงนั้น
                                                                                            </p>
                                                                                        </li>
                                                                                        <li>
                                                                                            <p>
                                                                                                2.1.5 นักร้องหรือนักดนตรีหรือนักแสดง ให้สิทธิในการอนุญาต บริษัท ไซเบอร์รี่ มิวสิค จำกัด แพร่เสียงแพร่ภาพการร้องเพลงหรือเล่นดนตรีสดหรือแสดงความสามารถของตนต่อสาธารณชน (Live Performance) โดยมิต้องแบ่งปันรายได้ หากไม่มีการทำสัญญาไว้เป็นอย่างอื่น นอกเหนือจากเงื่อนไข “ข้อตกลงรายได้” (เอกสารแนบ กติกา) เมื่อยอมรับเงื่อนไขการเปิดบัญชีผู้ใช้งานเว็บไซต์ในสัญญานี้แล้ว
                                                                                            </p>
                                                                                        </li>
                                                                                        <li>
                                                                                            <p>
                                                                                                2.1.6 นักร้องหรือนักดนตรีหรือนักแสดง มีสิทธิอนุญาตให้ทาง บริษัท ไซเบอร์รี่ มิวสิค จำกัด สามารถบันทึกการแสดงสดดังกล่าวไปใช้ประโยชน์ได้ โดยมิต้องบอกกล่าวหากไม่ทำให้นักร้องหรือนักแสดงเสียสิทธิ์ใดไป เมื่อยอมรับเงื่อนไขการเปิดบัญชีผู้ใช้งานเว็บไซต์ในสัญญานี้แล้วให้ถือว่าใช้สิทธิอนุญาตให้ บริษัท ไซเบอร์รี่ มิวสิค จำกัด สามารถบันทึกการแสดงสดดังกล่าวไปใช้ประโยชน์ได้
                                                                                            </p>
                                                                                        </li>
                                                                                        <li>
                                                                                            <p>
                                                                                                2.1.7 นักร้องหรือนักดนตรีหรือนักแสดง ที่เปิดบัญชีผู้ใช้งานเว็บไซต์ cyberrymusic.com และได้รับรางวัลการประกวดแข่งขันในแต่ละปี จะถือว่าได้เซ็นสัญญาเป็นศิลปิน (Artist) ในสังกัด บริษัท ไซเบอร์รี่ มิวสิค จำกัด ทันทีเมื่อยอมรับเงื่อนไขการเปิดบัญชีผู้ใช้งานเว็บไซต์ในสัญญานี้แล้ว ซึ่งจะได้ออกอัลบั้ม แสดงคอนเสิร์ต และโชว์ตัวต่อไป
                                                                                            </p>
                                                                                        </li>
                                                                                        <li>
                                                                                            <p>
                                                                                                2.1.8 นักร้องหรือนักดนตรีหรือนักแสดง ที่เปิดบัญชีผู้ใช้งานเว็บไซต์ cyberrymusic.com มีสิทธิได้รับโอกาสในการเซ็นสัญญาเป็นศิลปิน (Artist) ในสังกัด บริษัท ไซเบอร์รี่ มิวสิค จำกัด เพื่อออกอัลบั้ม แสดงคอนเสิร์ต และโชว์ตัวต่อไป
                                                                                            </p>
                                                                                        </li>
                                                                                        <li>
                                                                                            <p>
                                                                                                2.1.9 นักร้องหรือนักดนตรีหรือนักแสดง ที่เปิดบัญชีผู้ใช้งานเว็บไซต์ cyberrymusic.com มีสิทธิในการได้รับค่าตอบแทนตามเงื่อนไข “ข้อตกลงรายได้” (เอกสารแนบ กติกา)
                                                                                            </p>
                                                                                        </li>
                                                                                        <li>
                                                                                            <p>
                                                                                                2.1.10 นักร้องหรือนักดนตรีหรือนักแสดง แต่งตั้งให้ บริษัท ไซเบอร์รี่ มิวสิค จำกัด เป็นตัวแทนร่วมในการบริหารสิทธิการแสดงของตน เพื่อเรียกร้องสิทธิจากผู้ละเมิดสิทธิตามกฎหมายต่อไป
                                                                                            </p>
                                                                                        </li>
                                                                                    </ol>
                                                                                </li>
                                                                            </ol>
                                                                        </p>
                                                                    </li>
                                                                </ol>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                </ol>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <h3>หมายเหตุ</h3>
                                                <ol>
                                                    <li>
                                                        <p>
                                                            1. หากมีการแก้ไขเพิ่มเติม เงื่อนไขการคุ้มครอง นักแต่งเพลงและ นักร้อง ในการร่วมสนุกกับทางบริษัทฯ จะประกาศเป็นฉบับแก้ไขเพิ่มเติมโดยไม่แก้ไขเปลี่ยนแปลงเงื่อนไขเดิม
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p>
                                                            2. เพลงทั้งหมดที่เป็นลิขสิทธิ์ร่วมระหว่าง cyberry music กับนักแต่งเพลง อนุญาตให้ทุกคนเผยแพร่ได้ทุกช่องทางการสื่อสาร นำไปใช้ในงานรื่นเริงหรือนำไปแสดงต่อสาธารณชนได้หรือนำไปเล่นตามร้านอาหารและเปิดในสถานบันเทิงได้ โดยไม่ถือว่าเป็นการละเมิดลิขสิทธิ์
                                                        </p>
                                                    </li>
                                                </ol>
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                                <!-- -------------------------- -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</section> <!-- /.Rights -->
<!-- End Rights -->