﻿@model PagedList.IPagedList<Song_Contest>
@using PagedList.Mvc;
@using DINFDAL.Models
@{
    var EditorPickSong = ViewBag.EditorPickSong as IList<Song_Contest>;
    var PopularSong = ViewBag.PopularSong as IList<Song_Contest>;
    var RandomSong = ViewBag.RandomSong as IList<Song_Contest>;
    var NewSong = ViewBag.NewSong as IList<Song_Contest>;
}
@section styles{
    <style>
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color: #428bca;
        }
    </style>
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="lan-module-title">
                <h1 class="title">Song List</h1>
            </div>
        </div>
    </div><!-- /.row -->

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab1">Popular Song</a></li>
    </ul>


    <div class="tab-content">
        <div id="tab1" class="tab-pane fade in active">
            <div class="lan-video-holder fitvids">
                <div class="row" style="padding-top: 10px;">
                    @foreach (var item in PopularSong)
                    {
                        <div class="col-sm-3" style="margin: 7px 0px">
                            <div class="lan-single-video" style="padding-bottom: 0px;">
                                @if (!String.IsNullOrEmpty(item.txt_youtube_url))
                                {
                                    <a href="@Url.Action("SongDetail", "Profile", new {id = item.int_song_contest_id})" target="_bank"><img class="img-responsive" style="border: 1px solid #4b4b4b;" src="https://i1.ytimg.com/vi/@item.txt_youtube_id/hqdefault.jpg" alt=""></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("SongDetail", "Profile", new { id = item.int_song_contest_id })"><img class="img-responsive" style="border: 1px solid #4b4b4b;" src="~/images/soundcloud_logo.png" alt="@item.txt_song_name"></a>
                                }
                            </div>
                            <div class="profile-song-list text-left text-over-nowarp">
                                Song Name : <span>@item.txt_song_name</span><br />
                                Code Vote : <span>@item.txt_vote_code</span><br />
                                User : <span>@item.User.UserName</span><br />
                                Score : <span>@item.Score_Song.Sum(i => i.int_value)</span>
                            </div>
                        </div>
                        <!-- /.col-md-4 -->
                    }
                </div><!-- /.row -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <a href="@Url.Action("SongList","Home",new {p="popular"})">Show more</a>
        </div>
    </div>
    <!-- /.All Artist -->
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab2">New Comer</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab2" class="tab-pane fade in active">
            <div class="lan-video-holder fitvids">
                <div class="row" style="padding-top: 10px;">
                    @foreach (var item in NewSong)
                    {
                        <div class="col-sm-3" style="margin: 7px 0px">
                            <div class="lan-single-video" style="padding-bottom: 0px;">
                                @if (!String.IsNullOrEmpty(item.txt_youtube_url))
                                {
                                    <a href="@Url.Action("SongDetail", "Profile", new {id = item.int_song_contest_id})" target="_bank"><img class="img-responsive" style="border: 1px solid #4b4b4b;" src="https://i1.ytimg.com/vi/@item.txt_youtube_id/hqdefault.jpg" alt=""></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("SongDetail", "Profile", new { id = item.int_song_contest_id })"><img class="img-responsive" style="border: 1px solid #4b4b4b;" src="~/images/soundcloud_logo.png" alt="@item.txt_song_name"></a>
                                }
                            </div>
                            <div class="profile-song-list text-left text-over-nowarp">
                                Song Name : <span>@item.txt_song_name</span><br />
                                Code Vote : <span>@item.txt_vote_code</span><br />
                                User : <span>@item.User.UserName</span><br />
                                Score : <span>@item.Score_Song.Sum(i => i.int_value)</span>
                            </div>
                        </div>
                        <!-- /.col-md-4 -->
                    }
                </div><!-- /.row -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="pull-right">
            <a href="@Url.Action("SongList","Home",new {p="new"})">Show more</a>
        </div>
    </div>
    <!-- /.All Artist -->
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab3">Random</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab3" class="tab-pane fade in active">
            <div class="lan-video-holder fitvids">
                <div class="row" style="padding-top: 10px;">
                    @foreach (var item in RandomSong)
                    {
                        <div class="col-sm-3" style="margin: 7px 0px">
                            <div class="lan-single-video" style="padding-bottom: 0px;">
                                @if (!String.IsNullOrEmpty(item.txt_youtube_url))
                                {
                                    <a href="@Url.Action("SongDetail", "Profile", new {id = item.int_song_contest_id})" target="_bank"><img class="img-responsive" style="border: 1px solid #4b4b4b;" src="https://i1.ytimg.com/vi/@item.txt_youtube_id/hqdefault.jpg" alt=""></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("SongDetail", "Profile", new { id = item.int_song_contest_id })"><img class="img-responsive" style="border: 1px solid #4b4b4b;" src="~/images/soundcloud_logo.png" alt="@item.txt_song_name"></a>
                                }
                            </div>
                            <div class="profile-song-list text-left text-over-nowarp">
                                Song Name : <span>@item.txt_song_name</span><br />
                                Code Vote : <span>@item.txt_vote_code</span><br />
                                User : <span>@item.User.UserName</span><br />
                                Score : <span>@item.Score_Song.Sum(i => i.int_value)</span>
                            </div>
                        </div>
                        <!-- /.col-md-4 -->
                    }
                </div><!-- /.row -->
            </div>
        </div>
    </div>



    <div class="row">
        <div class="pull-right">
            <a href="@Url.Action("SongList","Home",new {p="random"})">Show more</a>
        </div>
    </div>
    <!-- /.All Artist -->
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab4">Editor Pick</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab4" class="tab-pane fade in active">
            <div class="lan-video-holder fitvids">
                <div class="row" style="padding-top: 10px;">
                    @foreach (var item in EditorPickSong)
                    {
                        <div class="col-sm-3" style="margin: 7px 0px">
                            <div class="lan-single-video" style="padding-bottom: 0px;">
                                @if (!String.IsNullOrEmpty(item.txt_youtube_url))
                                {
                                    <a href="@Url.Action("SongDetail", "Profile", new {id = item.int_song_contest_id})" target="_bank"><img class="img-responsive" style="border: 1px solid #4b4b4b;" src="https://i1.ytimg.com/vi/@item.txt_youtube_id/hqdefault.jpg" alt=""></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("SongDetail", "Profile", new { id = item.int_song_contest_id })"><img class="img-responsive" style="border: 1px solid #4b4b4b;" src="~/images/soundcloud_logo.png" alt="@item.txt_song_name"></a>
                                }
                            </div>
                            <div class="profile-song-list text-left text-over-nowarp">
                                Song Name : <span>@item.txt_song_name</span><br />
                                Code Vote : <span>@item.txt_vote_code</span><br />
                                User : <span>@item.User.UserName</span><br />
                                Score : <span>@item.Score_Song.Sum(i => i.int_value)</span>
                            </div>
                        </div>
                        <!-- /.col-md-4 -->
                    }
                </div><!-- /.row -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="pull-right">
            <a href="@Url.Action("SongList","Home",new {p="editorpick"})">Show more</a>
        </div>
    </div>
</div><!-- /.container -->
