﻿<!-- Start main content
                ================================================== -->
<section id="main-content" class="pb-30">
    <div class="container">

        <div class="row">

            @*<div class="col-md-12 wow fadeInUp">
                <div class="lan-module-title">
                    <h2 class="title">Video Detail</h2>
                </div>
            </div>*@

            <!-- Start Left side
              ================================================== -->
            <div class="col-md-4">
                <!-- Left sidebar -->
                <div class="lan-event-content-holder wow fadeInUp">

                    <div class="row">
                        <div class="col-md-12">
                            <h2><span>Song ID: xxxxxxxx  </span></h2>
                        </div>


                        <div class="col-sm-4">
                            <div class="lan-music-event-photo">
                                <img class="img-responsive" src="http://placehold.it/89x90" alt="youtube thumpnail">
                            </div>
                        </div>

                        <div class="col-sm-8">

                            <div class="lan-music-event">

                                <div class="lan-band-name">
                                    <p>เพลง: <span>Me and my monkey</span></p>
                                </div><!-- /.band-name -->

                                <div class="lan-genre">
                                    <p>ผู้แต่ง: ศุภชัย ชัยรัตน์</p>
                                </div><!-- /.lan-genre -->
                                <div class="lan-review">
                                    <h2 style="color:#fa4c29;">
                                        Score: XXXXXX
                                    </h2>
                                    @*<a class="waves-effect" href="#">Vote Now</a>*@
                                </div><!-- /.lan-review -->
                            </div><!-- /.lan-music-event -->

                        </div><!-- /.col-md-8 -->

                    </div><!-- /.row -->

                </div><!-- /.lan-tour-content-holder -->
            </div><!-- /.col-md-4 /.left sidebar-->
            <!-- start main-content-left -->
            <div class="col-md-8 main-content-left">


                <!-- Start Most rated Music video
                      ================================================== -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="lan-most-rated-video">

                            <div class="video-slide-widget fitvids">
                                <div class="" id="service-carousel">
                                    <div class="item service-block">
                                        <!-- video1 start -->
                                        <iframe src="http://player.vimeo.com/video/70925013"></iframe>
                                    </div>
                                </div>
                            </div><!-- /.video-slide-widget -->
                        </div>
                    </div>
                </div>
                <!-- End Most rated Music video -->
            </div>
            <!-- End main content left side -->
        </div><!-- /.row -->
        <!-- Artist Song เพลงของ Artist ท่านนี้ -->
        <div class="row">
            <div class="col-md-12">
                <div class="lan-module-title wow fadeInUp">
                    <h2 class="title">Artist Song</h2>
                </div>
            </div>
        </div>

        <div class="tour-image-gallery pb-30">
            <div class="row wow fadeInUp">

                <div class="col-md-3">
                    <div class="lan-gallery-post animated" data-animation-delay="0.8s" data-animation="fadeIn">
                        <div class="lan-blog-post">
                            <div class="ImageWrapper ContentWrapperO chrome-fix">
                                <img class="img-responsive" src="http://placehold.it/263x190" alt="thumb">
                                <div class="ContentO">
                                    <div class="Content">
                                        <h2>
                                            Score: xxxxx
                                        </h2>
                                        <p>
                                            ชื่อเพลง: xxxxxxxxxxxxxxxxxxxxxxx
                                        </p>
                                    </div>
                                </div>
                            </div><!-- /.ImageWrapper -->
                        </div><!-- /.lan-blog-post -->
                    </div><!-- /.lan-gallery-post -->
                </div>

                <div class="col-md-3">
                    <div class="lan-gallery-post animated" data-animation-delay="0.8s" data-animation="fadeIn">
                        <div class="lan-blog-post">
                            <div class="ImageWrapper ContentWrapperO chrome-fix">
                                <img class="img-responsive" src="http://placehold.it/263x190" alt="thumb">
                                <div class="ContentO">
                                    <div class="Content">
                                        <h2>
                                            Score: xxxxx
                                        </h2>
                                        <p>
                                            ชื่อเพลง: xxxxxxxxxxxxxxxxxxxxxxx
                                        </p>
                                    </div>
                                </div>
                            </div><!-- /.ImageWrapper -->
                        </div><!-- /.lan-blog-post -->
                    </div><!-- /.lan-gallery-post -->
                </div>

                <div class="col-md-3">
                    <div class="lan-gallery-post animated" data-animation-delay="0.8s" data-animation="fadeIn">
                        <div class="lan-blog-post">
                            <div class="ImageWrapper ContentWrapperO chrome-fix">
                                <img class="img-responsive" src="http://placehold.it/263x190" alt="thumb">
                                <div class="ContentO">
                                    <div class="Content">
                                        <h2>
                                            Score: xxxxx
                                        </h2>
                                        <p>
                                            ชื่อเพลง: xxxxxxxxxxxxxxxxxxxxxxx
                                        </p>
                                    </div>
                                </div>
                            </div><!-- /.ImageWrapper -->
                        </div><!-- /.lan-blog-post -->
                    </div><!-- /.lan-gallery-post -->
                </div>

                <div class="col-md-3">
                    <div class="lan-gallery-post animated" data-animation-delay="0.8s" data-animation="fadeIn">
                        <div class="lan-blog-post">
                            <div class="ImageWrapper ContentWrapperO chrome-fix">
                                <img class="img-responsive" src="http://placehold.it/263x190" alt="thumb">
                                <div class="ContentO">
                                    <div class="Content">
                                        <h2>
                                            Score: xxxxx
                                        </h2>
                                        <p>
                                            ชื่อเพลง: xxxxxxxxxxxxxxxxxxxxxxx
                                        </p>
                                    </div>
                                </div>
                            </div><!-- /.ImageWrapper -->
                        </div><!-- /.lan-blog-post -->
                    </div><!-- /.lan-gallery-post -->
                </div>
            </div>
        </div>

        <div class="lan-pagination">
            <ul class="pagination">
                <li><a class="start" href="#">Start</a></li>
                <li><a class="prev" href="#">Prev</a></li>
                <li><a class="active" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">Next</a></li>
                <li><a href="#">End</a></li>
            </ul>
        </div><!-- /.lan-pagination -->
        <!-- Artist Song เพลงของ Artist ท่านนี้ -->
        <!-- Composser ที่แต่งเพลงนี้ -->
        <div class="row">
            <div class="col-md-12">
                <div class="lan-module-title wow fadeInUp">
                    <h2 class="title">Composser's Song</h2>
                </div>
            </div>
        </div>

        <div class="tour-image-gallery pb-30">
            <div class="row wow fadeInUp">

                <div class="col-md-3">
                    <div class="lan-gallery-post animated" data-animation-delay="0.8s" data-animation="fadeIn">
                        <div class="lan-blog-post">
                            <div class="ImageWrapper ContentWrapperO chrome-fix">
                                <img class="img-responsive" src="http://placehold.it/263x190" alt="thumb">
                                <div class="ContentO">
                                    <div class="Content">
                                        <h2>
                                            Score: xxxxx
                                        </h2>
                                        <p>
                                            ชื่อเพลง: xxxxxxxxxxxxxxxxxxxxxxx
                                        </p>
                                    </div>
                                </div>
                            </div><!-- /.ImageWrapper -->
                        </div><!-- /.lan-blog-post -->
                    </div><!-- /.lan-gallery-post -->
                </div>

                <div class="col-md-3">
                    <div class="lan-gallery-post animated" data-animation-delay="0.8s" data-animation="fadeIn">
                        <div class="lan-blog-post">
                            <div class="ImageWrapper ContentWrapperO chrome-fix">
                                <img class="img-responsive" src="http://placehold.it/263x190" alt="thumb">
                                <div class="ContentO">
                                    <div class="Content">
                                        <h2>
                                            Score: xxxxx
                                        </h2>
                                        <p>
                                            ชื่อเพลง: xxxxxxxxxxxxxxxxxxxxxxx
                                        </p>
                                    </div>
                                </div>
                            </div><!-- /.ImageWrapper -->
                        </div><!-- /.lan-blog-post -->
                    </div><!-- /.lan-gallery-post -->
                </div>

                <div class="col-md-3">
                    <div class="lan-gallery-post animated" data-animation-delay="0.8s" data-animation="fadeIn">
                        <div class="lan-blog-post">
                            <div class="ImageWrapper ContentWrapperO chrome-fix">
                                <img class="img-responsive" src="http://placehold.it/263x190" alt="thumb">
                                <div class="ContentO">
                                    <div class="Content">
                                        <h2>
                                            Score: xxxxx
                                        </h2>
                                        <p>
                                            ชื่อเพลง: xxxxxxxxxxxxxxxxxxxxxxx
                                        </p>
                                    </div>
                                </div>
                            </div><!-- /.ImageWrapper -->
                        </div><!-- /.lan-blog-post -->
                    </div><!-- /.lan-gallery-post -->
                </div>

                <div class="col-md-3">
                    <div class="lan-gallery-post animated" data-animation-delay="0.8s" data-animation="fadeIn">
                        <div class="lan-blog-post">
                            <div class="ImageWrapper ContentWrapperO chrome-fix">
                                <img class="img-responsive" src="http://placehold.it/263x190" alt="thumb">
                                <div class="ContentO">
                                    <div class="Content">
                                        <h2>
                                            Score: xxxxx
                                        </h2>
                                        <p>
                                            ชื่อเพลง: xxxxxxxxxxxxxxxxxxxxxxx
                                        </p>
                                    </div>
                                </div>
                            </div><!-- /.ImageWrapper -->
                        </div><!-- /.lan-blog-post -->
                    </div><!-- /.lan-gallery-post -->
                </div>
            </div>
        </div>
        <div class="lan-pagination">
            <ul class="pagination">
                <li><a class="start" href="#">Start</a></li>
                <li><a class="prev" href="#">Prev</a></li>
                <li><a class="active" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">Next</a></li>
                <li><a href="#">End</a></li>
            </ul>
        </div><!-- /.lan-pagination -->
        <!-- Composser ที่แต่งเพลงนี้ -->


    </div><!-- /.container-fluid -->
</section>
<!-- End content section -->
