﻿@using DINFDAL.Models
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="เวทีเพื่อการแข่งขันประกวดร้องเพลงทางอินเทอร์เน็ตที่แบ่งปันรายได้จากการโหวตให้กับทุกๆ คนที่เกี่ยวข้อง">
    <meta name="keywords" content="cyberry, cyberry music, กติกา, แข่งขัน, ประกวด, ร้องเพลง, เล่นดนตรี, youtube, ประกวดดนตรี,ประกวดร้องเพลง">
    <meta name="author" content="D-INF.CO.TH">
    <title>Cyberry Music</title>
    <!-- Bootstrap and Material CSS -->
    <link href="~/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-social.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/jquery.fileupload.css" rel="stylesheet" />
    <link href="~/css/jquery.flexisel.css" rel="stylesheet" />
    <!--Css for media -->
    <link href="~/css/media/website.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/media/cubeportfolio.min.css" rel="stylesheet" type="text/css">

    <!-- Animate CSS -->
    <link href="~/css/animate.css" rel="stylesheet" type="text/css">

    <!--Right side Music Player STYLE-->
    <link href="~/plugin/css/style.css" rel="stylesheet" type="text/css">

    <!-- Main CSS -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css">

    <!-- Responsive CSS-->
    <link href="~/css/responsive.css" rel="stylesheet" type="text/css">

    <!-- Menu CSS -->
    <link href="~/css/minimal-menu.css" rel="stylesheet" type="text/css">

    <!-- Background Music CSS -->
    <link href="~/css/music_player/panzer.min.css" rel="stylesheet" media="all" />

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link href="~/css/extralayers.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/rs-plugin/css/settings.css" rel="stylesheet" type="text/css" media="screen" />

    <!-- Owl Carousel Css -->
    <link href="~/css/owl/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="~/css/owl/owl.theme.css" rel="stylesheet" type="text/css">

    <!-- D-INF STYLE CSS -->
    <link href="~/css/d-inf-style.css" rel="stylesheet" type="text/css">

    @*Select2 Css*@
    <link href="~/Select2/css/select2.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .input-group-addon {
            background: none;
            border: none;
            border-bottom: 1px solid #4b4b4b;
        }
        /* styles for validation helpers */
        .field-validation-error {
            color: #b94a48;
        }

        .field-validation-valid {
            display: none;
        }

        input.input-validation-error {
            /*border: 1px solid #b94a48;*/
        }

        input[type="checkbox"].input-validation-error {
            border: 0 none;
        }

        .validation-summary-errors {
            color: #b94a48;
        }

        .validation-summary-valid {
            display: none;
        }

        .navbar-form {
        }

        .col-center-block {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <!-- Start body -->
    <div class="home">

        <!-- Preloader start here -->
        <div id="preloader">
            <div id="status"></div>
        </div>
        <!-- Preloader end here -->
        <!-- Header
        ================================================== -->
        <section id="header">
            <!-- Static navbar -->
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container">

                    <div class="row">

                        <div class="col-md-3">
                            <div class="logo">
                                <a href="@Url.Action("index", "Home" )"><img class="img-responsive" src="~/images/random/logo.png" alt="cyberry music: ค่ายเพลงออนไลน์" title="cyberry music: ค่ายเพลงออนไลน์"></a>
                            </div><!-- /.logo -->
                        </div><!-- /.col-md-3 -->

                        <div class="col-md-9">
                            <div class="nav-top-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h1 class="wow fadeInDown animated th_fahkwang prize">
                                            เงินรางวัลสะสมขณะนี้ <span id="TopReward" class="larger">@String.Format("{0:#,0.00}", 100000 + Decimal.Parse(Session["reward"].ToString()))</span> บาท
                                        </h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h1 class="wow fadeInDown animated th_fahkwang prize">
                                            ประกาศผลวันที่ 24 ธันวาคม 2558
                                        </h1>
                                    </div>
                                </div>
                            </div><!-- /.nav top content -->
                        </div><!-- /.col-lg-9 -->
                    </div>
                </div><!-- /.container -->
            </nav>
        </section>
        <!-- End Header -->
        <section id="store">

            <div class="container">
                <div class="lan-store-holder pb-30">
                    <div class="col-md-12">
                        <div class="col-center-block" style="width: 400px; margin-bottom: 10px;">
                            @*Countdown*@
                            <script src="~/js/countdown/countdown.js"></script>
                            <script type="application/javascript">
                                var myCountdown1 = new Countdown({
                                                                    year:2015,
                                                                    month:12,
                                                                    day:24,
                                                                    hour:21,
                                                                    minute:38,
                                                                    width:400,
                                                                    height:100,
                                                                    rangeHi:"day",
                                                                    labels : {
                                                                                color	: "#FFFFFF"
                                                                             }, // <- no comma on last item!
                                                                    style:"flip"	// <- no comma on last item!
                                                                    });

                            </script>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <div class="row wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                                <div id="TopScore" class="col-md-12">
                                    @Html.Partial("_GetTopScore2", new List<vTopScore>())
                                </div><!-- /.col-md-8 -->
                            </div><!-- /.row -->
                        </li><!-- /.first li -->
                    </ul><!-- /.ul -->
                </div><!-- /.lan-store-holder -->
            </div><!-- /.container -->
        </section>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.fileupload.js"></script>
    @*
        <script src="~/js/jquery.fileupload-ui.js"></script>
        <script src="~/js/jquery.fileupload-process.js"></script>*@
    <script src="~/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="~/js/materialize.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/locale/th.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/autoNumeric.min.js"></script>


    <!-- Music player JS -->
    <script type="text/javascript" src="~/plugin/jquery-jplayer/jquery.jplayer.js"></script>
    <script type="text/javascript" src="~/plugin/ttw-music-player-min.js"></script>
    <script type="text/javascript" src="~/plugin/myplaylist.js"></script>

    <!-- Scroll JS -->
    <script type="text/javascript" src="~/js/jquery.mCustomScrollbar.js"></script>

    <!-- Media JS-->
    <script type="text/javascript" src="~/js/media/jquery.cubeportfolio.min.js"></script>
    <script type="text/javascript" src="~/js/media/media-main.js"></script>
    <script type="text/javascript" src="~/js/media/jquery.website.min.js"></script>

    <!-- After Scroll effect JS -->
    <script type="text/javascript" src="~/js/wow.min.js"></script>

    <!-- SmoothScroll JS -->
    <script type="text/javascript" src="~/js/jquery.smooth-scroll.min.js"></script>
    <script type="text/javascript" src="~/js/smooth.script.js"></script>

    <!-- Fit Video JS -->
    <script type="text/javascript" src="~/js/jquery.fitvids.min.js"></script>

    <!-- SLIDER REVOLUTION 4.x SCRIPTS -->
    <script type="text/javascript" src="~/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Audio Background music JS -->
    <script type="text/javascript" src="~/js/music_player/panzer.min.js"></script>
    <script>jQuery('audio.playlist2').panzerlist({ theme: 'light', layout: 'big', show_prev_next: true, expanded: true });</script>

    <!-- Body Background JS -->
    <script type="text/javascript" src="~/js/lib/jquery.backstretch.min.js"></script>

    <!-- Owl JS -->
    <script type="text/javascript" src="~/js/owl/owl.carousel.js"></script>
    <script type="text/javascript" src="~/js/owl/owl-script.js"></script>

    <!-- Custom Script -->
    <script type="text/javascript" src="~/js/custom.js?p=123"></script>
    <script src="~/js/jquery.flexisel.js"></script>

    @*Select2 Script*@
    <script src="~/Select2/js/select2.full.min.js"></script>

    <script>
        $("#frmTopScore").submit();
        function callticker() {
            $("#TopReward").text($("#hidReWard").val());
            console.log($("#hidReWard").val());
            $("#frmTopScore").submit();
            var timer = setTimeout("callticker()", 5000);
        }
        var timer = setTimeout("callticker()", 5000);

    </script>

</body><!-- End body -->
</html>
