﻿@using DINFDAL.Models
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles{
    <!-- PAGE LEVEL STYLES -->
    <link href="~/assets/css/layout2.css" rel="stylesheet" />
    <link href="~/assets/plugins/flot/examples/examples.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/plugins/timeline/timeline.css" />
    <!-- END PAGE LEVEL  STYLES -->
}
<!--PAGE CONTENT -->
<div id="content">

    <div class="inner" style="min-height: 700px;">
        <div class="row">
            <div class="col-lg-12">
                <h1> Admin Dashboard </h1>
            </div>
        </div>
        <hr />
        <!--BLOCK SECTION -->
        <div class="row">
            <div class="col-lg-12">
                <div style="text-align: center;">
                    <a class="quick-btn" href="#">
                        <i class="icon-music icon-2x"></i>
                        <span>เพลงประกวด</span>
                        <span class="label label-danger"> @ViewBag.SongCount</span>
                    </a>
                    <a class="quick-btn" href="#">
                        <i class="icon-music icon-2x"></i>
                        <span>เพลงต้นฉบับ</span>
                        <span class="label label-danger">@ViewBag.SongOriginalCount</span>
                    </a>
                    <a class="quick-btn" href="#">
                        <i class="icon-check icon-2x"></i>
                        <span>SMS Vote</span>
                        <span class="label label-success">@String.Format("{0:#,0}", ViewBag.SMSVote)</span>
                    </a>
                    <a class="quick-btn" href="#">
                        <i class="icon-check icon-2x"></i>
                        <span>Point Vote</span>
                        <span class="label label-success">@String.Format("{0:#,0}", ViewBag.PointVote)</span>
                    </a>
                    <a class="quick-btn" href="#">
                        <i class="icon-user icon-2x"></i>
                        <span>ผู้เข้าแข่งขัน</span>
                        <span class="label label-success">@ViewBag.UserCount</span>
                    </a>
                </div>
            </div>
        </div>
        <!--END BLOCK SECTION -->
        <hr />
        <!-- COMMENT AND NOTIFICATION  SECTION -->
        <div class="row">
            <div class="col-lg-6">

                <div class="chat-panel panel panel-success">
                    <div class="panel-heading">
                        <i class="icon-check"></i>
                        รายชื่อเพลงล่าสุด
                    </div>

                    <div class="panel-body">
                        <ul class="chat">
                            @foreach (var item in ViewBag.NewSong as IList<Song_Contest>)
                            {
                                <li class="left clearfix">
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font "><a target="_blank" href="@Url.Action("SongDetail", "Profile", new { area = string.Empty,id = @item.int_song_contest_id })">@item.txt_vote_code </a></strong>
                                            <small class="pull-right text-muted label label-info">
                                                <i class="icon-time"></i> @item.datetime_create.ToString("dd MM yyyy") @item.datetime_create.ToString(@"hh\:mm")
                                            </small>
                                        </div>
                                        <br />
                                        <p>
                                           @item.txt_song_name By @item.User.UserName Score @item.Score_Song.Sum(i => i.int_value)
                                        
                                        </p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="panel-footer">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="chat-panel panel panel-info">
                    <div class="panel-heading">
                        <i class="icon-check"></i>
                        รายชื่อเพลงคะแนนสูงสุด
                    </div>

                    <div class="panel-body">
                        <ul class="chat">
                            @foreach (var item in ViewBag.HotSong as IList<Song_Contest>)
                            {
                                <li class="left clearfix">
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font "><a target="_blank" href="@Url.Action("SongDetail", "Profile", new { area = string.Empty,id = @item.int_song_contest_id })">@item.txt_vote_code </a></strong>
                                            <small class="pull-right text-muted label label-info">
                                                <i class="icon-time"></i> @item.datetime_create.ToString("dd MM yyyy") @item.datetime_create.ToString(@"hh\:mm")
                                            </small>
                                        </div>
                                        <br />
                                        <p>
                                            @item.txt_song_name By @item.User.UserName Score @item.Score_Song.Sum(i => i.int_value)
                                            
                                        </p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">

                <div class="chat-panel panel panel-warning">
                    <div class="panel-heading">
                        <i class="icon-money"></i>
                        รายการถอนเงินล่าสุด
                    </div>

                    <div class="panel-body">
                        <ul class="chat">
                            @foreach (var item in ViewBag.Withdrawal as IList<Withdrawal_Transaction>)
                            {
                                <li class="left clearfix">
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font "><a href="@Url.Action("Edit", "WithdrawalTransaction", new {id = @item.int_withdrawal_transaction_id})">@item.User.UserName </a></strong>
                                            <small class="pull-right text-muted label label-info">
                                                <i class="icon-time"></i> @item.datetime_create.ToString("dd MM yyyy HH:mm")
                                            </small>
                                        </div>
                                        <br/>
                                        <p>
                                            ยอดเงินที่ถอน @String.Format("{0:#,0}", item.amount) บาท
                                        </p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="panel-footer">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="chat-panel panel panel-danger">
                    <div class="panel-heading">
                        <i class="icon-user"></i>
                        สมาชิกล่าสุด
                    </div>

                    <div class="panel-body">
                        <ul class="chat">
                            @foreach (var item in ViewBag.Users as IList<User>)
                            {
                                <li class="left clearfix">
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font "><a href="@Url.Action("Index", "Profile", new { area = string.Empty, id = @item.Id })">@item.UserName </a></strong>
                                            <small class="pull-right text-muted label label-info">
                                                <i class="icon-time"></i> @item.datetime_create.Value.ToString("dd MM yyyy HH:mm")
                                            </small>
                                        </div>
                                        <br />
                                        <p>
                                           @item.txt_firstname @item.txt_lastname
                                        </p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </div>
        <!-- END COMMENT AND NOTIFICATION  SECTION -->
    </div>

</div>
<!--END PAGE CONTENT -->
@section scripts{
    <!-- PAGE LEVEL SCRIPTS -->
    <script src="~/assets/plugins/flot/jquery.flot.js"></script>
    <script src="~/assets/plugins/flot/jquery.flot.resize.js"></script>
    <script src="~/assets/plugins/flot/jquery.flot.time.js"></script>
    <script src="~/assets/plugins/flot/jquery.flot.stack.js"></script>
    <script src="~/assets/js/for_index.js"></script>

    <script>

    </script>
    <!-- END PAGE LEVEL SCRIPTS -->
}

