﻿@using DINFDAL.Models
@using Microsoft.AspNet.Identity
@{
    var member = ViewBag.Member as User;
}
<div class="lan-tour-content-holder">
    <div class="row">
        <div class="col-md-12">
            <div class="lan-music-tour-photo">
                @if (String.IsNullOrEmpty(member.txt_avatar))
                {
                    <img id="imgAvatar" class="img-responsive" width="145" height="146" src="http://placehold.it/145x146" alt="">
                }
                else
                {
                    <img id="imgAvatar" class="img-responsive" width="145" height="146" src="@member.txt_avatar" alt="">
                }
            </div>
        </div>
        <div class="col-md-12">
            <div class="lan-music-tour-place">
                <h2><span>@member.UserName</span></h2>
                <h2>
                    <span>Role : </span>@if (member.is_contest ?? false)
                    {
                        @DINFDAL.Commons.Role.ComposorArtist
                    } @if (!member.is_contest.HasValue)
                    {
                        @DINFDAL.Commons.Role.Member
                    }
                </h2>
                <h2><span>Cyberry Point : </span> @String.Format("{0:#,0}", member.Points.Sum(i => i.int_value))</h2>
                <h2><span>Total Score : </span> @String.Format("{0:#,0}", member.Song_Contest.Sum(i => i.Score_Song.Sum(s => s.int_value)))</h2>
            </div>
        </div>
        @if (Request.IsAuthenticated)
        {
            <div class="col-md-12">
                <div class="text-center">
                    <a href="@Url.Action("TransferTo", "Point", new {id = member.Id})" style="width: 180px;" class="btn-din-yellow">โอน Cyberry Point</a>
                </div>
            </div>
        }
    </div><!-- /.row -->
</div>