﻿@using System.Security.Claims
@using DINFDAL.Models
@using Microsoft.AspNet.Identity
@{
    var userProfile = ViewBag.Profile as User;
    var userBalance = (ViewBag.Balance as Balance) ?? new Balance() { balance1 = 0 };
}
<div class="lan-tour-content-holder">
    <div class="row">
        <div class="col-md-12">
            <div class="lan-music-tour-photo">
                @if (String.IsNullOrEmpty(userProfile.txt_avatar))
                {
                    <img id="imgAvatar" class="img-responsive" width="145" height="146" src="http://placehold.it/145x146" alt="">
                }
                else
                {
                    <img id="imgAvatar" class="img-responsive" width="145" height="146" src="@userProfile.txt_avatar" alt="">
                }
            </div>
        </div>
        <div class="col-md-12">
            <div class="lan-music-tour-place">
                <h2><span>@User.Identity.GetUserName()</span></h2>
                <h2>
                    <span>Role : </span>@if (User.IsInRole(DINFDAL.Commons.Role.ComposorArtist))
                    { @DINFDAL.Commons.Role.ComposorArtist} @if (User.IsInRole(DINFDAL.Commons.Role.Member))
                    { @DINFDAL.Commons.Role.Member}
                    @if (User.IsInRole(DINFDAL.Commons.Role.Admin))
                    { @DINFDAL.Commons.Role.Admin }
                </h2>
                <h2><span>Cyberry Point : </span> @String.Format("{0:#,0}", userProfile.Points.Sum(i => i.int_value))</h2>
                @if (User.IsInRole(DINFDAL.Commons.Role.ComposorArtist))
                {
                    <h2><span>Total Score : </span> @String.Format("{0:#,0}", userProfile.Song_Contest.Sum(i => i.Score_Song.Sum(s => s.int_value)))</h2>
                    <h2><span>บัญชีธนาคาร : </span> @(userProfile.Bank != null ? userProfile.Bank.txt_bank_name : "")</h2>
                    <h2><span>เลขที่บัญชี : </span> @userProfile.txt_bank_account</h2>
                    <h2><span>ยอดเงินรวม : </span> @String.Format("{0:#,0.00} บาท", userBalance.balance1)</h2>
                    <p><span>(*รายได้ก่อนหักค่าใช้จ่ายและภาษี)</span></p>
                }
            </div>
        </div>
        <div class="col-md-12">
            @if (User.IsInRole(DINFDAL.Commons.Role.ComposorArtist))
            {
                <div class="text-center">
                    <a href="@Url.Action("UploadNewSong", "Profile")" style="width: 180px;" class="btn-din">Upload Song</a>
                </div>
            }
            else if (User.IsInRole(DINFDAL.Commons.Role.Member))
            {

            }
            <div class="text-center">
                <a href="@Url.Action("Transfer", "Point")" style="width: 180px;" class="btn-din-yellow">โอน Cyberry Point</a>
            </div>
            @if (User.IsInRole(DINFDAL.Commons.Role.ComposorArtist))
            {
                <div class="text-center">
                    @if (userProfile.Bank == null || String.IsNullOrEmpty(userProfile.txt_bank_account))
                    {
                        <a href="#" onclick="alert('กรุณาระบุเลขที่บัญชีธนาคารสำหรับการถอนเงิน!')" style="width: 180px;" class="btn-din-yellow">ถอนเงิน</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Withdrawal", "Profile")" style="width: 180px;" class="btn-din-yellow">ถอนเงิน</a>
                    }
                </div>
            }
            <div class="text-center">
                <a href="@Url.Action("index","Point")" style="width: 180px;" class="btn-din-bule">Get More Point</a>
            </div>
            <div class="text-center">
                <a href="@Url.Action("Edit", "Profile")" style="width: 180px;" class="btn-din-gray">Edit Profile</a>
            </div>
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
</div>