﻿@using DINFDAL.Models
@using Microsoft.AspNet.Identity
<!-- Store
            ================================================== -->
<section id="store">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="lan-module-title">
                    <h1 class="title">@User.Identity.GetUserName()</h1>
                </div>
            </div>
        </div>

        <div class="lan-store-holder pb-30">
            <ul>
                <li>
                    <div class="row wow fadeInUp">
                        <div class="col-md-4">
                            @Html.Partial("_MyProfilePartial")
                        </div><!-- /.store-single-product-photo -->
                        <div class="col-md-8">
                            <div class="store-single-product-info">
                                <div class="row">
                                    <div class="col-md-12"><h2><span>My Videos  </span></h2></div>
                                </div><!-- /.row 1 -->
                                @{
                                    var songcontets = ViewBag.SongContent as IList<Song_Contest>;
                                    var originalsongs = ViewBag.OriginalSong as IList<Song_Original>;
                                }
                                @foreach (var item in songcontets)
                                {
                                    <div class="row margintop10">
                                        <div class="col-md-3">
                                            <div class="lan-music-tour-photo">
                                                @if (!String.IsNullOrEmpty(item.txt_youtube_url))
                                                {
                                                    <a href="@Url.Action("SongDetail", "Profile", new {id = item.int_song_contest_id})" target="_bank"><img class="img-responsive" src="https://i1.ytimg.com/vi/@item.txt_youtube_id/hqdefault.jpg" alt=""></a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("SongDetail", "Profile", new { id = item.int_song_contest_id })"><img class="img-responsive" src="~/images/soundcloud_logo.png" alt="@item.txt_song_name"></a>
                                                }
                                            </div>
                                        </div><!-- /.col-md-3 -->
                                        <div class="col-md-9">
                                            <div class="profile-song-list">
                                                Song Name : <span>@item.txt_song_name</span><br />
                                                Vote Code : <span>@item.txt_vote_code</span><br />
                                                Post On : <span>@item.datetime_create.ToString("dd/MM/yyyy HH:mm") </span><br />
                                                Score : <span>@item.Score_Song.Sum(i => i.int_value)</span>
                                            </div>
                                        </div><!-- /.col-md-9 -->
                                    </div>
                                <!-- /.row 2 -->
                                }

                            </div><!-- /.store-single-product-info -->
                            <!-- /Original Song -->
                            <div class="store-single-product-info margintop10">
                                <div class="row">
                                    <div class="col-md-12"><h2><span>Original Song </span></h2></div>
                                </div><!-- /.row 1 -->
                                @foreach (var item in originalsongs)
                                {
                                    <div class="row margintop10">
                                        <div class="col-md-3">
                                            <div class="lan-music-tour-photo">
                                                @if (item.txt_youtube_url.Length > 0)
                                                {
                                                    var id = @System.Text.RegularExpressions.Regex.Match(item.txt_youtube_url, @"^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$").Groups[1].Value;
                                                    <a href="@Url.Action("OriginalSongDetail", "Profile", new {id = item.int_song_original_id})"><img class="img-responsive" src="https://i1.ytimg.com/vi/@id/hqdefault.jpg" alt="@item.txt_songname"></a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("OriginalSongDetail", "Profile", new {id = item.int_song_original_id})"><img class="img-responsive" src="~/images/soundcloud_logo.png" alt="@item.txt_songname"></a>
                                                }
                                            </div>
                                        </div><!-- /.col-md-3 -->
                                        <div class="col-md-9">
                                            <div class="profile-song-list">
                                                Song Name : @item.txt_songname<br />
                                                By : @item.User.UserName <br />
                                                Post On : @item.datetime_create.ToString("dd/MM/yyyy HH:mm") <br />
                                                Used : @item.Song_Contest.Count(i => i.is_active && i.is_approved)
                                            </div>
                                        </div><!-- /.col-md-9 -->
                                    </div>
                                }
                            </div><!-- /Original Song -->
                        </div><!-- /.col-md-8 -->
                    </div><!-- /.row -->
                </li><!-- /.first li -->
            </ul><!-- /.ul -->
        </div><!-- /.lan-store-holder -->
    </div><!-- /.container -->
</section> <!-- /.store -->
<!-- End store -->