﻿@using Microsoft.AspNet.Identity
@model DINFDAL.Models.Song_Original

@section styles{

}
<!-- Original Song Upload
            ================================================== -->
<section id="store">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="lan-module-title">
                    <h1 class="title">Original Song Upload</h1>
                </div>
            </div>
        </div>

        <div class="lan-store-holder pb-30">
            <ul>
                <li>
                    <div class="row wow fadeInUp">
                        <div class="col-md-4">
                            @Html.Partial("_MyProfilePartial")
                        </div><!-- /.store-single-product-photo -->
                        <div class="col-md-8">
                            <div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h1 class="th_fahkwang"><span>ขั้นตอน</span> - การ UPLOAD เพลง</h1>
                                        <div class="error-content">
                                            <ol>
                                                <li>1. กรอกชื่อเพลง</li>
                                                <li>2. ไฟล์เพลง (วีดีโอหรือเสียงอย่างเดียว) หรือเสียง</li>
                                                <li>3. ไฟล์เนื้อเพลง (Ms World, PDF)</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div><!-- /row 1 -->
                                <div class="row margintop40">
                                    <div class="lan-comment-form-all">
                                        <div class="lan-contact-form">
                                            @using (Html.BeginForm("OriginalSongUpload", "Profile", FormMethod.Post, new { @autocomplete = "off" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <p>@Html.ValidationSummary(true)</p>
                                                @Html.HiddenFor(m=>m.int_user_id)
                                                if (ViewBag.IsSuccess??false)
                                                {
                                                    <p class="alert alert-success" role="alert">Upload Song Successful</p>
                                                }
                                                <div class="form-group wow fadeInUp">
                                                    <div class="col-md-4">
                                                        <label class="th_fahkwang text-fileupload">1. กรอกชื่อเพลง</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(m => m.txt_songname, new { @class = "form-control", @placeholder = "ชื่อเพลง" })
                                                        @Html.ValidationMessageFor(m => m.txt_songname)
                                                    </div>
                                                </div>
                                                <div class="form-group wow fadeInUp">
                                                    <div class="col-md-4">
                                                        <label class="th_fahkwang text-fileupload">2. ไฟล์เพลง (วีดีโอหรือเสียงอย่างเดียว)</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(m => m.txt_youtube_url, new { @class = "form-control", @placeholder = "YouTube URL" })
                                                        @Html.ValidationMessageFor(m => m.txt_youtube_url)
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-8">
                                                        <label class="th_fahkwang text-fileupload">หรือ เสียง</label>
                                                    </div>
                                                </div>
                                                <div class="form-group wow fadeInUp">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(m => m.txt_soundcloud_url, new { @class = "form-control", @placeholder = "Sound Cloud URL" })
                                                        @Html.ValidationMessageFor(m => m.txt_soundcloud_url)
                                                    </div>
                                                </div>
                                                <div class="form-group wow fadeInUp">
                                                    <div class="col-md-4">
                                                        <label class="th_fahkwang text-fileupload">3. ไฟล์เนื้อเพลง (Ms World, PDF)</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <span class="btn-din margintop10 fileinput-button" style="margin-bottom: 0px;">
                                                                <i class="glyphicon glyphicon-plus"></i>
                                                                <span>Upload</span>
                                                                @Html.TextBoxFor(model => model.txt_lyric_file)
                                                                <input id="songupload" type="file" name="files[]" accept="application/msword,text/plain, application/pdf">
                                                            </span>
                                                            <p id="lnk_lyric_file" class="th_fahkwang text-fileupload">@Model.txt_lyric_file</p>
                                                            @Html.ValidationMessageFor(model => model.txt_lyric_file)<br />
                                                            <div id="progress" class="progress">
                                                                <div class="progress-bar progress-bar-success"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group wow fadeInUp">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-8 margintop10">
                                                        <button type="submit" class="btn-flat waves-effect">Upload Song</button>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /row 2 -->
                        </div>
                    </div><!-- /.col-md-8 -->
                </li><!-- /.first li -->
            </ul><!-- /.ul -->
        </div><!-- /.lan-store-holder -->
    </div><!-- /.container -->
</section> <!-- /.store -->
<!-- End store -->
@section scripts
{
    <!-- PAGE LEVEL SCRIPT-->
    <script>
        $(document).ready(function () {
            'use strict';
            $("#progress").hide();
            // Change this to the location of your server-side upload handler:
            var url = '@Url.Action("UploadSongLyrics", "Profile")';
            console.log(url);
            $('#songupload').fileupload({
                url: url,
                dataType: 'json',
                done: function (e, data) {
                    if (data.result.IsValid) {
                        $('#txt_lyric_file').val(data.result.FullPath);
                        $("#lnk_lyric_file").text(data.result.FullPath);
                    } else {
                        alert(data.result.Message);
                    }
                    $("#progress").hide();
                },
                fail: function (e, data) {
                    alert(data.result.Message);
                },
                progressall: function (e, data) {
                    $("#progress").show();
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                }
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
        });
    </script>
    <!--END PAGE LEVEL SCRIPT-->
}
