﻿@using DINFDAL.Models
@model DINFDAL.Models.Song_Original
@{
    ViewBag.Title = Model.txt_songname;
    var id = "";
    var ogImage = "";
    if (!string.IsNullOrEmpty(Model.txt_youtube_url))
    {
        id = @System.Text.RegularExpressions.Regex.Match(Model.txt_youtube_url, @"^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$").Groups[1].Value;
        ogImage = string.Format("https://i1.ytimg.com/vi/{0}/hqdefault.jpg", id);
    }
    else
    {
        ogImage = string.Format("~/images/soundcloud_logo.png");
    }
}
@section metatags{
    <meta property="og:title" content="Cyberry: @Model.txt_songname" />
    <meta property="og:site_name" content="Cyberry Music" />
    <meta property="og:description" content="เพลงต้นแบบการประกวด Cyberry Music / ชื่อเพลง @Model.txt_songname/ เจ้าของเพลง @Model.User.UserName" />
    <meta property="og:image" content="@ogImage" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
}
@{
    var userProfile = ViewBag.Profile as User;
}
<!-- Start main content
                ================================================== -->
<section id="main-content" class="pb-30">
    <div class="container">
        <div class="row">

            @*<div class="col-md-12 wow fadeInUp">
                    <div class="lan-module-title">
                        <h2 class="title">Video Detail</h2>
                    </div>
                </div>*@

            <!-- Start Left side
              ================================================== -->
            <div class="col-md-4">
                <!-- Left sidebar -->
                <div class="lan-event-content-holder wow fadeInUp">

                    <div class="row">
                        <div class="col-md-12">
                            <h2><span>Original Song ID: @Model.int_song_original_id  </span></h2>
                        </div>


                        <div class="col-sm-4">
                            <div class="lan-music-event-photo">
                                <a href="@Url.Action("Member", "Profile", new {id = Model.int_user_id})">
                                    @if (String.IsNullOrEmpty(userProfile.txt_avatar))
                                    {
                                        <img id="imgAvatar" class="img-responsive" width="145" height="146" src="http://placehold.it/145x146" alt="">
                                    }
                                    else
                                    {
                                        <img id="imgAvatar" class="img-responsive" width="145" height="146" src="@userProfile.txt_avatar" alt="">
                                    }
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-8">

                            <div class="lan-music-event">

                                <div class="lan-band-name">
                                    <p>เพลง: <span>@Model.txt_songname</span></p>
                                </div><!-- /.band-name -->

                                <div class="lan-genre">
                                    <p>Post By: @Model.User.UserName </p>
                                </div><!-- /.lan-genre -->
                                <div class="lan-genre">
                                    <p>Post On: @Model.datetime_create.ToString("dd/MM/yyyy HH:mm") </p>
                                </div><!-- /.lan-genre -->
                                <div class="lan-genre">
                                    <p><a target="_blank" href="@Model.txt_lyric_file">ไฟล์เนื้อเพลง</a></p>
                                </div><!-- /.lan-genre -->
                                <div class="lan-review">
                                    <h2 style="color:#fa4c29;">
                                        Used: @Model.Song_Contest.Count(i => i.is_active && i.is_approved)
                                    </h2>
                                </div><!-- /.lan-review -->
                            </div><!-- /.lan-music-event -->
                            <!-- AddToAny BEGIN -->
                            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                                <a class="a2a_button_facebook"></a>
                                <a class="a2a_button_twitter"></a>
                                <a class="a2a_button_google_plus"></a>
                            </div>
                            <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
                            <!-- AddToAny END -->
                        </div><!-- /.col-md-8 -->

                    </div><!-- /.row -->

                </div><!-- /.lan-tour-content-holder -->
            </div><!-- /.col-md-4 /.left sidebar-->
            <!-- start main-content-left -->
            <div class="col-md-8 main-content-left">


                <!-- Start Most rated Music video
                      ================================================== -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="lan-most-rated-video">

                            <div class="video-slide-widget fitvids" style="border:1px solid #4b4b4b">

                                <!-- video1 start -->
                                @if (!String.IsNullOrEmpty(Model.txt_youtube_url))
                                {
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/@id" frameborder="0" allowfullscreen></iframe>
                                }
                                @if (!String.IsNullOrEmpty(Model.txt_soundcloud_url))
                                {
                                    <iframe width="100%" height="315" src="https://w.soundcloud.com/player/?url=@Model.txt_soundcloud_url&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Most rated Music video -->
            </div>
            <!-- End main content left side -->
        </div><!-- /.row -->
        <!-- Artist Song เพลงของ Artist ท่านนี้ -->
        <div class="row">
            <div class="col-md-12">
                <div class="lan-module-title wow fadeInUp">
                    <h2 class="title">Artist Song</h2>
                </div>
            </div>
        </div>

        <div class="tour-image-gallery pb-30">
            <div class="row wow fadeInUp">
                @{
                    var artistsongs = ViewBag.ArtistSong as List<Song_Contest>;
                }
                @foreach (var item in artistsongs)
                {
                    <div class="col-md-3">
                        <div class="lan-gallery-post animated" data-animation-delay="0.8s" data-animation="fadeIn">
                            <div class="lan-blog-post">
                                <div class="ImageWrapper ContentWrapperO chrome-fix">
                                    @if (!String.IsNullOrEmpty(item.txt_youtube_url))
                                    {
                                        <a href="@Url.Action("SongDetail", "Profile", new {id = item.int_song_contest_id})" target="_bank"><img class="img-responsive" src="https://i1.ytimg.com/vi/@item.txt_youtube_id/hqdefault.jpg" alt=""></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("SongDetail", "Profile", new { id = item.int_song_contest_id })"><img class="img-responsive" src="~/images/soundcloud_logo.png" alt="@item.txt_song_name"></a>
                                    }
                                    <div class="ContentO">
                                        <div class="Content" style="padding: 5px;">
                                            <h2>
                                                Score: @item.Score_Song.Sum(i => i.int_value)
                                            </h2>
                                            <p>
                                                ชื่อเพลง: @item.txt_song_name
                                            </p>
                                        </div>
                                    </div>
                                </div><!-- /.ImageWrapper -->
                            </div><!-- /.lan-blog-post -->
                        </div><!-- /.lan-gallery-post -->
                    </div>
                }
            </div>
        </div>

        <!-- Artist Song เพลงของ Artist ท่านนี้ -->
        <!-- Composser ที่แต่งเพลงนี้ -->
        <div class="row">
            <div class="col-md-12">
                <div class="lan-module-title wow fadeInUp">
                    <h2 class="title">Composser's Song</h2>
                </div>
            </div>
        </div>

        <div class="tour-image-gallery pb-30">
            <div class="row wow fadeInUp">
                @{
                    var composersongs = ViewBag.ComposerSong as List<Song_Contest>;
                }
                @foreach (var item in composersongs)
                {
                    <div class="col-md-3">
                        <div class="lan-gallery-post animated" data-animation-delay="0.8s" data-animation="fadeIn">
                            <div class="lan-blog-post">
                                <div class="ImageWrapper ContentWrapperO chrome-fix">
                                    @if (!String.IsNullOrEmpty(item.txt_youtube_url))
                                    {
                                        <a href="@Url.Action("SongDetail", "Profile", new {id = item.int_song_contest_id})" target="_bank"><img class="img-responsive" src="https://i1.ytimg.com/vi/@item.txt_youtube_id/hqdefault.jpg" alt=""></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("SongDetail", "Profile", new { id = item.int_song_contest_id })"><img class="img-responsive" src="~/images/soundcloud_logo.png" alt="@item.txt_song_name"></a>
                                    }
                                    <div class="ContentO">
                                        <div class="Content" style="padding: 5px;">
                                            <h2>
                                                Score: @item.Score_Song.Sum(i => i.int_value)
                                            </h2>
                                            <p>
                                                ชื่อเพลง: @item.txt_song_name
                                            </p>
                                        </div>
                                    </div>
                                </div><!-- /.ImageWrapper -->
                            </div><!-- /.lan-blog-post -->
                        </div><!-- /.lan-gallery-post -->
                    </div>
                }

            </div>
        </div>
        <!-- Composser ที่แต่งเพลงนี้ -->
    </div><!-- /.container-fluid -->
</section>
<!-- End content section -->
