﻿@model DINFDAL.Models.Song_Contest

@section styles{
    <link href="~/css/chosen.min.css" rel="stylesheet" />
    <link href="~/css/chosen.bootstrap.min.css" rel="stylesheet" />
    <style>
        .chosen-container {
            background: transparent !important;
            border-bottom: 1px solid #4b4b4b;
        }

        .chosen-container-single .chosen-single {
            background: transparent !important;
            border: 0px solid #4b4b4b;
        }

        .chosen-container-single .chosen-drop {
            background: #4b4b4b !important;
        }

        .chosen-container .chosen-results {
            color: darkgray !important;
        }

        .chosen-container-single .chosen-search input[type=text] {
            width: 95% !important;
        }
    </style>
}
<!-- Upload
            ================================================== -->
<section id="store">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="lan-module-title">
                    <h1 class="title"><a href="@Url.Action("Index","Profile")">Profile-></a>Upload Song</h1>
                </div>
            </div>
        </div>

        <div class="lan-store-holder pb-30">
            <ul>
                <li>
                    <div class="row wow fadeInUp">
                        <div class="col-md-4">
                            @Html.Partial("_MyProfilePartial")
                        </div><!-- /.store-single-product-photo -->
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="th_fahkwang"><a href="@Url.Action("UploadNewSong")"><span>A</span> ประกวดด้วยเพลงแต่งเอง</a></h1>
                                </div>
                                <div class="col-md-6">
                                    <h1 class="th_fahkwang">B ใช้เนื้อเพลงผู้อื่นส่งประกวด</h1>
                                </div>
                            </div><!-- /row 1 -->
                            <div class="lan-music-login">
                                @using (Html.BeginForm("UploadSong", "Profile", FormMethod.Post, new {@class = "form-horizontal", @autocomplete = "off"}))
                                {
                                    @Html.AntiForgeryToken()
                                    <p>@Html.ValidationSummary(true)</p>
                                    @Html.HiddenFor(m => m.int_user_id)
                                    if (ViewBag.IsSuccess ?? false)
                                    {
                                        <p class="alert alert-success" role="alert">Upload Song Successful</p>
                                    }
                                    <div class="form-group">
                                        <label for="txt_youtube_url" class="control-label col-xs-2">YouTube URL</label>
                                        <div class="col-xs-8">
                                            @Html.TextBoxFor(m => m.txt_youtube_url, new {@class = "form-control", @placeholder = "YouTube URL"})
                                            @Html.ValidationMessageFor(m => m.txt_youtube_url)
                                        </div>
                                        @Html.HiddenFor(m => m.txt_youtube_id)
                                        <div class="col-xs-2">
                                            <img id="imgThumbnail" class="img-responsive" src="http://placehold.it/145x146" alt="YouTube Thumbnail">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txt_song_name" class="control-label col-xs-2">Song Name</label>
                                        <div class="col-xs-10">
                                            @Html.TextBoxFor(m => m.txt_song_name, new {@class = "form-control", @placeholder = "Song Name"})
                                            @Html.ValidationMessageFor(m => m.txt_song_name)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 text-alert">
                                            <p>
                                                กรุณาระบุ "เพลงต้นฉบับ" (Original Song) ให้ถูกต้อง หากพบว่าระบุผิด ไม่ว่าตั้งใจหรือไม่ก็ตาม จะถือว่าเพลงของท่านเพลงนี้เป็นโมฆะ เพลงนี้จะโดนตัดสิทธิ์การประกวด และจะไม่ได้รับเงินปันผลสำหรับเพลงนี้
                                            </p>
                                            <p>ทั้งนี้การระบุเพลงให้ถูกต้อง จะทำให้เจ้าของเพลงต้นฉบับได้รับเงินปันผลอย่างถูกต้องและเป็นธรรมครับ</p>
                                        </div>
                                    </div>
                                    if (Request.Browser.IsMobileDevice)
                                    {
                                        <div class="form-group">
                                            <label for="int_song_original_id" class="control-label col-xs-2">Original Song</label>
                                            <div class="col-xs-10">
                                                @Html.DropDownListFor(model => model.int_song_original_id, (List<SelectListItem>) ViewBag.ListOfOriginalSongIds, "เลือกเพลง", new {@class = "select2"})
                                                @Html.ValidationMessageFor(model => model.int_song_original_id)
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <label for="int_song_original_id" class="control-label col-xs-2">Original Song</label>
                                            <div class="col-xs-10">
                                                @Html.DropDownListFor(model => model.int_song_original_id, (List<SelectListItem>) ViewBag.ListOfOriginalSongIds, "Search...", new {@class = "chosen-select"})
                                                @Html.ValidationMessageFor(model => model.int_song_original_id)
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group">
                                        <div class="col-xs-offset-2 col-xs-10">
                                            <button type="submit" class="btn-flat waves-effect">Submit</button>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div><!-- /.col-md-8 -->
                </li><!-- /.first li -->
            </ul><!-- /.ul -->
        </div><!-- /.lan-store-holder -->
    </div><!-- /.container -->
</section> <!-- /.store -->
<!-- End store -->
@section scripts
{
    <script src="~/js/chosen.jquery.min.js"></script>
    <script src="~/js/chosen.proto.min.js"></script>
    <!-- PAGE LEVEL SCRIPT-->
    <script>
        function ytVidId(url) {
            var p = /^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/;
            return (url.match(p)) ? RegExp.$1 : false;
        }

        //
        $(document).ready(function () {
            $("#imgThumbnail").attr("src", 'https://i1.ytimg.com/vi/' + $("#txt_youtube_id").val() + '/default.jpg');

            //get Youtube thumbnail
            $("#txt_youtube_id").change(function () {
                $("#imgThumbnail").attr("src", 'https://i1.ytimg.com/vi/' + $("#txt_youtube_id").val() + '/default.jpg');
            });
            //get Youtube id for thumbnail
            $("#txt_youtube_url").change(function () {
                $("#txt_youtube_id").val(ytVidId($("#txt_youtube_url").val()));
                $("#imgThumbnail").attr("src", 'https://i1.ytimg.com/vi/' + ytVidId($("#txt_youtube_url").val()) + '/default.jpg');
            });
        });
    </script>
    @if (Request.Browser.IsMobileDevice)
    {
        <script>
            //
            $(document).ready(function () {
                //set dropdown list
                $('.select2').material_select();
            });
        </script>
    }
    else
    {
        <script>
            //
            $(document).ready(function () {
                $(".chosen-select").chosen();
            });
        </script>
    }
    <!--END PAGE LEVEL SCRIPT-->
}