﻿@using DINFDAL.Models
@using Microsoft.AspNet.Identity
@model WebCyberryMusic.Models.EditMemberViewModel
@{
    //Type 1= cover เพลงคนอื่น,ประกวดเอง,Type 2=แต่งเพลงเอง ประกวดเอง
    var balance = ViewBag.Balance as DINFDAL.Models.Balance ?? new Balance() { net_balance = 0, balance1 = 0 };
    var incomeTransact = ViewBag.IncomeTransact as List<vVoteIncomeTransaction>;
    var smsCount = incomeTransact.Where(i => i.int_vote_method == 1).Select(i => i.int_vote_history_id).Distinct().Count();
    var pointCount = incomeTransact.Where(i => i.int_vote_method == 2).Select(i => new { i.int_vote_history_id, i.int_vote_value }).Distinct().Sum(i => i.int_vote_value);
    var smsType1 = incomeTransact.Where(i => i.int_vote_method == 1).GroupBy(g => g.int_vote_history_id).Where(i => i.Count() == 1).Count();
    var smsType2 = incomeTransact.Where(i => i.int_vote_method == 1).GroupBy(g => g.int_vote_history_id).Where(i => i.Count() == 2).Count();
    var pointType1 = incomeTransact.Where(i => i.int_vote_method == 2).GroupBy(g => new { g.int_vote_history_id, g.int_vote_value }).Where(i => i.Count() == 1).Sum(i => i.Key.int_vote_value);
    var pointType2 = incomeTransact.Where(i => i.int_vote_method == 2).GroupBy(g => new { g.int_vote_history_id, g.int_vote_value }).Where(i => i.Count() == 2).Sum(i => i.Key.int_vote_value);
}

@section Styles{

    <style>
        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            background: url("/images/random/bg_pattern.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
        }

        label {
            font-size: 14px;
            font-weight: normal;
        }
    </style>
}
<section id="review-details">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="lan-module-title">
                    <h1 class="title"><a href="@Url.Action("Index","Profile")">Profile-></a>Withdrawal</h1>
                </div>
            </div>
        </div>
        <div class="lan-review-details-holder pb-30">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-12">
                    <div class="ttw-music-player col-md-12" style="opacity: 1; height: 100%">
                        <div class="col-md-6">

                            <div class="player jp-interface">
                                <h3>คะแนน Vote ทั้งหมด</h3>
                            </div>
                            <div class="tracklist show-more-button">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="center">ระบบ Vote</th>
                                            <th class="center">จำนวนทั้งหมด (ครั้ง)</th>
                                            <th class="center">Type 1 (ครั้ง)</th>
                                            <th class="center">Type 2 (ครั้ง)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="center">SMS</td>
                                            <td class="text-right">@smsCount</td>
                                            <td class="text-right">@smsType1</td>
                                            <td class="text-right">@smsType2</td>
                                        </tr>
                                        <tr>
                                            <td class="center">Cyberry Points</td>
                                            <td class="text-right">@String.Format("{0:#,0}", pointCount)</td>
                                            <td class="text-right">@String.Format("{0:#,0}", pointType1)</td>
                                            <td class="text-right">@String.Format("{0:#,0}", pointType2)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="player jp-interface">
                                <h3>*หมายเหตุการแบ่งเงิน</h3>
                            </div>
                            <div class="tracklist show-more-button">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="center">Type</th>
                                            <th class="center">เงิน SMS (บาท)</th>
                                            <th class="center">เงิน Points (ครั้ง)</th>
                                            <th class="center">รายละเอียด</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="center">1</td>
                                            <td class="center">0.25</td>
                                            <td class="center">1</td>
                                            <td>cover เพลงคนอื่น,ประกวดเอง</td>
                                        </tr>
                                        <tr>
                                            <td class="center">2</td>
                                            <td class="center">0.5</td>
                                            <td class="center">2</td>
                                            <td>แต่งเพลงเอง,ประกวดเอง</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-12">
                    <div class="ttw-music-player" style="opacity: 1;">
                        <div class="player jp-interface">
                            <h3>เงินรางวัลต่อครั้ง</h3>
                        </div>
                        <div class="tracklist show-more-button table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="center">ระบบ Vote</th>
                                        <th class="center">เงินรางวัล<br />Type1 (บาท)</th>
                                        <th class="center">เงินรางวัล<br />Type2 (บาท)</th>
                                        <th class="center">ค่าใช้จ่ายดำเนินการ<br />Type 1 (บาท)</th>
                                        <th class="center">ค่าใช้จ่ายดำเนินการ<br />Type 2 (บาท)</th>
                                        <th class="center">เงินรางวัลหลังหักค่าใช้จ่าย<br />Type 1 (บาท)</th>
                                        <th class="center">เงินรางวัลหลังหักค่าใช้จ่าย<br />Type 2 (บาท)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">SMS</td>
                                        <td class="text-right">0.25</td>
                                        <td class="text-right">0.5</td>
                                        <td class="text-right">0.04</td>
                                        <td class="text-right">0.08</td>
                                        <td class="text-right">0.21</td>
                                        <td class="text-right">0.42</td>
                                    </tr>
                                    <tr>
                                        <td class="center">Cyberry Points</td>
                                        <td class="text-right">1.00</td>
                                        <td class="text-right">2</td>
                                        <td class="text-right">0.12</td>
                                        <td class="text-right">0.24</td>
                                        <td class="text-right">0.88</td>
                                        <td class="text-right">1.76</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-12">
                    <div class="ttw-music-player" style="opacity: 1;">
                        <div class="player jp-interface">
                            <h3>คำนวณรายได้</h3>
                        </div>
                        <div class="tracklist show-more-button table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th rowspan="2" class="center" style="vertical-align: middle;">ระบบ Vote</th>
                                        <th colspan="3" class="center">Type 1</th>
                                        <th colspan="3" class="center">Type 2</th>
                                    </tr>
                                    <tr>
                                        <th class="center">จำนวนครั้ง</th>
                                        <th class="center">เงินรางวัลหลังหักค่าใช้จ่าย<br />(บาท)</th>
                                        <th class="center">จำนวนเงินรางวัล<br />(บาท)</th>
                                        <th class="center">จำนวนครั้ง</th>
                                        <th class="center">เงินรางวัลหลังหักค่าใช้จ่าย<br />(บาท)</th>
                                        <th class="center">จำนวนเงินรางวัล<br />(บาท)</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">SMS</td>
                                        <td class="text-right">@smsType1</td>
                                        <td class="text-right">0.21</td>
                                        <td class="text-right">@String.Format("{0:#,0.00}", (smsType1 * 0.21))</td>
                                        <td class="text-right">@String.Format("{0:#,0}", smsType2)</td>
                                        <td class="text-right">0.42</td>
                                        <td class="text-right">@String.Format("{0:#,0.00}", (smsType2 * 0.42))</td>
                                    </tr>
                                    <tr>
                                        <td class="center">Cyberry Point</td>
                                        <td class="text-right">@String.Format("{0:#,0}", pointType1)</td>
                                        <td class="text-right">0.88</td>
                                        <td class="text-right">@String.Format("{0:#,0.00}", (pointType1 * 0.88))</td>
                                        <td class="text-right">@String.Format("{0:#,0}", pointType2)</td>
                                        <td class="text-right">1.76</td>
                                        <td class="text-right">@String.Format("{0:#,0.00}", (pointType2 * 1.76))</td>
                                    </tr>
                                    <tr>
                                        <td class="center"><strong>เงินรางวัล</strong></td>
                                        <td colspan="2" class="center">Type 1</td>
                                        <td class="text-right">@String.Format("{0:#,0.00}", ((smsType1 * 0.21) + (pointType1 * 0.88)))</td>
                                        <td colspan="2" class="center">Type 2</td>
                                        <td class="text-right">@String.Format("{0:#,0.00}", ((smsType2 * 0.42) + (pointType2 * 1.76)))</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="center"><strong>รวมเงินรางวัลทั้งหมด</strong></td>
                                        <td colspan="4" class="text-right">@String.Format("{0:#,0.00}", ((smsType1 * 0.21) + (pointType1 * 0.88)) + ((smsType2 * 0.42) + (pointType2 * 1.76)))</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="center"><strong>รวมเงินรางวัลคงเหลือ</strong></td>
                                        <td colspan="4" class="text-right">@String.Format("{0:#,0.00}", balance.net_balance)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-12">
                    <div class="ttw-music-player col-md-12" style="opacity: 1; height: 100%">
                        <div class="col-md-6">

                            <div class="player jp-interface">
                                <h3>ถอนเงิน</h3>
                            </div>
                            <div id="withdrawal_form" class="">
                                @Html.Partial("_WithdrawalPartial", new WithdrawalTransactionViewModel { balance = (balance.net_balance ?? 0).ToString(), int_user_id = User.Identity.GetUserId(), vat = "5", int_balance_id = balance.int_balance_id })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="player jp-interface">
                                <h3>*หมายเหตุ</h3>
                            </div>
                            <div class="tracklist show-more-button">
                                <ol>
                                    <li>ค่าใช้จ่ายดำเนินการ คือ ค่าใช้จ่ายที่เกิดจากการจัดหาระบบการโหวตทั้งระบบ SMS และ Cyberry Point</li>
                                    <li>ผู้แข่งขันจะต้องเป็นผู้รับภาระภาษีหัก ณ ที่จ่ายจากการแข่งขันชิงรางวัล 5 %  ตามข้อกำหนดของสรรพากร</li>
                                    <li>บริษัทฯ จะทำการโอนเงินเข้าบัญชีผู้แข่งขันเฉพาะที่ส่งเอกสารสำเนาบัตรประชาชนและหน้าสมุดบัญชีธนาคารแล้วเท่านั้น</li>
                                    <li>ผู้แข่งขันจะต้องเป็นผู้รับภาระค่าธรรมเนียมธนาคารในการโอนเงินเข้าบัญชี</li>
                                    <li>ผู้แข่งขันสามารถกดถอนเงินรางวัลได้ทุกวันยกเว้นวันเสาร์-อาทิตย์และวันหยุดนักขัตฤกษ์ จำนวนเงินที่สั่งถอนจะเข้าบัญชีใน2วันทำการถัดไป</li>
                                </ol>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.lan-review-holder -->
    </div>
</section>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('.autoNum').autoNumeric('init', { vMin: 0, vMax: 999999.99, aSep: ',', aDec: '.' });
            $("#include_vat_amount").autoNumeric('set', 0.00);
        });
        //
        $("#amount").change(function () {
            var amount = $("#amount").autoNumeric('get');
            $("#include_vat").autoNumeric('set', amount - (amount * 0.05));
            $("#include_vat_amount").autoNumeric('set', amount - (amount * 0.05));
        });
    </script>
}
