/*////////////////////////////////////Start 320px x 480px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media only screen and (min-width: 320px) and (max-width: 479px) {
    
     #filter-list {
        width: 100% !important; float: none !important; top: 0px !important; position:fixed;
    }
    
    .lan-main-nav {
        border: none;
        background: none;
    }

    .lan-media {
        border-bottom: 0 none;
    }

    .ttw-music-player .tracklist {
        padding: 10px 8px;
    }

    .lan-meet-our-team ul li {
        float: none;
        width: 100%;
    }

    .panzerlist-big .player {
        padding-left: 10px;
    }


    /*---------------Media page css-----------------------*/
    .lan-single-media-info {
        bottom: 11px;
        left: 49px;
        max-width: 222px;
    }

    .lan-media > a {
        display: block;
        margin: 0 auto;
        padding-bottom: 10px;
        text-align: center;
        width: 80%;
    }
    /*---------------Footer css-----------------------*/
    .lan-footer-top h3 {
        font-size: 18px;
    }

    .lan-footer-top h2 {
        font-size: 18px;
    }

    /*---------------Pagination css-----------------------*/
    .lan-pagination ul.pagination a {
        padding: 10px 13px;
    }

    .lan-pagination ul.pagination {
        margin-bottom: 40px;
    }

    .nav-top-content {
        height: 0px;
    }

    .popular-vot {
        display: none;
    }
}


/*////////////////////////////////////Start 480px x 767px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .lan-main-nav {
        border: none;
        background: none;
    }

    .nav-top-content {
        height: 0px;
    }

    .popular-vot {
        display: none;
    }
}


/*////////////////////////////////////Start 768px x 1024px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/*//////////////////////////////////// max-width- 767px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media(max-width:767px) {

    .carousel-control.right, .carousel-control.left {
        display: none;
    }

    .lan-top-news-right {
        margin-left: 15px;
    }

    .lan-music-tour-ticket a {
        background-image: none;
    }
}


/*//////////////////////////////////// max-width- 767px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media(max-width:1024px) {

    /*--------------- Review details css-----------------------*/

    .lan-review-item-name {
        text-align: left;
    }

    .lan-rating {
        text-align: left;
    }
}

 #filter-list {
        width: 300px; float: right; top: -35px; position: relative;
    }