/*!
 * FLANGER Music Html Template 2015
 * Description: Interactive Template Music
 * Author: Themelan
 * Author URI: http://themeforest.net/user/themelan
 * Copyright (c) 2015 themelan
 * Mail: 		themelan@support.com
 * Website: 	https://www.themelan.com
 *
 */


/*--------------------------------------------------------------------
    Table of content

    1. Font
    2. General CSS
    3. Common Style
    4. Header
    5. Carousel slider
    6. Main content
	   6.1 right side content
    7. About page
	   7.1 Team member
    8. Review page
    9. Review Single page
    10. Artists page
    11. Media page
    12. Video page
    13. Event page
        13.1 hover override css
    14. Store page
    15. Blog
        15.1 Category page
        15.2 Tag page
        15.3 Pagination
    16. Contact page
    17. Login page
    18. Boot overrides css
    19. Social
    20. Footer
	21. Slider
	22. Pre loader
    23. Pop up override
    24. Material overdide css
     25. ColorFul Hover Gallery

---------------------------------------------------------------------*/



/*-----------------------------------------------------------------
	1. Font Name: AgencyFB, LatoLight, LatoHairline
-------------------------------------------------------------------*/

@font-face {
    font-family: 'AgencyFB';
    src: url('../fonts/AgencyFB.eot');
    src: url('../fonts/AgencyFB.eot') format('embedded-opentype'),
         url('../fonts/AgencyFB.woff2') format('woff2'),
         url('../fonts/AgencyFB.woff') format('woff'),
         url('../fonts/AgencyFB.ttf') format('truetype'),
         url('../fonts/AgencyFB.svg#AgencyFB') format('svg');
}

@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/LatoLight.eot');
    src: url('../fonts/LatoLight.eot') format('embedded-opentype'),
         url('../fonts/LatoLight.woff2') format('woff2'),
         url('../fonts/LatoLight.woff') format('woff'),
         url('../fonts/LatoLight.ttf') format('truetype'),
         url('../fonts/LatoLight.svg#LatoLight') format('svg');
}

@font-face {
    font-family: 'LatoHairline';
    src: url('../fonts/LatoHairline.eot');
    src: url('../fonts/LatoHairline.eot') format('embedded-opentype'),
         url('../fonts/LatoHairline.woff2') format('woff2'),
         url('../fonts/LatoHairline.woff') format('woff'),
         url('../fonts/LatoHairline.ttf') format('truetype'),
         url('../fonts/LatoHairline.svg#LatoHairline') format('svg');
}

/*Thai Font*/
/*@import url(/fonts-thai/ThaiSansLite/ThaiSansLite.css);*/
@font-face {
    font-family: 'ThaiSansLite';
    src: url('../fonts-thai/ThaiSansLite/ThaiSansLite.eot');
    src: url('../fonts-thai/ThaiSansLite/ThaiSansLite.eot?#iefix') format('embedded-opentype'),
         url('../fonts-thai/ThaiSansLite/ThaiSansLite.woff') format('woff'),
         url('../fonts-thai/ThaiSansLite/ThaiSansLite.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'ThaiSansLite';
    src: url('../fonts-thai/ThaiSansLite/ThaiSansLite.eot');
    src: url('../fonts-thai/ThaiSansLite/ThaiSansLite.eot?#iefix') format('embedded-opentype'),
         url('../fonts-thai/ThaiSansLite/ThaiSansLite.woff') format('woff'),
         url('../fonts-thai/ThaiSansLite/ThaiSansLite.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'ThaiSansLite';
    src: url('../fonts-thai/ThaiSansLite/ThaiSansLite.eot');
    src: url('../fonts-thai/ThaiSansLite/ThaiSansLite.eot?#iefix') format('embedded-opentype'),
         url('../fonts-thai/ThaiSansLite/ThaiSansLite.woff') format('woff'),
         url('../fonts-thai/ThaiSansLite/ThaiSansLite.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'ThaiSansLite';
    src: url('../fonts-thai/ThaiSansLite/ThaiSansLite.eot');
    src: url('../fonts-thai/ThaiSansLite/ThaiSansLite.eot?#iefix') format('embedded-opentype'),
         url('../fonts-thai/ThaiSansLite/ThaiSansLite.woff') format('woff'),
         url('../fonts-thai/ThaiSansLite/ThaiSansLite.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.th_fahkwang{
   font-family: 'ThaiSansLite', sans-serif;
}

/*--------------------------------------------------------------------------
   2. General CSS
----------------------------------------------------------------------------*/
body {
    font-family: 'AgencyFB','LatoLight','LatoHairline',Tahoma, Geneva, sans-serif;
    /*font-family: 'ThaiSansLite', sans-serif !important;*/
    color: #b9b9b9;
    background:#000;
}
.clear{
	clear: both;
}
h1, h2, h3{
    color: #fff;
}
ul{
    list-style: none !important;
}

a:active, a:focus, a:hover {
    outline: 0;
    border: 0;
    text-decoration: none;
}


/*--------------------------------------------------------------------------
  3. Common Style
----------------------------------------------------------------------------*/
/*--padding style --*/
.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.ptb-75 {
    padding-top: 75px;
    padding-bottom: 75px;
}
.pt-75 {
    padding-top: 75px;
}
.pb-75 {
    padding-bottom: 75px;
}
.ptb-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.pt-50 {
    padding-top: 50px;
}
.pb-50 {
    padding-bottom: 50px;
}
.ptb-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.pt-40 {
    padding-top: 40px;
}
.pb-40 {
    padding-bottom: 40px;
}
.ptb-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.pt-30 {
    padding-top: 30px;
}
.pb-30 {
    padding-bottom: 30px;
}
.ptb-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}
.pt-25 {
    padding-top: 25px;
}
.pb-25 {
    padding-bottom: 25px;
}
.ptb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-20 {
    padding-bottom: 20px;
}

/*--------------------------------------------------------------------
	4. Header
---------------------------------------------------------------------*/
.home .navbar{
    margin-bottom: 12px;
}
#header .col-md-3{
    padding-right: 0 !important;
}
#header .col-md-9{
    padding-left: 0 !important;
}
.logo {
    margin-left: -18px;
}
.nav-top-content {
    /*border: 1px solid #4b4b4b;*/ /*louis*/
    margin-bottom: 11px;
    margin-top: 20px;
    padding: 5px 0;
    height: 63px;
}
.lan-main-nav {
    background: url("/images/random/bg_pattern.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0); /*louis*/
    border: 1px solid #4b4b4b;
    padding: 12px 15px;
}
.nav-top-content p {
    color: #adadad;
    font-family: 'LatoHairline';
    margin-bottom: 0;
    padding-left: 15px;
    padding-top: 11px;
    text-shadow:0 2px 3px #000000;
}


/*-----------------------------------------------------------------
    5. Carousel slider
-------------------------------------------------------------------*/
div#myCarousel {
	margin-left: 5px;
}
#myCarousel .thumbnail {
    margin-bottom: 0;
}
.carousel-control.left, .carousel-control.right {
    background-image:none !important;
}
.carousel-control {
    color:#fa4c29;
    top:40%;
    bottom:auto;
    padding-top:4px;
    width:30px;
    height:30px;
    text-shadow:none;
    opacity:1;
    display: none;
}
.carousel-control:hover {
    color: #d9534f;
}
.carousel-control.left, .carousel-control.right {
    background-image:none !important;
}
.carousel-control.right {
    left:auto;
    right:-32px;
}
.carousel-control.left {
    right:auto;
    left:-32px;
}
.carousel-indicators {
    bottom:-36px;
}
.carousel-indicators li {
    border-radius:0;
    width:10px;
    height:10px;
    background:#ccc;
    border:1px solid #ccc;
}
.carousel-indicators .active {
    width:12px;
    height:12px;
    background:#12beca; /*louis*/
    border-color:#12beca; /*louis*/
}
.item h4{
    position:absolute;
    z-index:5;
    top:0;
}
.lan-featured-video {
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.lan-featured-video h4 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: 'AgencyFB';
    font-size: 20px;
    margin: 9px 0 0 9px;
    padding: 10px 0 10px 15px;
    width: 95.2%;
}
.lan-carousel-item-read-more {
    bottom: 4px;
    position: absolute;
    right: 9px;
    z-index: 5;
}
.lan-carousel-item-read-more a {
    background-image: linear-gradient(to bottom, #212121, #101010);
    background-repeat: repeat-x;
    border-color: #171717;
    padding: 6px 10px;
    color: #fff;
}
.lan-carousel-item-read-more a:hover{
    text-decoration: none;
    background:#12beca; /*louis*/
}
.lan-featured-music-slider-content {
    padding: 30px 0 20px 10px;
    width: 98.8%;
}
.lan-featured-video a.thumbnail {
    background: url("/images/random/bg_pattern.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 8px;
    border: 1px solid #4b4b4b;
}
.lan-featured-video a{
    border-radius: 0;
}
.mh-grid{
    padding-bottom: 18px;
}


/*-----------------------------------------------------------
    6. Main content
-------------------------------------------------------------*/
.lan-module-title {
    background: url("/images/random/bg_pattern.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #4b4b4b;
    margin: 10px 0 30px;
    padding: 13px 0 13px 10px;
}
.news-widget .lan-module-title {
	margin-top:3px;
}
.lan-module-title h1{
    margin: 0;
    font-size: 28px;
    text-transform: uppercase;
}
.lan-module-title h2{
    margin: 0;
    font-size: 22px;
    text-transform: uppercase;
}
.lan-media .thumbnail {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #4b4b4b #4b4b4b #008cdc;
    border-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 0;
}
.lan-media .thumbnail:hover {
    border: 1px solid #008cdc;
}
.lan-media {
    margin-bottom: 20px;
}
.lan-single-media-info {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    bottom: 21px;
    left: 20px;
    max-width: 220px;
    padding-left: 10px;
    padding-top: 10px;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    z-index: 2;
}
.lan-single-media-info h4 {
    color: #008cdc;
    margin-top: 0;
}
.lan-single-media-info p {
    color: #fff;
    font-family: 'LatoHairline';
    font-size: 10px;
}
.lan-load-more {
    border: 1px solid #4b4b4b;
    color: #b9b9b9;
    cursor: pointer;
    display: block;
    font-family: 'LatoLight';
    margin-left: 45px;
    padding: 7px;
    text-align: center;
    width: 160px;
}
.lan-load-more:hover{
    border: 1px solid #008cdc;
}
.lan-load-more .para1 {
    margin-bottom: 5px;
}
.lan-load-more .para2 {
    font-size: 10px;
    margin-bottom: 0;
}
.lan-most-rated-video iframe{
    border: 0;

}
/*--------------- 6.1 right side content -----------------------*/

.lan-latest-news-content {
    font-family: 'LatoLight';
    font-size: 15px;
}
.lan-latest-news ul {
    margin-bottom: 0;
    padding-left: 0;
}
.lan-latest-news li {
    border-bottom: 1px solid #4b4b4b;
    color: #fff;
    font-size: 15px;
    line-height: 24px;
    list-style: outside none none;
    margin-bottom: 25px;
    padding-bottom: 25px;    
}
.lan-latest-news li:last-child{
    margin-bottom: 0;
}
.lan-most-rated-video .tp-banner-container{
    margin-bottom: 60px;
    width: 100%;
}
.latest-news-thumb{
    padding-top: 7px;
}
.lan-latest-news-content p{
    margin-bottom: 5px;
}
.lan-latest-news-content a{
    color: #b9b9b9;
}
.lan-latest-news-content a:hover{
    color: #fff;
}
.news-date{
  color: #9a9a9a; 
}




/*------------------------------------------------------
   7. About page
--------------------------------------------------------*/
.lan-about-photo {
    float: left;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
.lan-about-photo img{
    border: 1px solid #4b4b4b;
}
.about-2-title{
	margin-top:0;
}
.lan-about-holder p {
    font-family: "AgencyFB";
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}
.lan-about-photo-full-width {
    padding-bottom: 30px;
}
.lan-about-photo-full-width div#myCarousel {
    margin-left: 0;
}

/*------------------------ 7.1 Team member --------------------------------*/
.lan-meet-our-team ul{
    padding: 0;
}
.lan-meet-our-team ul li {
	float: left;
	width: 25%;
}

.about-singer {
    position: relative;
}
.about-singer img {
    width: 100%;
}
.singer-des{
    top: 0;
    position: absolute;
    padding: 25px;
    color: #ffffff;
}
.singer-title {
    bottom: 0;
    left: 0;
    padding: 25px;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background: #2a333c;
    opacity: .9;
}
.singer-title p{
    text-align: center;
}
.overlay, .social-overlay .singer-social-info, .tour-content {
    background: #2a333c;
    opacity: .9;
}
.social-overlay .singer-social-info {
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all 300ms ease 0s;
    width: 100%;
}
.singer-social-info h3 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
}
.singer-social-info ul {
    padding: 0;
}
.singer-social-info ul li {
    color: #FFFFFF;
    list-style: none outside none;
}
.about-singer:hover .social-overlay .singer-social-info {
    opacity: .9;
}
 .about-singer:hover .singer-title{
    display: none;
} 
.about-singer:hover .singer-des {
   display: none;
} 
.single-des-hover{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 33px;
}
.singer-title-hover {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: #14181c;
    margin-top: 46px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.singer-title-hover p{
    text-align: center;
}
.lan-singer {
    width: 65%;
    margin: 0 auto;
}
.lan-singer{
    padding-top: 60px;
}
.lan-singer.lan-social div {
    margin-right: 10px;
}

/*------------------------------------------------------
   8. Review page
--------------------------------------------------------*/

.lan-event-content-holder {
    background: none repeat scroll 0 0 #171717;
    border: 1px solid #171717;
    margin-bottom: 30px;
    padding: 10px 15px 15px;
}
.lan-event-content-holder:hover{
    border: 1px solid #4b4b4b;
}
.lan-author-comment{
    padding-bottom: 10px;
}
.lan-author-comment, .lan-comment a {
    color: #fff;
}
.lan-comment a:hover{
    color: #fa4c29;
}
.lan-song-author{
    padding-right: 20px;
}
.lan-author-comment i{
    padding-right: 10px;
}
.lan-music-event > h2 {
    font-size: 22px;
    margin-top: 5px;
}
.lan-music-event h2 span {
    color: #008cdc;
}
.lan-band-name span{
    color: #fff; /*louis*/
}
.lan-genre span{
    color: #fa4c29;
}
.lan-review {
    padding-top: 10px;
}
.lan-review a {
    border: 1px solid #4b4b4b;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
}
.lan-review a:hover{
    background: #12beca; /*louis*/
    border: 1px solid #12beca; /*louis*/
}
.lan-review button:hover{
    background: #fa4c29;
    color: #ffffff;
}
.lan-music-event p, .lan-review a, .lan-author-comment {
    font-family: "LatoLight";
    font-size: 14px;
}
.lan-music-event-photo{
    padding-top: 5px;
}
.lan-music-event-photo img {
    border: 1px solid #4b4b4b;
}

/*------------------------------------------------------
   9. Review Single page
--------------------------------------------------------*/

.lan-review-left-content{
    padding: 10px;
    background: none repeat scroll 0 0 #171717;
}
.lan-event-content-holder h2 {
    font-size: 22px;
    margin-top: 5px;
    padding-bottom: 10px;
}
.lan-event-content-holder h2 {
    color: #b9b9b9;
}
.lan-event-content-holder h2 span {
    color: #12beca; /*louis*/
}
.lan-review-comment {
    font-family: "LatoLight";
}
.border-bottom {
    border-bottom: 1px solid #4b4b4b;
    margin-bottom: 30px;
}
.lan-comment-author-name h3 {
    font-family: "AgencyFB";
    margin-top: 0;/*override css*/
}
.lan-review-item-name {
    font-size: 18px;
    margin-top: 5px;
    padding-bottom: 10px;
    color: #fa4c29;
}
.lan-genre, .lan-label, .lan-country, .lan-format {
    font-family: "LatoLight";
}
.lan-genre span, .lan-label span, .lan-country span, .lan-format span {
    color: #12beca; /*louis*/
}
.lan-share{
    text-transform: uppercase;
}
.lan-review-comment .lan-band-name{
    padding-right: 10px;
}
.lan-comment-form-all > h2, .lan-comment-section h2, .lan-comment-section h3{
    font-family: 'ThaiSansLite', sans-serif; /*louis*/
    color: #b9b9b9;
}
.lan-comment-content p {
    font-family: "AgencyFB";
    font-size: 16px;
    line-height: 24px;
}
.lan-reply{
    color: #b9b9b9;
}
.lan-reply:hover{
    color: #b9b9b9;
}

/*----------------------------------------------------
  10. Artists page
------------------------------------------------------*/
.horizontal-images.content {
    height: auto;
    max-width: 1170px;
    padding: 0;
    width: 100%;
}
.single-album {
    position: relative;
}
.single-album img {
    width: 100%;
}
.album-heading {
    bottom: 10%;
    left: 0;
    padding: 25px;
    position: absolute;
    width: 100%;
}
.overlay, .album-overlay .album-info, .tour-content {
    background: rgba(75,75,75,0.7);
}
.album-overlay .album-info {
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 25px;
    position: absolute;
    top: 0;
    transition: all 300ms ease 0s;
    width: 100%;
}
.album-info h3 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
}
.album-info ul {
    padding: 0;
}
.album-info ul li {
    color: #FFFFFF;
    list-style: none outside none;
}
.single-album:hover .album-overlay .album-info {
    opacity: 1
}
.single-album:hover .album-heading {
    display: none;
}



/*-----------------------------------------------------------
  11. Media page
------------------------------------------------------------*/
.lan-top-concerts-show li{
    padding-bottom: 15px;
}


/*---------------------------------------------------------
  12. Video page
-----------------------------------------------------------*/
.lan-video-holder {
    padding-bottom: 0;
}
.lan-single-video {
    padding-bottom: 30px;
}
.lan-music-holder .lan-single-video iframe{
    width: 100%;
}
.lan-single-video iframe{
   border: 1px solid #4b4b4b !important; 
}



/*--------------------------------------------------------
   13. Event page
----------------------------------------------------------*/
.lan-music-tour-place {
    padding-top: 5px;
}
.lan-music-tour-place h2 {
    font-size: 22px;
    margin-top: 0;
}
.lan-music-tour-place h2{
    color: #b9b9b9;
}
.lan-music-tour-place h2 span {
    color: #12beca ; /*louis*/
}
.lan-music-tour-photo img{
    border: 1px solid #4b4b4b;
}
.lan-music-tour-place p{
    font-family: "LatoLight";
}
.lan-music-tour-place p span{
    color: #fff;
}
.lan-tour-content-holder {
    background: none repeat scroll 0 0 #171717;
    border: 1px solid #171717;
    margin-bottom: 15px;
    padding: 5px;
}
.lan-tour-content-holder:hover{
    border: 1px solid #4b4b4b;
}
.lan-music-tour-place p{
    margin-bottom: 0;
}
.lan-music-tour-ticket a {
    background-image: url("/images/random/ticket_purchase.png");
    background-position: -5px 0;
    background-repeat: no-repeat;
    display: block;
    font-family: "LatoLight";
    padding: 20px 10px;
    text-align: center;
    color: #fa4c29;
}
.lan-music-tour-ticket{
    padding-top: 7px;
}


/*------------ 13.1 hover override css-----------------*/

.ContentWrapperO .ContentO .Content h2{
    margin-top: 0;
    color: #fa4c29;
}
.ContentWrapperO .ContentO .Content .ReadMore:hover{
    background: #008cdc;
}
.ContentWrapperO .ContentO .Content .ReadMore a:hover{
    color: #fff;
}
.ContentWrapperO .ContentO .Content .ReadMore a {
    background: none repeat scroll 0 0 #000;
    border-radius: 0;
    color: #ffffff;
    font-family: "LatoLight";
    padding: 5px 8px;
    display: block;
}
.ContentWrapperO .ContentO .Content .ReadMore a:hover{
    background: none repeat scroll 0 0 #fa4c29 !important;
}
.ContentWrapperO .ContentO .Content p {
    color: #fff;
    font: 14px/20px "LatoLight";
}
.ContentWrapperO .ContentO{
    background-color: #171717;
}
.ContentWrapperO .ContentO .Content .ReadMore{
    margin-top: 40px;
}
.lan-blog-post img{
    border: 1px solid #4b4b4b;
}



/*-------------------------------------------------
   14. Store page
---------------------------------------------------*/

.lan-store-holder, .lan-tour-holder ul{
    padding-left: 0;
    list-style: none
}
.lan-store-holder ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}
.lan-store-holder ul li {
    padding-bottom: 20px;
}
.lan-store-holder ul li:last-child {
    padding-bottom: 0;
}
.store-single-product-photo img{
    border: 1px solid #4b4b4b;
}
.store-single-product-info {
    background: none repeat scroll 0 0 #171717;
    border: 1px solid #4b4b4b;
    padding: 25px;
    min-height: 173px;
}
.store-single-product-price {
    border-left: 1px solid #4b4b4b;
    margin-top: 20px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-top: 20px;
}
.store-single-product-des {
    font-family: "LatoLight";
    font-size: 15px;
}
.store-single-product-price{
    font-family: "LatoLight";
}
.store-single-product-price a{
    color: #fa4c29;
}
.lan-purchase {
    color: #b9b9b9;
}
.store-single-product-info h2{
  color: #b9b9b9;  
}
.store-single-product-info h2 span{
    color:#12beca; /*louis*/
}
.store-single-product-info{
    padding-bottom: 15px;
}
.store-single-product-info h2 {
    font-size: 22px;
    margin-top: 0;
    padding-bottom: 10px;
}



/*--------------------------------------------------------------------
   15. Blog
---------------------------------------------------------------------*/

.lan-single-post-photo img {
    background: url("/images/random/bg_pattern.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #4b4b4b;
    padding: 10px;
}
.lan-single-post-content h3 {
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-transform: uppercase;
}
.lan-single-post-content h3 a{
    color: #fa4c29;
}
.lan-single-post-content p, .lan-single-post-content span{
    font-family: "LatoLight";
}
.lan-single-post-content p {
    font-size: 15px;
    padding-top: 15px;
}
.catItemDateCreated {
    color: #789101;
    font-size: 13px;
    padding-right: 10px;
}
.catItemHits {
    font-size: 13px;
}
.lan-banner img{
    padding: 10px;
    border: 1px solid #4b4b4b;
}
.lan-single-post-photo{
    position: relative;
}
.lan-cat-read-more {
    bottom: 11px;
    position: absolute;
    right: 12px;
    background-image: linear-gradient(to bottom, #212121, #101010);
    background-repeat: repeat-x;
    border-color: #171717;
    color: #fff;
    font-family: "LatoLight";
}
.lan-cat-read-more a:hover{
    background-color:#fa4c29;
    text-decoration: none;
}
.lan-cat-read-more a{
    color: #fff;
    padding: 6px 10px;
    display: block;
}
.lan-banner-photo{
    position: relative;
}
.lan-banner-title {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    bottom: 10px;
    font-size: 18px;
    left: 11px;
    max-width: 338px;
    padding: 10px;
    position: absolute;
    width: 100%;
}
.lan-banner-2{
    padding-bottom: 20px;
}



/*----------------- 15.1 Category page ----------------------------*/

.lan-category-holder ul, .lan-tag-holder ul, .lan-user-holder ul{
    padding-left: 0;
    list-style: none;
}
.lan-category-holder li, .lan-tag-holder li, .lan-user-holder li {
    border-bottom: 1px solid #4b4b4b;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

/*----------------- 15.2 Tag page -----------------*/

.lan-user{
    padding-bottom: 20px;
}
.lan-user img{
    background: #171717;
    border: 1px solid #4b4b4b;
    border-radius: 0;
}
.lan-super-user h2{
    margin-top: 0;
}
.lan-super-user p{
    font-family: "LatoLight";
}
.lan-tag {
    border: 1px solid #4b4b4b;
    font-family: "LatoLight";
    font-size: 15px;
    padding: 10px;
}
.lan-tag a{
    display: inline-block;
    padding: 4px;
    color: #b9b9b9;
}
.lan-tag a:hover{
    color: #ab6300;
}

/*-------------- 15.3 Pagination -----------------*/

.lan-pagination ul.pagination a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #4b4b4b;
    border-radius: 0;
    padding: 10px 15px;
    color: #b9b9b9;
}
.pagination a.start, .pagination a.prev, .pagination a.active{
    color: #b9b9b9; 
}
.lan-pagination ul.pagination a:hover{
    color: #fa4c29;
}
.pagination a{
    font-family: "LatoLight";
}
.lan-pagination ul.pagination {
	margin-bottom: 0;
	margin-top: 5px;
}


/*---------------------------------------------------------
   16. Contact page
-----------------------------------------------------------*/
.select-wrapper input.select-dropdown {
    border-radius: 0;
    font-size: 15px;
    border-bottom: 1px solid #4b4b4b;
    color: #686868;
}
.lan-contact-form input, .lan-contact-form textarea ,.select-wrapper input.select-dropdown {
    border-radius: 0;
    font-size: 15px;
    border-bottom: 1px solid #4b4b4b;
}
 .lan-contact-form input:focus, .lan-contact-form input:active{
    border-radius: 0;
    resize:none;
    color: #b9b9b9;
    border-bottom: 1px solid #12beca !important; /*louis*/
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    font-size: 15px;
}
 .lan-contact-form textarea.form-control{
   background:none !important; 
   resize:none;
   margin-top: 30px;
   border: 1px solid #4b4b4b;
 }
.lan-contact-form button.btn-primary{
    background-color: #171717;
    background-image: linear-gradient(to bottom, #212121, #101010);
    background-repeat: repeat-x;
    border-color: #171717;
    border-radius: 0;
}
.lan-contact-form button.btn-primary:hover{
    background: #fa4c29;
}
.lan-contact-info {
    padding-bottom: 20px;
}
.lan-contact-info p{
    font-family: "LatoLight";
    font-size: 15px;
}
.lan-contact-form input, .lan-contact-form textarea, .lan-contact-form button{
    font-family: "LatoLight";
}
#map-canvas {
    height: 436px;
    width: 100%;
}


/*--------------------------------------------------
    17. Login page
---------------------------------------------------*/

.lan-music-login{
    font-family: "LatoLight";
}
.not-found-page-menu{
    margin-top: 57px;
}
.lan-music-login h1{
    font-family: 'AgencyFB';
}
.lan-music-login p a{
    color: #b9b9b9;
}
.lan-music-login .form-group input, .lan-music-login .form-group button, .lan-music-login {
    border-radius: 0;
    font-size: 14px;
}
.lan-music-login button{
    border-radius: 0;
    background-color: #171717;
    background-image: linear-gradient(to bottom, #212121, #101010);
    background-repeat: repeat-x;
    border-color: #171717;
    color: #fff;
}
.lan-music-login button:hover{
    background: #fa4c29;
}
.lan-music-login .form-group label{
    padding-left: 0;
    font-size: 14px;
}
.lan-music-login .form-group input{
    border-bottom: 1px solid #4b4b4b;
}
.lan-music-login form.form-horizontal input:active, .lan-music-login form.form-horizontal input:focus{
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}
.not-found-page-content li{
    font-size: 15px;
}
.lan-music-login .form-group button:hover{
    background-color: #12beca; /*louis*/
    color: #fff;
}

/*-------------------------------------------------------------------------
	18. Boot overrides css
--------------------------------------------------------------------------*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #008cdc !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #008cdc !important;
}
.navbar-default .navbar-nav > li > a{
    color: #fff;
}
.navbar-default {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    padding-bottom: 0;
    height: auto;
}
input, textarea,  {
    box-shadow: none !important;   
}
input:focus, input:active, textarea:active, textarea:focus{
    border: 1px solid #12beca !important; /*louis*/
    box-shadow: none !important; 
}
.lan-footer-top .lan-footer-col1 input:focus{
    box-shadow: none !important; 
}

/*----------------------------------------------------------------------------
	19. Social
-----------------------------------------------------------------------------*/

.lan-social > p {
    color: #fff;
    font-size: 15px;
    margin: 0;
    padding: 10px 0;
    font-family: 'LatoLight';
}
.lan-share-item .lan-social .social {
    margin-right: 10px;
}
.lan-social .social {
    float: left;
    height: 36px;
    margin-right: 20px;
    width: 36px;
}
.social > a {
    display: block;
    height: 36px;
    width: 36px;
}
.lan_fb {
    background: url("/images/social/f.png") no-repeat scroll 30% 0 rgba(0, 0, 0, 0);
}
.lan_twitter {
    background: url("/images/social/t.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.lan_dribbl {
    background: url("/images/social/d.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.lan_vimbo {
    background: url("/images/social/v.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.lan_youtube {
    background: url("/images/social/y.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.lan_other {
    background: url("/images/social/o.png") no-repeat scroll 0 40% rgba(0, 0, 0, 0);
}

.lan_fb:hover{
    background: url("/images/social/f_h.png") no-repeat scroll 30% 0 rgba(0, 0, 0, 0);
}
.lan_twitter:hover {
    background: url("/images/social/t_h.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.lan_dribbl:hover {
    background: url("/images/social/d_h.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.lan_vimbo:hover {
    background: url("/images/social/v_h.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.lan_youtube:hover {
    background: url("/images/social/y_h.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.lan_other:hover {
    background: url("/images/social/o_h.png") no-repeat scroll 0 40% rgba(0, 0, 0, 0);
}
.lan-twitter-post-content {
    background: url("/images/random/twitter.png") no-repeat scroll 0 10% rgba(0, 0, 0, 0);
    padding-left: 30px;
}
.lan-twitter-update  #twitter_list ul{
    padding-left:0;
    list-style:none;
}
.lan-twitter-update  #twitter_list ul li{
    padding-left:30px;
    background: url("/images/random/twitter.png") no-repeat scroll 0 2% rgba(0, 0, 0, 0);
}

/*-----------------------------------------------------------------------
	20. Footer
------------------------------------------------------------------------*/
#footer{
    border-top: 1px solid #4b4b4b;
    background: url("/images/random/bg_pattern.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.lan-footer-bottom-copyright{
    text-align: left;
}
.lan-footer-top {
    padding-bottom: 30px;
    padding-top: 30px;
}
.lan-footer-top h2 {
    font-size: 22px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 30px;
    margin-bottom: 28px;
    margin-top: 0;
    padding: 10px;
    text-transform: uppercase;
    background: url("/images/random/footer_title.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    text-shadow: 1px 1px 2px #000000;
    color: #fff !important; /*louis*/
}
.lan-footer-col1, .lan-footer-col2, .lan-footer-col3 {
    width: 95%;
}
.lan-footer-col1 form{
    font-family: 'LatoLight';
}
.lan-twitter-update {
    color: #fff;
    font-family: 'LatoLight';
}
.lan-twitter-update p.tweet a, .lan-twitter-update p.tweet span{
    color: #b9b9b9;
}
#footer-copyright {
    border-top: 1px solid #000000;
    box-shadow: 0 1px 0 #312f2b inset;
    color: #008cdc !important;
    font-size: 15px;
    font-family: 'LatoLight';
}
.lan-footer-bottom-copyright {
    padding: 15px 0;
    color: #12beca; /*louis*/
}
.lan-footer-bottom-copyright a{
    color: #12beca; /*louis*/
}
.lan-footer-col1 .form-control {
    border-radius: 0;
    width: 80%;
    font-size: 14px;
    border-bottom: 1px solid #4b4b4b;
}
.lan-footer-col1 button, .lan-contact-form button{
    border-radius: 0;
    background-color: #171717;
    background-image: linear-gradient(to bottom, #212121, #101010);
    background-repeat: repeat-x;
    border-color: #171717;
    color: #fff;
}
.lan-footer-col1 button:hover, .lan-contact-form button:hover{
    background: #12beca;
    border-color: #12beca;
    color: #fff;
}



/*-----------------------------------------------------------------------
    21. Slider
------------------------------------------------------------------------*/
.slotholder, .tp-bannertimer{
    max-width: 1140px;
    overflow: hidden;
}
#slider .tp-caption.very_large_text{
    font-size: 160px;
    color: #fa4c29;
}
#slider .tp-caption.medium_text{
    font-size: 60px;
}
#slider .tp-caption.medium_grey{
    font-size: 13px;
}
#slider .tp-caption.small_text{
    font-size: 30px;
}
#slider .tp-caption.large_text{
    font-size: 60px;
    color: #fa4c29;
    background:none repeat scroll 0 0 rgba(0, 0, 0, .6);
    padding: 20px !important;
}
.lan-envato{
    color: #fa4c29;
}
.font-blue{
    color: #12beca; /*louis*/
}
.slider-bg{
   background-image: url("/images/random/bg_pattern.jpg");
}




/*---------------------------------------------------------
 22. Pre loader
 ---------------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f3f7;
    /* change if the mask should have another color then white */
    z-index: 9999999;
    /* makes sure it stays on top */
}
#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(/images/random/status.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}



/*---------------------------------------------------------
 23. Pop up override
 ---------------------------------------------------------*/

.cbp-popup-singlePage .cbp-popup-navigation{
    background: url("/images/random/bg_pattern.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.cbp-l-project-details-visit{
    background: #171717;
}
.cbp-l-project-details-visit:hover{
    background: #fa4c29;
}
.cbp-popup-singlePage .cbp-popup-close {
	background: url(/images/popup/cbp-sprite.png) -92px -92px no-repeat;
}
.cbp-popup-singlePage .cbp-popup-prev {
background: url(/images/popup/cbp-sprite.png) 0 -92px no-repeat;
}
.cbp-popup-singlePage .cbp-popup-next {
	background: url(/images/popup/cbp-sprite.png) -46px -92px no-repeat;
}


/*---------------------------------------------------------
    24. Material overdide css
 ---------------------------------------------------------*/

.container .row {
    margin-right: -15px;
    margin-left: -15px;
}
.row{
    margin-bottom: 0;
}
.lan-footer-top .lan-footer-col1 input:focus, .lan-footer-top .lan-footer-col1 input:active{
    border-bottom: 1px solid #12beca !important; /*louis*/
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
}


/*---------------------------------------------------------
    25. ColorFul Hover Gallery 
 ---------------------------------------------------------*/

/* lan-gallery */

.lan-gallery.with_indents .lan-gallery-item {
    padding: 2px;
    }
.lan-gallery-item-h {
    overflow: hidden;
    position: relative;
    z-index: 1;
    }
.lan-gallery-item-anchor {
    background-color: #fff;
    color: #444;
    }
.lan-gallery-item-image {
    background-color: inherit;
    }
.lan-gallery-item-image img {
    width: 100%;
    }
.lan-gallery-item-meta {
    padding: 20px;
    position: relative;
    background-color: inherit;
    }
.lan-gallery-item-meta-h {
    background-color: inherit;
    }
.lan-gallery-item-title {
    font-size: 20px;
    color: inherit !important;
    }
.l-footer .lan-gallery-item-title {
    font-size: 14px !important;
    }
.lan-gallery-item-text {
    font-size: 13px;
    line-height: 18px;
    margin-top: 5px;
    opacity: 0.66;
    }
.type_1 .lan-gallery-item-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    border-radius: 50%;
    padding-bottom: 100%;
    background-color: inherit;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(.4,0,.2,1), opacity 0.4s;
            transition: transform 0.4s cubic-bezier(.4,0,.2,1), opacity 0.4s;
    }
.type_1.ratio_4-3 .lan-gallery-item-image:after {
    top: -16.6666%;
    }

.type_1 .lan-gallery-item-anchor:hover .lan-gallery-item-image:after {
    opacity: 0.85;
    -webkit-transform: scale(1.42);
            transform: scale(1.42);
    }
.type_1.ratio_4-3 .lan-gallery-item-anchor:hover .lan-gallery-item-image:after {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    }
.type_1 .lan-gallery-item-meta {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: none;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(.4,0,.2,1), opacity 0.25s;
            transition: transform 0.25s cubic-bezier(.4,0,.2,1), opacity 0.25s;
    }
.type_1 .lan-gallery-item-anchor:hover .lan-gallery-item-meta {
    opacity: 0.9;
    -webkit-transform: scale(1);
            transform: scale(1);
    }
.type_1 .lan-gallery-item-meta:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-left: -0.5em;
    }
.type_1 .lan-gallery-item-meta-h {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    }

.lan-gallery-item-anchor {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}
 .lan-gallery-item-meta {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	background: none;
	-webkit-transform: scale(0);
			transform: scale(0);
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(.4,0,.2,1), opacity 0.25s;
			transition: transform 0.25s cubic-bezier(.4,0,.2,1), opacity 0.25s;
	}

.lan-gallery-item-anchor:hover .lan-gallery-item-meta {
	opacity: 0.9;
	-webkit-transform: scale(1);
			transform: scale(1);
	}
.lan-gallery-item-meta:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	margin-left: -0.5em;
	}
.lan-gallery-item-meta-h {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	}

.lan-item1 a{
	background-color: #7e57c2; 
	color: #ffffff;
}
.lan-item2 a{
	background-color: #ffd54f; 
	color: #ffffff;
}
.lan-item3 a{
	background-color: #fff4ea; 
	color: #38291d;
}
.lan-item4 a{
	background-color: #ff5d44; 
	color: #ffffff;
}
.lan-item5 a{
	background-color: #7cb342; 
	color: #ffffff;
}
.lan-item6 a{
	background-color: #41baae; 
	color: #ffffff;
}

.lan-gallery.with_indents .lan-gallery-list {
    margin: -2px;
}
.lan-gallery-list {
    position: relative;
}
.lan-gallery.columns_3 .lan-gallery-item {
    width: 33.3333%;
}
.lan-gallery-item {
    float: left;
}
.lan-gallery-item-h {
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.lan-gallery-item-image {
    background-color: inherit;
}
.lan-gallery-item-image img {
    width: 100%;
}
.lan-gallery-item-image img {
    display: block;
    margin: 0 auto;
}
.lan-gallery-item-text {
    display: block;
}

/*----------------   End ColorFul Hover Gallery  --------------------*/


