﻿@model IEnumerable<DINFDAL.Models.User>
@{
    ViewBag.Title = "ข้อมูลรายได้ศิลปิน";
    // Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Layout = null;
    var incomeTransacts = ViewBag.IncomeTransact as List<DINFDAL.Models.vVoteIncomeTransaction>;
}
@section styles{
    <!-- PAGE LEVEL STYLES -->
    <link href="~/assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <!-- END PAGE LEVEL  STYLES -->
}
<!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <![endif]-->
<!-- GLOBAL STYLES -->
<link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="~/assets/css/main.css" />
<link rel="stylesheet" href="~/assets/css/theme.css" />
<link rel="stylesheet" href="~/assets/css/MoneAdmin.css" />
<link rel="stylesheet" href="~/assets/plugins/Font-Awesome/css/font-awesome.css" />
<link href="~/css/validate.css" rel="stylesheet" />
<!--PAGE CONTENT -->
<div id="content">

    <table border="1" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th rowspan="2">User Name</th>
                <th rowspan="2">SMS TOTAL</th>
                <th colspan="3">SMS TYPE 1</th>
                <th colspan="3">SMS TYPE 2</th>
                <th rowspan="2">POINT TOTAL</th>
                <th colspan="3">POINT TYPE 1</th>
                <th colspan="3">POINT TYPE 2</th>
                <th rowspan="2">รวมทั้งหมด</th>
                <th rowspan="2">Email</th>
                <th rowspan="2">ชื่อ</th>
                <th rowspan="2">นามสกุล</th>
                <th rowspan="2">เบอร์โทรศัพท์</th>
                <th rowspan="2">วันเดือนปีเกิด</th>
                <th rowspan="2">ที่อยู่</th>
                <th rowspan="2">เลขที่บัตรประจำตัวประชาชน</th>
                <th rowspan="2">เลขที่บัญชีธนาคาร</th>
                <th rowspan="2">ชื่อธนาคาร</th>
            </tr>
            <tr>
                <th>จำนวนครั้ง</th>
                <th>
                    เงินรางวัลหลังหักค่าใช้จ่าย(บาท)
                </th>
                <th>
                    จำนวนเงินรางวัล(บาท)
                </th>
                <th>จำนวนครั้ง</th>
                <th>
                    เงินรางวัลหลังหักค่าใช้จ่าย(บาท)
                </th>
                <th>
                    จำนวนเงินรางวัล(บาท)
                </th>
                <th>จำนวนครั้ง</th>
                <th>
                    เงินรางวัลหลังหักค่าใช้จ่าย(บาท)
                </th>
                <th>
                    จำนวนเงินรางวัล(บาท)
                </th>
                <th>จำนวนครั้ง</th>
                <th>
                    เงินรางวัลหลังหักค่าใช้จ่าย(บาท)
                </th>
                <th>
                    จำนวนเงินรางวัล(บาท)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderByDescending(i => i.datetime_create))
            {
                var incomeTransact = incomeTransacts.Where(i => i.int_user_id.Equals(item.Id));
                var smsCount = incomeTransact.Where(i => i.int_vote_method == 1).Select(i => i.int_vote_history_id).Distinct().Count();
                var pointCount = incomeTransact.Where(i => i.int_vote_method == 2).Select(i => new { i.int_vote_history_id, i.int_vote_value }).Distinct().Sum(i => i.int_vote_value);
                var smsType1 = incomeTransact.Where(i => i.int_vote_method == 1).GroupBy(g => g.int_vote_history_id).Where(i => i.Count() == 1).Count();
                var smsType2 = incomeTransact.Where(i => i.int_vote_method == 1).GroupBy(g => g.int_vote_history_id).Where(i => i.Count() == 2).Count();
                var pointType1 = incomeTransact.Where(i => i.int_vote_method == 2).GroupBy(g => new { g.int_vote_history_id, g.int_vote_value }).Where(i => i.Count() == 1).Sum(i => i.Key.int_vote_value);
                var pointType2 = incomeTransact.Where(i => i.int_vote_method == 2).GroupBy(g => new { g.int_vote_history_id, g.int_vote_value }).Where(i => i.Count() == 2).Sum(i => i.Key.int_vote_value);
                <tr class="gradeA odd">
                    <td class="text-left">@item.UserName</td>
                    @*SMS*@
                    <td class="text-right">@String.Format("{0:#,0}", smsCount)</td>
                    <td class="text-right">@String.Format("{0:#,0}", smsType1)</td>
                    <td class="text-right">0.21</td>
                    <td class="text-right">@String.Format("{0:#,0.00}", (smsType1 * 0.21))</td>
                    <td class="text-right">@String.Format("{0:#,0}", smsType2)</td>
                    <td class="text-right">0.42</td>
                    <td class="text-right">@String.Format("{0:#,0.00}", (smsType2 * 0.42))</td>
                    @*Point*@
                    <td class="text-center">@String.Format("{0:#,0}", pointCount)</td>
                    <td class="text-right">@String.Format("{0:#,0}", pointType1)</td>
                    <td class="text-right">0.88</td>
                    <td class="text-right">@String.Format("{0:#,0.00}", (pointType1 * 0.88))</td>
                    <td class="text-right">@String.Format("{0:#,0}", pointType2)</td>
                    <td class="text-right">1.76</td>
                    <td class="text-right">@String.Format("{0:#,0.00}", (pointType2 * 1.76))</td>
                    @*Sum*@
                    <td class="text-right">@String.Format("{0:#,0.00}", ((smsType1 * 0.21) + (pointType1 * 0.88)) + ((smsType2 * 0.42) + (pointType2 * 1.76)))</td>
                    @*Info*@
                    <td class="">@item.Email</td>
                    <td class="">@item.txt_firstname</td>
                    <td class="">@item.txt_lastname</td>
                    <td class="">@item.txt_phone</td>
                    <td class="">@(item.date_birth.HasValue ? item.date_birth.Value.ToString("dd/MM/yyyy") : "")</td>
                    <td class="">@item.txt_address</td>
                    <td class="">@item.txt_id_card</td>
                    <td class="">@item.txt_bank_account</td>
                    <td class="">@(item.Bank != null ? item.Bank.txt_bank_name : "")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!--END PAGE CONTENT -->
@section scripts{
    <!-- PAGE LEVEL SCRIPTS -->
    <script src="~/assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script>
    </script>
    <!-- END PAGE LEVEL SCRIPTS -->
}
<script src="~/assets/plugins/jquery-2.0.3.min.js"></script>
<script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>