﻿@model IList<Product>
@using System.Web.UI.WebControls
@using PagedList.Mvc;
@using DINFDAL.Models
@{
    string dx = DateTime.Now.ToString("yyyyMMddhhmmssfff");
    var inv = @dx;
    var paysbuyconfig = ViewBag.PaysBuyConfig as PaysBuyConfig;
}
@section styles{
    <style>
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color: #428bca;
        }

        .sm-top {
            color: black;
            font-weight: bold;
        }
    </style>
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="lan-module-title">
                <h1 class="title">
                    Get More Poits
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4 col-md-3 text-center">
                <div class="well text-center">
                    <img class="img-responsive" src="@item.txt_image" alt="">
                    <p class="sm-top" style="font-size: 22px">
                        @item.txt_product_name
                        <br />
                        ราคา:
                        <span class="tooltips text-dotted" data-toggle="tooltip" data-placement="top"
                              title="@item.txt_product_desc">
                            @string.Format("{0:0,0.00} ฿", item.dec_price)
                        </span>
                    </p>
                    <div style="height: 50px;">                      
                        <a href="@Url.Action("GetPoint","Point",new {id=item.txt_product_no})"><img src="https://www.paysbuy.com/imgs/powerby5.jpg" /></a>                      
                    </div>
                    <div style="height: 40px;">
                        <a href="@Url.Action("GetPointWithLinePay", "Point", new { id = item.txt_product_no })"><img src="~/images/linepay_logo_119x39.png" /></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div><!-- /.container -->
@section scripts
{
    
}
