﻿@using Microsoft.AspNet.Identity
@model DINFDAL.Models.PointTransferViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/css/chosen.min.css" rel="stylesheet" />
    <link href="~/css/chosen.bootstrap.min.css" rel="stylesheet" />
    <style>
        .select2 {
            background: transparent !important;
            border-bottom: 1px solid #4b4b4b !important;
        }

        .select2-container--open {
            border: 1px !important;
        }
        .select2-container--default .select2-selection--single {
            border: 0px !important;
            border-bottom: 1px solid #4b4b4b !important;
        }
        .select2-selection--single {
            border: 1px !important;
            border-bottom: 1px solid #4b4b4b !important;
        }
        .select2-container {
            background: transparent !important;
            border: 0px !important;
            border-bottom: 1px solid #4b4b4b;
            width: 100% !important;
        }

        .select2-dropdown {
            background: #4b4b4b !important;
        }

        .select2-container--default .select2-selection--single {
            background: transparent !important;
            color: darkgray !important;
        }

        .select2-selection select2-selection--single {
            background: transparent !important;
            border: 0px solid #4b4b4b;
        }

        .select2-selection select2-selection--single {
            background: #4b4b4b !important;
        }

        .chosen-container .chosen-results {
            color: darkgray !important;
        }

        .chosen-container-single .chosen-search input[type=text] {
            width: 95% !important;
        }

        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            background: url("/images/random/bg_pattern.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
        }
    </style>
}
<!-- Login
                ================================================== -->
<section id="login" class="pb-30">

    <div class="container">

        <div class="row">

            <div class="col-md-8">

                <div class="lan-music-login">
                    <h1>Transfer Point</h1>
                    <p>@Html.ValidationSummary(true)</p>
                    @using (Html.BeginForm("Transfer", "Point", FormMethod.Post, new { @class = "lan-contact-form", autocomplete = "off", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.int_user_id)
                        @Html.HiddenFor(m => m.CurrentPoint)
                        <div class="form-group">
                            <span style="font-size: 24px;">Cyberry Point ของคุณ: <a>@Model.CurrentPoint</a> Points</span> <a class="btn-din-bule" style="width: 170px" target="_bank" href="@Url.Action("Index","Point")">Get More Point</a>
                        </div>
                        <div class="form-group">
                            <label for="UserName" class="control-label col-xs-4">ชื่อผู้โอน</label>
                            <div class="col-xs-8">
                                @Html.TextBox("UserName", User.Identity.GetUserName(), new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                            </div>
                        </div>
                        if (Request.Browser.IsMobileDevice)
                        {
                            <div class="form-group">
                                <label for="int_target_user_id" class="control-label col-xs-4">ชื่อผู้รับ</label>
                                <div class="col-xs-8">
                                    @Html.DropDownListFor(model => model.int_target_user_id, (List<SelectListItem>)ViewBag.ListOfUserIds, "เลือกผู้รับ", new { @class = "select2" })
                                    @Html.ValidationMessageFor(model => model.int_target_user_id)
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <label for="int_target_user_id" class="control-label col-xs-4">ชื่อผู้รับ</label>
                                <div class="col-xs-8">
                                    @Html.DropDownListFor(model => model.int_target_user_id, (List<SelectListItem>)ViewBag.ListOfUserIds, "Search...", new { @class = "select2" })
                                    @Html.ValidationMessageFor(model => model.int_target_user_id)
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <label for="Point" class="control-label col-xs-4">จำนวน Point ที่ต้องการโอน</label>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(m => m.Point, new { @class = "form-control", @placeholder = "" })
                                @Html.ValidationMessageFor(m => m.Point)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-4 col-xs-8">
                                <button type="submit" class="btn-flat waves-effect" onclick="return confirm('Are you sure you want to transfer points')">Confirm</button>
                            </div>
                        </div>
                    }

                </div>
            </div><!-- col-md-8 -->

            <div class="col-md-4">

            </div> <!--/.col-md-4 /.right side -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- End Login -->
@section scripts
{
    <script src="~/js/chosen.jquery.min.js"></script>
    <script src="~/js/chosen.proto.min.js"></script>
    <!-- PAGE LEVEL SCRIPT-->
    @if (Request.Browser.IsMobileDevice)
    {
        <script>
            //
            $(document).ready(function () {
                //set dropdown list
                $(".select2").select2();
            });
        </script>
    }
    else
    {
        <script>
            //
            $(document).ready(function () {
                //$(".chosen-select").chosen();
                $(".select2").select2();
            });
        </script>
    }
    <!--END PAGE LEVEL SCRIPT-->
}
