﻿@model DINFDAL.Models.VoteViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Log in";
}
@section Styles{
    <style>
        .cbp-l-loadMore-button .cbp-l-loadMore-button-link {
            margin-top: 0px;
        }
    </style>
}
<!-- Login
                ================================================== -->
<section id="login" class="pb-30">

    <div class="container">

        <div class="row">

            <div class="col-md-8">

                <div class="lan-music-login">
                    <h1>Vote Now</h1>
                    <p>@Html.ValidationSummary(true)</p>
                    @using (Html.BeginForm("Vote", "Point", FormMethod.Post, new { @class = "lan-contact-form", autocomplete = "off", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.SongId)
                        @Html.HiddenFor(m => m.CurrentPoint)
                        <div class="form-group">
                            <span style="font-size: 24px;">Cyberry Point ของคุณ: <a>@Model.CurrentPoint</a> Points</span> <a class="btn-din-bule" style="width: 170px" target="_bank" href="@Url.Action("Index","Point")">Get More Point</a>
                        </div>
                        <div class="form-group">
                            <label for="Point" class="control-label col-xs-4">Cyberry Point ที่ต้องการ Vote</label>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(m => m.Point, new { @class = "form-control", @placeholder = "" })
                                @Html.ValidationMessageFor(m => m.Point)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-4 col-xs-8">
                                <button type="submit" class="btn-flat waves-effect" onclick="return confirm('Are you sure you want to Vote')">ตกลง</button> <button type="reset" class="btn-flat waves-effect">ยกเลิก</button>
                            </div>
                        </div>
                    }

                </div>
            </div><!-- col-md-8 -->

            <div class="col-md-4">
            
            </div> <!--/.col-md-4 /.right side -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- End Login -->
@section Scripts {

}
