﻿@model List<DINFDAL.Models.vTopScore>
@using (Ajax.BeginForm("GetTopScore", "Home", "", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "TopScore"
}, new { @class = "", @id = "frmTopScore" }))
{
    <div class="store-single-product-info">
        <div class="row">
            <input id="hidReWard" type="hidden" value="@String.Format("{0:#,0.00}", 100000 + Decimal.Parse(Session["reward"].ToString()))" />
            <div class="col-md-10 col-center-block">
                <table class="table">
                    @{
                        var iNum = 0;
                    }
                    @foreach (var item in Model)
                    {
                        iNum++;
                        <tr >
                            <td style="vertical-align: middle; @(iNum == 1 ? "border-top:0px;" : "")">
                                <h1 style="font-size: 50px">@iNum</h1>
                            </td>
                            <td style="@(iNum == 1 ? "border-top:0px;" : "")">
                                @if (!String.IsNullOrEmpty(item.txt_youtube_url))
                                {
                                    var id = @System.Text.RegularExpressions.Regex.Match(item.txt_youtube_url, @"^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$").Groups[1].Value;
                                    <a href="@Url.Action("SongDetail", "Profile", new {id = item.int_song_contest_id})" target="_bank"><img class="img-responsive" style="width: 245px" src="https://i1.ytimg.com/vi/@id/hqdefault.jpg" alt=""></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("SongDetail", "Profile", new {id = item.int_song_contest_id})"><img class="img-responsive" src="~/images/soundcloud_logo.png" alt="@item.txt_song_name"></a>
                                }
                            </td>
                            <td style="@(iNum == 1 ? "border-top:0px;" : "")">
                                <p class="th_fahkwang" style="font-size: 30px">
                                    <span style="color: white;font-size: 40px;">พิมพ์ @item.txt_vote_code แล้วส่งมาที่เบอร์ 4221666</span><br/>
                                    Name : <span>@item.UserName</span><br>
                                    Song Name : <span>@item.txt_song_name</span><br>
                                    Score : <span style="color: white; font-size: 40px;">@String.Format("{0:#,0}", item.int_value)</span>
                                </p>
                            </td>

                        </tr>

                    }
                </table>
            </div>
        </div>
    </div>
}
