﻿@{
    ViewBag.Title = "About";
}
<div class="container">
    <h2>@ViewBag.Title Cyberry Music</h2>
    @*<h3>@ViewBag.Message</h3>*@

    <p>
        Cyberry Music คือที่เติมฝันให้กับคนที่มีความฝันด้านดนตรี โดยมีจุดเริ่มจากการประกวดดนตรีด้วย "ดนตรีของคุณ"
        เมื่อคุณเผยแพร่ดนตรีของคุณกับ Cyberry Music คุณจะเป็นเจ้าของลิขสิทธิ์เพลงของท่านทันทีโดยอัตโนมัติ และสามารถหารายได้จากเพลงของคุณได้ด้วยการชวนเพื่อนมาโหวตเพื่อให้ชนะรางวัล
        ซึ่งหากเพลงของคุณดี และได้รับการโหวตมาก คุณก็จะได้รับเงินส่วนแบ่งมากขึ้นด้วย
    </p>

    <p>
        นอกจากนี้เงินรางวัลยังนำมาสมทบรวมขึ้นเรื่อยๆ โดยที่คนที่ชนะโหวตจะได้เงินรางวัลนั้น
    </p>

        <p>  นอกเหนือจากเงินรางวัลแล้ว ท่านยังมีเวทีเผยแพร่ดนตรีของท่านให้แก่บุคคลอื่นฟังด้วย จะรออะไรกันล่ะครับ ลุยกันเลยยยย

    </p>
    
</div>
