﻿@model PagedList.IPagedList<Song_Original>
@using PagedList.Mvc;
@using DINFDAL.Models
@{

}
@section styles{
    <style>
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color: #428bca;
        }
    </style>
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="lan-module-title">
                <h1 class="title"><a href="@Url.Action("OriginalSongList","Home")">Original Song List-> </a>@ViewBag.Title Song</h1>
            </div>
        </div>
    </div><!-- /.row -->

    <div class="lan-video-holder fitvids">
        <div class="row" style="padding-top: 10px;">
            @foreach (var item in Model)
            {
                <div class="col-sm-3" style="margin: 7px 0px">
                    <div class="lan-single-video" style="padding-bottom: 0px;">
                        @if (item.txt_youtube_url.Length > 0)
                        {
                            var id = @System.Text.RegularExpressions.Regex.Match(item.txt_youtube_url, @"^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$").Groups[1].Value;
                            <a href="@Url.Action("OriginalSongDetail", "Profile", new {id = item.int_song_original_id})"><img class="img-responsive" style="border: 1px solid #4b4b4b;" src="https://i1.ytimg.com/vi/@id/hqdefault.jpg" alt="@item.txt_songname"></a>
                        }
                        else
                        {
                            <a href="@Url.Action("OriginalSongDetail", "Profile", new {id = item.int_song_original_id})"><img class="img-responsive" style="border: 1px solid #4b4b4b;" src="~/images/soundcloud_logo.png" alt="@item.txt_songname"></a>
                        }
                    </div>
                    <div class="profile-song-list text-left text-over-nowarp">
                        Song Name : <span>@item.txt_songname</span><br />
                        Composer : <span>@item.User.UserName</span><br />
                        Used : <span>@item.Song_Contest.Count(i => i.is_active == true && i.is_approved == true)</span>
                    </div>
                </div>
                        <!-- /.col-md-4 -->
            }
        </div><!-- /.row -->
    </div>

    @Html.PagedListPager(Model, page => Url.Action("SongList",
            new { p = ViewBag.Title, page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@


</div><!-- /.container -->
