﻿@model PagedList.IPagedList<Song_Contest>
@using PagedList.Mvc;
@using DINFDAL.Models
@{

}
@section styles{
    <style>
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color: #428bca;
        }
    </style>
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="lan-module-title">
                <h1 class="title"><a href="@Url.Action("SongList","Home")">Song List-> </a>@ViewBag.Title Song</h1>
            </div>
        </div>
    </div><!-- /.row -->

    <div class="lan-video-holder fitvids">
        <div class="row" style="padding-top: 10px;">
            @foreach (var item in Model)
            {
                <div class="col-sm-3" style="margin: 7px 0px">
                    <div class="lan-single-video" style="padding-bottom: 0px;">
                        @if (!String.IsNullOrEmpty(item.txt_youtube_url))
                        {
                            <a href="@Url.Action("SongDetail", "Profile", new {id = item.int_song_contest_id})" target="_blank"><img class="img-responsive" style="border: 1px solid #4b4b4b;" src="https://i1.ytimg.com/vi/@item.txt_youtube_id/hqdefault.jpg" alt=""></a>
                        }
                        else
                        {
                            <a href="@Url.Action("SongDetail", "Profile", new { id = item.int_song_contest_id })" target="_blank"><img class="img-responsive" style="border: 1px solid #4b4b4b;" src="~/images/soundcloud_logo.png" alt="@item.txt_song_name"></a>
                        }
                    </div>
                    <div class="profile-song-list text-left text-over-nowarp">
                        Song Name : <span>@item.txt_song_name</span><br />
                        Code Vote : <span>@item.txt_vote_code</span><br />
                        User : <span>@item.User.UserName</span><br />
                        Score : <span>@item.Score_Song.Sum(i => i.int_value)</span>
                    </div>
                </div>
                                <!-- /.col-md-4 -->
            }
        </div><!-- /.row -->
    </div>

    @Html.PagedListPager(Model, page => Url.Action("SongList",
            new { p = ViewBag.Title, page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@


</div><!-- /.container -->
