﻿@model PagedList.IPagedList<vUserScoreSong>
@using PagedList.Mvc;
@using DINFDAL.Models
@{
    var HotArtist = ViewBag.HotArtist as IList<vUserScoreSong>;
    var NewArtist = ViewBag.NewArtist as IList<vUserScoreSong>;
}
@section styles{
    <style>
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color: #428bca;
        }
    </style>
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="lan-module-title">
                <h1 class="title">Artist List</h1>
            </div>
        </div>
    </div><!-- /.row -->

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab1">Hot Artist</a></li>
        <li><a data-toggle="tab" href="#tab2">New Artist</a></li>

    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab-pane fade in active">
            <div class="lan-video-holder fitvids">
                <div class="row" style="padding-top:10px;">
                    @foreach (var item in HotArtist)
                    {
                        <div class="col-sm-3" style="margin: 7px 0px;">
                            <div class="lan-single-video" style="padding-bottom: 0px; overflow: hidden">
                                <a href="@Url.Action("Member","Profile",new{id=item.Id})" target="_bank"><img  style="border: 1px solid #4b4b4b;"  height="146" src="@(item.txt_avatar??"http://placehold.it/145x146")" alt="@item.UserName"></a>
                            </div>
                            <div class="profile-song-list text-left text-over-nowarp">
                                Name : <span>@item.UserName</span><br />
                                Score : <span>@item.score</span>
                            </div>
                        </div>
                        <!-- /.col-md-4 -->
                    }
                </div><!-- /.row -->
            </div>
        </div>

        <div id="tab2" class="tab-pane fade">
            <div class="lan-video-holder fitvids">
                <div class="row" style="padding-top:10px;">
                    @foreach (var item in NewArtist)
                    {
                        <div class="col-sm-3" style="margin: 7px 0px;">
                            <div class="lan-single-video" style="padding-bottom: 0px; overflow: hidden">
                                <a href="@Url.Action("Member","Profile",new{id=item.Id})" target="_bank"><img style="border: 1px solid #4b4b4b;" height="146" src="@(item.txt_avatar??"http://placehold.it/145x146")" alt="@item.UserName"></a>
                            </div>
                            <div class="profile-song-list text-left text-over-nowarp">
                                Name : <span>@item.UserName</span><br />
                                Score : <span>@item.score</span>
                            </div>
                        </div>
                        <!-- /.col-md-4 -->
                    }
                </div><!-- /.row -->
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <h1></h1>
        </div>
    </div>
    <!-- /.All Artist -->
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab3">All Artist</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab3" class="tab-pane fade in active">
            <div class="lan-video-holder fitvids">
                <div class="row" style="padding-top: 10px;">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-3" style="margin: 7px 0px;">
                            <div class="lan-single-video" style="padding-bottom: 0px; overflow: hidden">
                                <a href="@Url.Action("Member","Profile",new{id=item.Id})" target="_bank"><img style="border: 1px solid #4b4b4b;" height="146" src="@(item.txt_avatar??"http://placehold.it/145x146")" alt="@item.UserName"></a>
                            </div>
                            <div class="profile-song-list text-left text-over-nowarp">
                                Name : <span>@item.UserName</span><br />
                                Score : <span>@item.score</span>
                            </div>
                        </div>
                        <!-- /.col-md-4 -->
                    }
                </div><!-- /.row -->
            </div>
            <!-- /.All Artist End -->
        </div>
        @Html.PagedListPager(Model, page => Url.Action("Artistlist",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@


    </div>
</div><!-- /.container -->
