﻿@model WebCyberryMusic.Models.ContactViewModels
<!-- Contact
            ================================================== -->
<section id="contact">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="lan-module-title">
                    <h1 class="title">Contact US</h1>
                </div>
            </div>
        </div>

        <div class="lan-contact-holder pb-30">

            <div class="row">

                <div class="col-md-6">
                    <div class="lan-contact-info">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Cyberry Music ( Head Office)
                                @*<br>หมู่บ้านธาราดี ราชพฤกษ <br />ตำบล บางรักน้อย <br />อำเภอเมืองนนทบุรี<br />นนทบุรี*@
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    @*Tel: 088 999 1234<br> Fax: 02 789 564<br> *@
                                    Email: admin@cyberrymusic.com
                                    @*<br />Line: cyberrymusic_88*@
                                </p>
                            </div>
                        </div>
                    </div><!-- /.lan-contact-info -->

                    <p>@Html.ValidationSummary()</p>
                    <div class="lan-contact-form">
                        @if (ViewBag.IsSuccess ?? false)
                        {
                            <div class="alert alert-info">
                                <p class="text-info">
                                    Your message was sent successfully.
                                </p>
                            </div>
                        }
                        @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "lan-contact-form", autocomplete = "off", role = "form" }))
                        {
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name" })
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @placeholder = "Subject" })
                                @Html.ValidationMessageFor(m => m.Subject)
                            </div>
                            <div class="form-group">
                                @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @placeholder = "Message", @row = "4" })
                                @Html.ValidationMessageFor(m => m.Message)
                            </div>
                            <button type="submit" class="btn-flat waves-effect pull-right">Send Message</button>
                        }<!-- /.form -->
                    </div><!-- /.lan-contact-form -->
                </div><!-- /.col-md-6 -->
                <!-- Start Google Map -->
                <div class="col-md-6">
                    <div class="lan-google-map">
                        <div id="map-canvas"></div>
                    </div><!-- /.lan-google-map-->
                </div><!-- /.col-md-6 -->
                <!-- End Google Map -->

            </div><!-- /.row -->
        </div><!-- /.lan-contact-holder -->
    </div><!-- container -->
</section>
<!-- End Contact -->
<!-- Google Api JS -->
@*<script src="https://maps.googleapis.com/maps/api/js"></script>*@

<script type="text/javascript">
    /*------------------------------ Google Map script  ----------------------*/
    function initialize() {
        var latlng = new google.maps.LatLng(13.8668117156377, 100.448947645455);
        var myOptions = {
            zoom: 15,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
        var phothalai = new google.maps.Marker({
            position: latlng,
            map: map,
            title: "Cyberry Music"
        });

        var phothalai_mice = new google.maps.InfoWindow({
            content: '<div style="font-family:Veranda,Arial,san-serif;font-size:12px; color:#000000; text-align:center;"><img src="@Url.Content("~/favicon/android-icon-96x96.png")" /><br /><span style="font-size:11px;">Cyberry Music ( Head Office) หมู่บ้านธาราดี ราชพฤกษ ตำบล บางรักน้อย อำเภอเมืองนนทบุรี นนทบุรี</span></div>'
        });

        google.maps.event.addListener(phothalai, 'click', function () {
            phothalai_mice.open(map, factory);
        });

        phothalai_mice.open(map, phothalai);
    }

    initialize();

</script>

@*13.8668117156377,100.448947645455*@