﻿@using DINFDAL.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{

}

<!--Banner Start-->
<div class="cp_banner_full_width">

    <div class="cp-slider-block">
        <div class="cp_banner">
            <!--Banner Slider Start-->
            <div class="owl-carousel" id="cp-video-slider">
                <div class="item">
                    <img src="~/images/grid-slide1.jpg" alt="">
                    <!--Banner Caption Start-->
                    <div class="cp-banner-caption">
                        <div class="inner-holder">
                            <div class="banner-top-text">
                                <strong class="banner-title">Fashion</strong>
                                <p>Experience 100 Years of American Fashion in This 2-Minute Video</p>
                            </div>
                            <a href="#" class="cp-btn-style1">Watch Video</a>
                        </div>
                    </div>
                    <!--Banner Caption End-->
                </div>

                <div class="item">
                    <img src="~/images/grid-slide2.jpg" alt="">
                    <!--Banner Caption Start-->
                    <div class="cp-banner-caption">
                        <div class="inner-holder">
                            <div class="banner-top-text">
                                <strong class="banner-title">Music</strong>
                                <p>Experience 100 Years of American Fashion in This 2-Minute Video</p>
                            </div>
                            <a href="#" class="cp-btn-style1">Watch Video</a>
                        </div>
                    </div>
                    <!--Banner Caption End-->
                </div>

                <div class="item">
                    <img src="~/images/grid-slide3.jpg" alt="">
                    <!--Banner Caption Start-->
                    <div class="cp-banner-caption">
                        <div class="inner-holder">
                            <div class="banner-top-text">
                                <strong class="banner-title">Trailer</strong>
                                <p>Experience 100 Years of American Fashion in This 2-Minute Video</p>
                            </div>
                            <a href="#" class="cp-btn-style1">Watch Video</a>
                        </div>
                    </div>
                    <!--Banner Caption End-->
                </div>

            </div>
        </div>

    </div>
    <div class="cp-video-grid-block">
        <ul class="cp-video-grid-listing">

            <li class="cp-vgl-holder m2 p2">
                <div class="cp-thumb">
                    <img src="~/images/award-bg.jpg" alt="">

                    <div class="cp-caption-prize">
                        <h1>เงินรางวัลสะสม</h1>
                        <h1>456,789.25 ฿</h1>
                    </div>


                </div>
            </li>

            <li class="cp-vgl-holder m2 p2">
                <div class="cp-thumb">
                    <img src="~/images/ceo-talk.jpg" alt="CEO Talk">
                    <div class="cp-caption">
                        <a class="play-video" href="video.html">Read</a>
                        <h4>CEO Talk </h4>
                        <strong>by CEO Dyo</strong>
                    </div>
                </div>



            </li>

            <li class="cp-vgl-holder p2">
                <div class="cp-thumb">
                    <img src="~/images/grid-slide6.jpg" alt="">
                    <div class="cp-caption">
                        <a class="play-video" href="video.html">Play</a>
                        <h4>The best nightlife for dancing.</h4>
                        <strong>by Jiana Smith</strong>
                    </div>
                </div>



            </li>

            <li class="cp-vgl-holder p2">
                <div class="cp-thumb">
                    <img src="~/images/grid-slide7.jpg" alt="">
                    <div class="cp-caption">
                        <a class="play-video" href="video.html">Play</a>
                        <h4>Cyberry Music Playlist</h4>
                        <strong>by Cyberry Music</strong>
                    </div>
                </div>



            </li>
        </ul>

    </div>

</div>
<!--Banner End-->
<!--Main Content Start-->
<div id="cp-main-content">
    <section class="cp-section pd-tb60">
        <div class="container">
            @{
                var hotvideos = ViewBag.HotVideo as IList<Song_Contest>;
                var newvideos = ViewBag.NewVideo as IList<Song_Contest>;
            }
            <!--Outer Holder Start-->
            <!----- Hot Videos ---->

            <div class="cp-outer-holder cp-featured-video">
                <div class="row">
                    <div class="col-md-12 cp-heading-outer">
                        <h2>Hot Videos</h2>
                        <ul class="cp-listed">
                            <li class="view-all"><a href="category-trailer.html">View All:</a></li>
                        </ul>
                    </div>
                </div>

                <div id="hot-video">
                    @foreach (var item in hotvideos)
                    {
                        var strItem = "hot";
                        <div class="item">
                            <!-- Video Item Start-->
                            <div class="cp-video-item">
                                <figure class="cp-thumb">
                                    @if (!String.IsNullOrEmpty(item.txt_youtube_url))
                                    {
                                        <img src="https://i1.ytimg.com/vi/@item.txt_youtube_id/mqdefault.jpg" alt="@item.txt_song_name">
                                    }
                                    else
                                    {
                                        <img src="~/images/soundcloud_logo.png" alt="@item.txt_song_name">
                                    }
                                    <figcaption class="cp-caption"> <a href="@Url.Action("SongDetail", "Profile", new {id = item.int_song_contest_id})" class="play-video">Play</a> </figcaption>
                                </figure>
                                <div class="cp-text">
                                    <h4><a href="@Url.Action("SongDetail", "Profile", new {id = item.int_song_contest_id})">@item.txt_song_name</a></h4>
                                    <ul class="cp-meta-list">
                                        <li>Score @item.Score_Song.Sum(i => i.int_value)</li>
                                        <li>by @item.User.UserName</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Video Item End-->
                        </div>
                    }
                </div>
            </div>


            <!---- /Hot videos ---->
            <!---- New Video ---->
            <div class="cp-outer-holder cp-featured-video">
                <div class="row">
                    <div class="col-md-12 cp-heading-outer">
                        <h2>New Videos</h2>
                        <ul class="cp-listed">
                            <li class="view-all"><a href="category-trailer.html">View All:</a></li>
                        </ul>
                    </div>
                </div>


                <div id="new-video">
                    <div class="item">
                        <!-- Video Item Start-->
                        <div class="cp-video-item">
                            <figure class="cp-thumb">
                                <img src="~/images/video-img-01.jpg" alt="">
                                <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                            </figure>
                            <div class="cp-text">
                                <h4><a href="category-trailer.html">Mini Deep Dish Pizzas </a></h4>
                                <ul class="cp-meta-list">
                                    <li>Monday, Jan 26, 2016</li>
                                    <li>by Jiana Smith, <span>160 Views</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Video Item End-->
                    </div>
                    <div class="item">
                        <!-- Video Item Start-->
                        <div class="cp-video-item">
                            <figure class="cp-thumb">
                                <img src="~/images/video-img-02.jpg" alt="">
                                <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                            </figure>
                            <div class="cp-text">
                                <h4><a href="category-trailer.html">Magical lighting feature </a></h4>
                                <ul class="cp-meta-list">
                                    <li>Monday, Jan 30, 2016</li>
                                    <li>by Jiana Smith, <span>260 Views</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Video Item End-->
                    </div>
                    <div class="item">
                        <!-- Video Item Start-->
                        <div class="cp-video-item">
                            <figure class="cp-thumb">
                                <img src="~/images/video-img-03.jpg" alt="">
                                <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                            </figure>
                            <div class="cp-text">
                                <h4><a href="category-trailer.html">50 Shades of Grey </a></h4>
                                <ul class="cp-meta-list">
                                    <li>Monday, Feb 10, 2016</li>
                                    <li>by Jiana Smith, <span>310 Views</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Video Item End-->
                    </div>
                    <div class="item">
                        <!-- Video Item Start-->
                        <div class="cp-video-item">
                            <figure class="cp-thumb">
                                <img src="~/images/video-img-04.jpg" alt="">
                                <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                            </figure>
                            <div class="cp-text">
                                <h4><a href="category-trailer.html">I really like her glasses </a></h4>
                                <ul class="cp-meta-list">
                                    <li>Monday, Feb 26, 2016</li>
                                    <li>by Jiana Smith, <span>344 Views</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Video Item End-->
                    </div>
                    <div class="item">
                        <!-- Video Item Start-->
                        <div class="cp-video-item">
                            <figure class="cp-thumb">
                                <img src="~/images/video-img-01.jpg" alt="">
                                <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                            </figure>
                            <div class="cp-text">
                                <h4><a href="category-trailer.html">Mini Deep Dish Pizzas </a></h4>
                                <ul class="cp-meta-list">
                                    <li>Monday, Jan 26, 2016</li>
                                    <li>by Jiana Smith, <span>160 Views</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Video Item End-->
                    </div>
                    <div class="item">
                        <!-- Video Item Start-->
                        <div class="cp-video-item">
                            <figure class="cp-thumb">
                                <img src="~/images/video-img-02.jpg" alt="">
                                <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                            </figure>
                            <div class="cp-text">
                                <h4><a href="category-trailer.html">Magical lighting feature </a></h4>
                                <ul class="cp-meta-list">
                                    <li>Monday, Jan 30, 2016</li>
                                    <li>by Jiana Smith, <span>260 Views</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Video Item End-->
                    </div>
                    <div class="item">
                        <!-- Video Item Start-->
                        <div class="cp-video-item">
                            <figure class="cp-thumb">
                                <img src="~/images/video-img-03.jpg" alt="">
                                <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                            </figure>
                            <div class="cp-text">
                                <h4><a href="category-trailer.html">50 Shades of Grey </a></h4>
                                <ul class="cp-meta-list">
                                    <li>Monday, Feb 10, 2016</li>
                                    <li>by Jiana Smith, <span>310 Views</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Video Item End-->
                    </div>
                    <div class="item">
                        <!-- Video Item Start-->
                        <div class="cp-video-item">
                            <figure class="cp-thumb">
                                <img src="~/images/video-img-04.jpg" alt="">
                                <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                            </figure>
                            <div class="cp-text">
                                <h4><a href="category-trailer.html">I really like her glasses </a></h4>
                                <ul class="cp-meta-list">
                                    <li>Monday, Feb 26, 2016</li>
                                    <li>by Jiana Smith, <span>344 Views</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Video Item End-->
                    </div>
                </div>
            </div>


            <!---- /New Video ---->
            <!---- Random Video ---->
            <div class="cp-outer-holder cp-featured-video">
                <div class="row">
                    <div class="col-md-12 cp-heading-outer">
                        <h2>All Videos</h2>
                        <ul class="cp-listed">
                            <li class="view-all"><a href="category-trailer.html">View All:</a></li>
                        </ul>
                    </div>
                </div>


                <div id="random-video">
                    <div class="item">
                        <!-- Video Item Start-->
                        <div class="cp-video-item">
                            <figure class="cp-thumb">
                                <img src="~/images/video-img-01.jpg" alt="">
                                <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                            </figure>
                            <div class="cp-text">
                                <h4><a href="category-trailer.html">Mini Deep Dish Pizzas </a></h4>
                                <ul class="cp-meta-list">
                                    <li>Monday, Jan 26, 2016</li>
                                    <li>by Jiana Smith, <span>160 Views</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Video Item End-->
                    </div>
                    <div class="item">
                        <!-- Video Item Start-->
                        <div class="cp-video-item">
                            <figure class="cp-thumb">
                                <img src="~/images/video-img-02.jpg" alt="">
                                <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                            </figure>
                            <div class="cp-text">
                                <h4><a href="category-trailer.html">Magical lighting feature </a></h4>
                                <ul class="cp-meta-list">
                                    <li>Monday, Jan 30, 2016</li>
                                    <li>by Jiana Smith, <span>260 Views</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Video Item End-->
                    </div>
                    <div class="item">
                        <!-- Video Item Start-->
                        <div class="cp-video-item">
                            <figure class="cp-thumb">
                                <img src="~/images/video-img-03.jpg" alt="">
                                <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                            </figure>
                            <div class="cp-text">
                                <h4><a href="category-trailer.html">50 Shades of Grey </a></h4>
                                <ul class="cp-meta-list">
                                    <li>Monday, Feb 10, 2016</li>
                                    <li>by Jiana Smith, <span>310 Views</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Video Item End-->
                    </div>
                    <div class="item">
                        <!-- Video Item Start-->
                        <div class="cp-video-item">
                            <figure class="cp-thumb">
                                <img src="~/images/video-img-04.jpg" alt="">
                                <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                            </figure>
                            <div class="cp-text">
                                <h4><a href="category-trailer.html">I really like her glasses </a></h4>
                                <ul class="cp-meta-list">
                                    <li>Monday, Feb 26, 2016</li>
                                    <li>by Jiana Smith, <span>344 Views</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Video Item End-->
                    </div>
                    <div class="item">
                        <!-- Video Item Start-->
                        <div class="cp-video-item">
                            <figure class="cp-thumb">
                                <img src="~/images/video-img-01.jpg" alt="">
                                <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                            </figure>
                            <div class="cp-text">
                                <h4><a href="category-trailer.html">Mini Deep Dish Pizzas </a></h4>
                                <ul class="cp-meta-list">
                                    <li>Monday, Jan 26, 2016</li>
                                    <li>by Jiana Smith, <span>160 Views</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Video Item End-->
                    </div>
                    <div class="item">
                        <!-- Video Item Start-->
                        <div class="cp-video-item">
                            <figure class="cp-thumb">
                                <img src="~/images/video-img-02.jpg" alt="">
                                <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                            </figure>
                            <div class="cp-text">
                                <h4><a href="category-trailer.html">Magical lighting feature </a></h4>
                                <ul class="cp-meta-list">
                                    <li>Monday, Jan 30, 2016</li>
                                    <li>by Jiana Smith, <span>260 Views</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Video Item End-->
                    </div>
                    <div class="item">
                        <!-- Video Item Start-->
                        <div class="cp-video-item">
                            <figure class="cp-thumb">
                                <img src="~/images/video-img-03.jpg" alt="">
                                <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                            </figure>
                            <div class="cp-text">
                                <h4><a href="category-trailer.html">50 Shades of Grey </a></h4>
                                <ul class="cp-meta-list">
                                    <li>Monday, Feb 10, 2016</li>
                                    <li>by Jiana Smith, <span>310 Views</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Video Item End-->
                    </div>
                    <div class="item">
                        <!-- Video Item Start-->
                        <div class="cp-video-item">
                            <figure class="cp-thumb">
                                <img src="~/images/video-img-04.jpg" alt="">
                                <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                            </figure>
                            <div class="cp-text">
                                <h4><a href="category-trailer.html">I really like her glasses </a></h4>
                                <ul class="cp-meta-list">
                                    <li>Monday, Feb 26, 2016</li>
                                    <li>by Jiana Smith, <span>344 Views</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Video Item End-->
                    </div>
                </div>
            </div>
            <!----- /Random Video---->
            <!--Outer Holder End-->
            <!--Outer Holder Start-->
            <div class="cp-outer-holder pd-t60">
                <div class="row">
                    <div class="col-md-9">
                        <!--Most Viewer Outer Start-->
                        <div class="cp-most-view-outer pd-b60">
                            <div class="cp-heading-outer">
                                <h2>บทความล่าสุด</h2>
                                <ul class="cp-listed">
                                    <li class="view-all"><a href="category-music.html">View All:</a></li>
                                </ul>
                            </div>
                            <div class="cp_viewed-slider">
                                <div class="item">
                                    <div class="cp-most-listed">
                                        <figure class="cp-thumb">
                                            <img src="~/images/most-view-img-01.jpg" alt="">
                                            <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                                        </figure>
                                        <div class="cp-text">
                                            <h3>Blonde and brunette. Gossip Girl. Always :) trailer </h3>
                                            <ul class="cp-meta-list">
                                                <li>Monday, Feb 26, 2016</li>
                                                <li>by Jiana Smith, <span>344 Views</span></li>
                                            </ul>
                                            <p>Ultrices proin mi urna nibh ut, aenean sollicitudin etiam libero nisl, ultrices ridiculus in magna purus conseq uuntur, ipsum donec orci ad vitae pede, id odio. Turpis venenatis at laoreet.</p>
                                            <p>Etiam commodo fusce in diam feugiat, nullam suscipit tortor per velit viverra minim sed metus egestas sapien consectetuer.... <a class="read-more" href="video.html">{+}</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="cp-most-listed">
                                        <figure class="cp-thumb">
                                            <img src="~/images/most-view-img-02.jpg" alt="">
                                            <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                                        </figure>
                                        <div class="cp-text">
                                            <h3>Blonde and brunette. Gossip Girl. Always :) trailer </h3>
                                            <ul class="cp-meta-list">
                                                <li>Monday, Feb 30, 2016</li>
                                                <li>by Jiana Smith, <span>344 Views</span></li>
                                            </ul>
                                            <p>Ultrices proin mi urna nibh ut, aenean sollicitudin etiam libero nisl, ultrices ridiculus in magna purus conseq uuntur, ipsum donec orci ad vitae pede, id odio. Turpis venenatis at laoreet.</p>
                                            <p>Etiam commodo fusce in diam feugiat, nullam suscipit tortor per velit viverra minim sed metus egestas sapien consectetuer.... <a class="read-more" href="video.html">{+}</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Most Viewer Outer End-->

                        <div class="cp-advertisement">
                            <div class="row">
                                <div class="col-md-12"> <img src="~/images/advertisement.jpg" alt=""> </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <aside class="cp_sidebar-outer">
                            <!--Widget Item Start-->
                            <!--
                            <div class="widget widget-share">
                              <div class="cp-heading-outer">
                                <h2>Share Us</h2>
                              </div>
                              <ul class="cp-share-social">
                                <li class="fb-box"> <a href="#"><i class="fa fa-facebook"></i><span>32,355</span><span>FRIENDS</span></a> </li>
                                <li class="tw-box"> <a href="#"><i class="fa fa-twitter"></i><span>49,122</span><span>Follows</span></a> </li>
                                <li class="google-box"> <a href="#"><i class="fa fa-google-plus"></i><span>27,355</span><span>FRIENDS</span></a> </li>
                                <li class="inst-box"> <a href="#"><i class="fa fa-instagram"></i><span>45,015</span><span>Follows</span></a> </li>
                              </ul>
                            </div>
                            -->
                            <!--Widget Item Start-->
                            <div class="widget widget-recent-post">
                                <div class="cp-heading-outer">
                                    <h2>ร้านขายเพลง</h2>
                                    <!--
                                    <div class="dropdown"> <a class="show-btn" href="#">Show:</a>
                                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-recent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> This Month <i class="fa fa-caret-down"></i> </button>
                                      <ul class="dropdown-menu" aria-labelledby="dropdown-recent">
                                        <li><a href="#">January</a></li>
                                        <li><a href="#">February</a></li>
                                        <li><a href="#">March</a></li>
                                        <li><a href="#">April</a></li>
                                        <li><a href="#">May</a></li>
                                      </ul>
                                    </div>
                                    -->
                                </div>
                                <ul>
                                    <li>
                                        <div class="cp-holder">
                                            <div class="cp-thumb2"> <a href="#"><img src="~/images/recent-post-img-01.jpg" alt=""></a> </div>
                                            <div class="cp-text">
                                                <h5><a href="#">Shoot inspiration </a></h5>
                                                <ul class="cp-meta-list">
                                                    <li>Monday, Feb 26, 2016</li>
                                                    <li>by Jiana Smith, <span>123 Views</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-holder">
                                            <div class="cp-thumb2"> <a href="#"><img src="~/images/recent-post-img-02.jpg" alt=""></a> </div>
                                            <div class="cp-text">
                                                <h5><a href="#">She the wanderner</a> </h5>
                                                <ul class="cp-meta-list">
                                                    <li>Monday, Feb 26, 2016</li>
                                                    <li>by Jiana Smith, <span>233 Views</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-holder">
                                            <div class="cp-thumb2"> <a href="#"><img src="~/images/recent-post-img-03.jpg" alt=""></a> </div>
                                            <div class="cp-text">
                                                <h5><a href="#">Wheeler is my hero</a> </h5>
                                                <ul class="cp-meta-list">
                                                    <li>Monday, Feb 26, 2016</li>
                                                    <li>by Jiana Smith, <span>130 Views</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-holder">
                                            <div class="cp-thumb2"> <a href="#"><img src="~/images/recent-post-img-04.jpg" alt=""></a> </div>
                                            <div class="cp-text">
                                                <h5><a href="#">Head ornament </a></h5>
                                                <ul class="cp-meta-list">
                                                    <li>Monday, Feb 26, 2016</li>
                                                    <li>by Jiana Smith, <span>243 Views</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li> <a href="#" class="cp-more-btn">More popular content »</a> </li>
                                </ul>
                                <!-- <a href="#" class="recent-more-listed">More popular content »</a> -->
                            </div>
                            <!--Widget Item End-->



                        </aside>
                    </div>
                </div>
            </div>

            <!--Outer Holder End-->


        </div>
    </section>

    <!--Today Video Start-->
    <div class="cp-today-video">
        <div class="container">
            <div class="row">
                <div class="cp-heading-outer">
                    <h2>Music Video</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <ul class="today-videos">
                        <li>
                            <iframe src="https://player.vimeo.com/video/116214074"></iframe>
                        </li>
                        <li>
                            <iframe src="https://player.vimeo.com/video/63344039"></iframe>
                        </li>
                        <li>
                            <iframe src="https://player.vimeo.com/video/90840341"></iframe>
                        </li>
                        <li>
                            <iframe src="https://player.vimeo.com/video/116214074"></iframe>
                        </li>
                        <li>
                            <iframe src="https://player.vimeo.com/video/63344039"></iframe>
                        </li>
                    </ul>
                    <div id="bx-pager">
                        <a data-slide-index="0" href=""><img src="~/images/tv-1.jpg" alt=""> <strong>Always something good </strong> </a>
                        <a data-slide-index="1" href=""><img src="~/images/tv-2.jpg" alt=""> <strong> Olly Murs – Heart Skips a Beat</strong> </a>
                        <a data-slide-index="2" href=""><img src="~/images/tv-3.jpg" alt=""> <strong> What Is Stressing hese People Out?</strong> </a>
                        <a data-slide-index="3" href=""><img src="~/images/tv-4.jpg" alt=""> <strong> Waters Fourth Winged</strong> </a>
                        <a data-slide-index="4" href=""><img src="~/images/tv-5.jpg" alt=""> <strong> You should follow  Designspiration </strong> </a>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    <!--Today Video End-->



</div>
<!--Main Content End-->
@section scripts
{

}