﻿@model DINFDAL.Models.Song_Original

@section styles{

}
<!-- Original Song Upload
            ================================================== -->
<section id="store">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="lan-module-title">
                    <h1 class="title"><a href="@Url.Action("Index","Profile")">Profile-></a>Upload Original Song</h1>
                </div>
            </div>
        </div>

        <div class="lan-store-holder pb-30">
            <ul>
                <li>
                    <div class="row wow fadeInUp">
                        <div class="col-md-4">
                            <div class="lan-tour-content-holder">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="lan-music-tour-photo">
                                            <img class="img-responsive" src="~/images/random/Avatar.png" alt="cyberry music: My Avatar">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="lan-music-tour-place">
                                            <h2><span>Rooney</span></h2>
                                            <h2><span>Role : </span> Composor/Artist</h2>
                                            <h2><span>Cyberry Point : </span> 12,000</h2>
                                            <h2><span>Total Score : </span> 100</h2>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <a href="#" class="btn-din margintop10">Get More Point</a>
                                        </div>
                                        <div class="text-center">
                                            <a href="#" class="btn-din">Upload Song</a>
                                        </div>
                                        <div class="text-center">
                                            <a href="#" class="btn-din-gray">Edit Profile</a>
                                        </div>
                                    </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->
                            </div><!-- /.lan-tour-content-holder -->
                        </div><!-- /.store-single-product-photo -->
                        <div class="col-md-8">
                            <div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h1 class="th_fahkwang"><span>ขั้นตอน</span> - การ UPLOAD เพลงต้นฉบับ</h1>
                                        <div class="error-content">
                                            <ol>
                                                <li>1. กรอกชื่อเพลง</li>
                                                <li>2. ไฟล์เพลง (วีดีโอหรือเสียงอย่างเดียว) หรือเสียง</li>
                                                <li>3. ไฟล์เนื้อเพลง (Ms World, PDF)</li>
                                            </ol>
                                        </div>
                                        <div class="text-alert">
                                            <p>หากพบว่าเพลงต้นฉบับของท่าน ละเมิดลิขสิทธิ์เพลงของผู้ประกวดท่านอื่น หรือละเมิดเพลงลิขสิทธิ์อื่นๆ หากตรวจพบ เพลงต้นฉบับของท่านจะถือเป็นโมฆะ ท่านจะไม่ได้รับค่าตอบแทนสำหรับเพลงนั้นๆ และทาง Cyberry Music จะไม่รับผิดชอบใดๆ หากท่านละเมิดลิขสิทธิ์</p>
                                            <p>ทั้งนี้เพราะ Cyberry Music สนับสนุนเพลงถูกลิขสิทธิ์และการทำเพลงที่ถูกต้องตามครรลองเท่านั้น</p>
                                        </div>
                                    </div>
                                </div><!-- /row 1 -->
                                <div class="row margintop40">
                                    <div class="lan-comment-form-all">
                                        <div class="lan-contact-form">
                                            @using (Html.BeginForm("OriginalSongUpload", "Home", FormMethod.Post))
                                            {
                                                <p>@Html.ValidationSummary(true)</p>
                                                <div class="form-group wow fadeInUp">
                                                    <div class="col-md-4">
                                                        <label class="th_fahkwang text-fileupload">1. กรอกชื่อเพลง</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(m => m.txt_songname, new { @class = "form-control", @placeholder = "ชื่อเพลง" })
                                                        @Html.ValidationMessageFor(m => m.txt_songname)
                                                    </div>
                                                </div>
                                                <div class="form-group wow fadeInUp">
                                                    <div class="col-md-4">
                                                        <label class="th_fahkwang text-fileupload">2. ไฟล์เพลง (วีดีโอหรือเสียงอย่างเดียว)</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(m => m.txt_youtube_url, new { @class = "form-control", @placeholder = "YouTube URL" })
                                                        @Html.ValidationMessageFor(m => m.txt_youtube_url)
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-8">
                                                        <label class="th_fahkwang text-fileupload">หรือ เสียง</label>
                                                    </div>
                                                </div>
                                                <div class="form-group wow fadeInUp">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(m => m.txt_soundcloud_url, new { @class = "form-control", @placeholder = "Sound Cloud URL" })
                                                        @Html.ValidationMessageFor(m => m.txt_soundcloud_url)
                                                    </div>
                                                </div>
                                                <div class="form-group wow fadeInUp">
                                                    <div class="col-md-4">
                                                        <label class="th_fahkwang text-fileupload">3. ไฟล์เนื้อเพลง (Ms World, PDF)</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <span class="btn-din margintop10 fileinput-button" style="margin-bottom: 0px;">
                                                                <i class="glyphicon glyphicon-plus"></i>
                                                                <span>Upload</span>
                                                                @Html.TextBoxFor(model => model.txt_lyric_file)
                                                                <input id="songupload" type="file" name="files[]" accept="application/msword,.doc,.docx,text/plain, application/pdf">
                                                            </span>
                                                            <p id="lnk_lyric_file" class="th_fahkwang text-fileupload"></p>
                                                            @Html.ValidationMessageFor(model => model.txt_lyric_file)<br/>
                                                            <div id="progress" class="progress">
                                                                <div class="progress-bar progress-bar-success"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group wow fadeInUp">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-8 margintop10">
                                                        <button type="submit" class="btn-flat waves-effect">Upload Song</button>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /row 2 -->
                        </div>
                    </div><!-- /.col-md-8 -->
                </li><!-- /.first li -->
            </ul><!-- /.ul -->
        </div><!-- /.lan-store-holder -->
    </div><!-- /.container -->
</section> <!-- /.store -->
<!-- End store -->
@section scripts
{
    <!-- PAGE LEVEL SCRIPT-->
    <script>
        $(document).ready(function () {
            'use strict';
            $("#progress").hide();
            // Change this to the location of your server-side upload handler:
            var url = '@Url.Action("UploadSong", "Home")';
            console.log(url);
            $('#songupload').fileupload({
                url: url,
                dataType: 'json',
                done: function (e, data) {
                    $('#txt_lyric_file').val(data.result.FullPath);
                    $("#lnk_lyric_file").text(data.result.FileName);
                    $("#progress").hide();
                },
                progressall: function (e, data) {
                    $("#progress").show();
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                }
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
        });
    </script>
    <!--END PAGE LEVEL SCRIPT-->
}
