﻿<!-- Upload
            ================================================== -->
<section id="store">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="lan-module-title">
                    <h1 class="title">Upload</h1>
                </div>
            </div>
        </div>

        <div class="lan-store-holder pb-30">
            <ul>
                <li>
                    <div class="row wow fadeInUp">
                        <div class="col-md-4">
                            <div class="lan-tour-content-holder">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="lan-music-tour-photo">
                                            <img class="img-responsive" src="~/images/random/Avatar.png" alt="cyberry music: My Avatar">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="lan-music-tour-place">
                                            <h2><span>Rooney</span></h2>
                                            <h2><span>Role : </span> Composor/Artist</h2>
                                            <h2><span>Cyberry Point : </span> 12,000</h2>
                                            <h2><span>Total Score : </span> 100</h2>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <a href="#" class="btn-din margintop10">Get More Point</a>
                                        </div>
                                        <div class="text-center">
                                            <a href="#" class="btn-din">Upload Song</a>
                                        </div>
                                        <div class="text-center">
                                            <a href="#" class="btn-din-gray">Edit Profile</a>
                                        </div>
                                    </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->
                            </div><!-- /.lan-tour-content-holder -->
                        </div><!-- /.store-single-product-photo -->
                        <div class="col-md-8">
                            <div class="lan-music-login">
                                <h1>Upload</h1>
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="YouTubeURL" class="control-label col-xs-2">YouTube URL</label>
                                        <div class="col-xs-8">
                                            <input type="text" class="form-control" id="YouTubeURL" placeholder="YouTube URL">
                                        </div>
                                        <div class="col-xs-2">
                                            <img class="img-responsive" src="http://placehold.it/145x146" alt="YouTube Thumbnail">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="SongName" class="control-label col-xs-2">Song Name</label>
                                        <div class="col-xs-10">
                                            <input type="text" class="form-control" id="SongName" placeholder="Song Name">
                                        </div> 
                                    </div>
                                    <div class="form-group">
                                        <label for="IDSong" class="control-label col-xs-2 th_fahkwang" style="font-size:18px;">ID เพลงต้นฉบับ</label>
                                        <div class="col-xs-10 input-field input-append">
                                            <input id="search" type="search" required>
                                            <label for="search"><i class="material-icons">search</i></label>
                                            <i class="material-icons">close</i>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-offset-2 col-xs-10">
                                            <button type="submit" class="btn-flat waves-effect">Upload</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div><!-- /.col-md-8 -->
                </li><!-- /.first li -->
            </ul><!-- /.ul -->
        </div><!-- /.lan-store-holder -->
    </div><!-- /.container -->
</section> <!-- /.store -->
<!-- End store -->
