﻿<!-- Winner Voter  -->
<section id="about">
    <div class="container th_fahkwang">
        <div class="row">
            <div class="col-md-12">
                <div class="lan-module-title">
                    <h1 class="title">ประกาศรายชื่อผู้ได้รางวัลแคมเปญ "โหวตเพลง Cyberry Music Contest Season 1"</h1>
                </div>
            </div>
        </div>
        <div class="lan-about-holder pb-30">

            <div class="row">
                <div class="col-md-12">
                    <p>
                    ผู้โชคดีได้รับรางวัลจากแคมเปญ ‘vote เพลงที่www.cyberrymusic.com Cyberry Music Contest Season I’ 
                    <br />จับรางวัลวันที่ 1 ธ.ค. 2558 ประกาศผลวันที่ 2 ธ.ค. 2558
                    </p>
                    <p class="center">
                        <img src="~/images/winner_voter/cyberry-music-2.jpg" />
                    </p>
                    <p class="center">
                        <img src="~/images/winner_voter/cyberry-music-3.jpg" />
                    </p>
                    <p>
                        <b>รางวัลที่ 1 ตั๋วเครื่องบินไป-กลับ กรุงเทพ-โตเกียว(สนามบินนาริตะ) 2 ที่นั่ง</b> ได้แก่
                        <br />คุณนพมาศ ว่องวุฒิ
                        <br /> 1/244 ม.พฤกษาวิลล์ 53/1 แขวงแสมดำ เขตบางขุนเทียน กรุงเทพ
                        <br />โทรศัพท์: 09713285xx
                        <br />
                        <br /><b>รางวัลที่2 iPhone6s 16G 1 เครื่อง</b> ได้แก่
                        <br />คุณธวัชชัย ตองอ่อน
                        <br />24 ม.4 ต.บางบ่อ อ.บางบ่อ จ.สมุทรปราการ
                        <br />โทรศัพท์: 09143859xx
                    </p>
                </div>
              
            </div>
        </div>
    </div><!-- /.container -->
</section> <!-- /.Voter -->
<!-- End Voter -->