﻿@model DINFDAL.Models.WithdrawalTransactionViewModel
@{
    ViewBag.Title = "แก้ไขการถอนเงิน";
}
@section styles{
    <link href="~/assets/css/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/plugins/uniform/themes/default/css/uniform.default.css" />
    <link rel="stylesheet" href="~/assets/plugins/inputlimiter/jquery.inputlimiter.1.0.css" />
    <link rel="stylesheet" href="~/assets/plugins/chosen/chosen.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" href="~/assets/plugins/tagsinput/jquery.tagsinput.css" />
    <link rel="stylesheet" href="~/assets/plugins/switch/static/stylesheets/bootstrap-switch.css" />
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/css/jquery.fileupload.css" rel="stylesheet" />
}
@{
}
<!--PAGE CONTENT -->
<div id="content">

    <div class="inner">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><a href="@Url.Action("Index")"> รายการถอนเงิน-> </a>แก้ไข</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="box dark">
                    <header>
                        <div class="icons"><i class="icon-check"></i></div>
                        <h5>แก้ไขการถอนเงิน</h5>
                        <div class="toolbar">
                            <ul class="nav">
                                <li>
                                    <a class="accordion-toggle" data-toggle="collapse" href="#div-1">
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </header>
                    <div id="div-1" class="accordion-body collapse in body">
                        @using (Html.BeginForm("Edit", "WithdrawalTransaction", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.HiddenFor(model => model.int_withdrawal_transaction_id)
                            @Html.HiddenFor(model => model.int_balance_id)
                            @Html.HiddenFor(model => model.int_user_id)
                            @Html.HiddenFor(model => model.vat)
                            @Html.HiddenFor(model => model.balance)
                            if (ViewBag.IsSuccess == true)
                            {
                                <div class="alert alert-success" role="alert">
                                    แก้ไขข้อมูลการถอนเงินสำเร็จ
                                </div>
                            }
                            <div class="form-group">
                                <label class="control-label col-lg-4">วันที่ถอน:</label>
                                <div class="col-lg-3">
                                    @Html.TextBox("datetime", String.Format("{0:dd/MM/yyyy HH:mm}", Model.datetime_create), new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">ยอดเงินที่ถอน:</label>
                                <div class="col-lg-3">
                                    @Html.TextBoxFor(model => model.amount, new { @class = "form-control autoNum", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">ยอดเงินหลังหักภาษี ณ ที่จ่าย 5%:</label>
                                <div class="col-lg-3">
                                    @Html.TextBoxFor(model => model.include_vat, new { @class = "form-control autoNum", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">ยอดเงินโอนหลังหักค่าธรรมเนียมธนาคาร:</label>
                                <div class="col-lg-3">
                                    @Html.TextBoxFor(model => model.transfer_amount, new { @class = "form-control autoNum" })
                                    @Html.ValidationMessageFor(model => model.transfer_amount)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">วันที่โอน*:</label>
                                <div class='input-group date col-lg-3' id='strTransferDatePicker'>
                                    @Html.TextBox("strTransferDate", string.Format("{0:dd/MM/yyyy}", Model.datetime_transfer_date), new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.datetime_transfer_date)
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4"></label>
                                <div class="col-lg-3">
                                    <span class="btn btn-success fileinput-button" style="margin-bottom: 0px;">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>หลักฐานการชำระเงิน</span>
                                        @Html.TextBoxFor(model => model.txt_payment_slip)
                                        <input id="imagepaymentslip" type="file" name="files[]" accept="images">
                                    </span>
                                    <a id="lnk_imagepaymentslip" href="@Model.txt_payment_slip" target="_bank" class="th_fahkwang text-fileupload">@Model.txt_payment_slip</a>
                                    @Html.ValidationMessageFor(model => model.txt_payment_slip)<br />
                                    <div id="progress" class="progress">
                                        <div class="progress-bar progress-bar-success"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4"></label>
                                <div class="col-lg-3">
                                    <span class="btn btn-success fileinput-button" style="margin-bottom: 0px;">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>ใบภาษีหัก ณ ที่จ่าย</span>
                                        @Html.TextBoxFor(model => model.txt_withholding_tax)
                                        <input id="imagewithholding_tax" type="file" name="files[]" accept="images">
                                    </span>
                                    <a id="lnk_imagewithholding_tax" href="@Model.txt_withholding_tax" target="_bank" class="th_fahkwang text-fileupload">@Model.txt_withholding_tax</a>
                                    @Html.ValidationMessageFor(model => model.txt_withholding_tax)<br />
                                    <div id="progress2" class="progress">
                                        <div class="progress-bar progress-bar-success"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">หมายเหตุ:</label>
                                <div class="col-lg-3">
                                    @Html.TextAreaFor(model => model.txt_remark, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.txt_remark)
                                </div>
                            </div>
                            <div class="form-actions no-margin-bottom" style="text-align:right;">
                                <input type="reset" value="ยกเลิก" class="btn btn-primary btn-warning">   <input type="submit" value="บันทึก" class="btn btn-primary">
                                @Html.AntiForgeryToken()
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section scripts
{
    <!-- PAGE LEVEL SCRIPT-->
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/plugins/uniform/jquery.uniform.min.js"></script>
    <script src="~/assets/plugins/inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="~/assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/assets/plugins/colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="~/assets/plugins/tagsinput/jquery.tagsinput.min.js"></script>
    <script src="~/assets/plugins/validVal/js/jquery.validVal.min.js"></script>

    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/plugins/switch/static/js/bootstrap-switch.min.js"></script>
    <script src="~/assets/plugins/jquery.dualListbox-1.3/jquery.dualListBox-1.3.min.js"></script>
    <script src="~/assets/plugins/autosize/jquery.autosize.min.js"></script>
    <script src="~/assets/plugins/jasny/js/bootstrap-inputmask.js"></script>
    <script src="~/assets/js/formsInit.js"></script>
    <script src="~/js/jquery.iframe-transport.js"></script>
    <script src="~/js/jquery.fileupload.js"></script>

    <script>
        $(document).ready(function () {
            //Set Auto Numeric
            $('.autoNum').autoNumeric('init', { vMin: 0, vMax: 999999.99, aSep: ',', aDec: '.' });

            $('#strTransferDatePicker').datetimepicker({
                pickTime: false,
                format: "DD/MM/YYYY"
            });
            //
            $("#progress").hide();
            $("#progress2").hide();
            // Change this to the location of your server-side upload handler:
            var url = '@Url.Content("~/Profile/UploadAttactFile")';
            console.log(url);
            $('#imagepaymentslip').fileupload({
                url: url,
                dataType: 'json',
                done: function (e, data) {
                    $('#txt_payment_slip').val(data.result.FullPath);
                    $("#lnk_imagepaymentslip").attr("href", data.result.FullPath);
                    $("#lnk_imagepaymentslip").text(data.result.FullPath);
                    $("#progress").hide();
                },
                progressall: function (e, data) {
                    $("#progress").show();
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                }
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
            //
            $('#imagewithholding_tax').fileupload({
                url: url,
                dataType: 'json',
                done: function (e, data) {
                    $('#txt_withholding_tax').val(data.result.FullPath);
                    $("#lnk_imagewithholding_tax").attr("href", data.result.FullPath);
                    $("#lnk_imagewithholding_tax").text(data.result.FullPath);
                    $("#progress2").hide();
                },
                progressall: function (e, data) {
                    $("#progress2").show();
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                }
            }).prop('disabled', !$.support.fileInput)
              .parent().addClass($.support.fileInput ? undefined : 'disabled');
        });
    </script>
    <!--END PAGE LEVEL SCRIPT-->
}




