﻿@{

}
<div class="container">
    <div class="not-found-page-content">
        <div class="row">
            <div class="col-md-4">
                <img src="~/images/random/404-error.png" alt="404">
            </div>
            <div class="col-md-8">
                <h1 class="error-title title">
                    Server is currently busy.
                </h1>
                <div class="error-content">
                    <p>
                        <strong>Server is currently busy. Please try again later.</strong>
                    </p>
                    <ol></ol>
                    <p>
                        <a class="readon" href="@Url.Action("Index","Point")"><span>← Back</span></a>
                    </p>
                </div>
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div>
</div>