﻿@using System.Activities.Statements
@using DINFDAL.Models
@using Microsoft.AspNet.Identity
@model DINFDAL.Models.PointTransferViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style>
        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            background: url("/images/random/bg_pattern.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
        }
    </style>
}
<!-- Login
                ================================================== -->
<section id="login" class="pb-30">

    <div class="container">

        <div class="row">

            <div class="col-md-8">

                <div class="lan-music-login">
                    <h1>Transfer Point</h1>
                    <p>@Html.ValidationSummary(true)</p>
                    @using (Html.BeginForm("TransferTo", "Point", FormMethod.Post, new { @class = "lan-contact-form", autocomplete = "off", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.int_user_id)
                        @Html.HiddenFor(m => m.CurrentPoint)
                        @Html.HiddenFor(m => m.int_target_user_id)
                        var targetUser = ViewBag.TargetUser as User;
                        <div class="form-group">
                            <span style="font-size: 24px;">Cyberry Point ของคุณ: <a>@Model.CurrentPoint</a> Points</span> <a class="btn-din-bule" style="width: 170px" target="_bank" href="@Url.Action("Index","Point")">Get More Point</a>
                        </div>
                        <div class="form-group">
                            <label for="UserName" class="control-label col-xs-4">ชื่อผู้โอน</label>
                            <div class="col-xs-8">
                                @Html.TextBox("UserName", User.Identity.GetUserName(), new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ToUserName" class="control-label col-xs-4">ชื่อผู้รับ</label>
                            <div class="col-xs-8">
                                @Html.TextBox("ToUserName", targetUser.UserName, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Point" class="control-label col-xs-4">จำนวน Point ที่ต้องการโอน</label>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(m => m.Point, new { @class = "form-control", @placeholder = "" })
                                @Html.ValidationMessageFor(m => m.Point)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-4 col-xs-8">
                                <button type="submit" class="btn-flat waves-effect" onclick="return confirm('Are you sure you want to transfer points')">Confirm</button>
                            </div>
                        </div>
                    }

                </div>
            </div><!-- col-md-8 -->

            <div class="col-md-4">

            </div> <!--/.col-md-4 /.right side -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

