﻿@model DINFDAL.Models.VoteViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Log in";
}
@section Styles{
    <style>
        .cbp-l-loadMore-button .cbp-l-loadMore-button-link {
            margin-top: 0px;
        }
    </style>
}

<section id="login" class="pb-30">

    <div class="container">

        <div class="row">

            <div class="col-md-8">

                <div class="lan-music-login">
                    <h1>Success</h1>
                    <p class="text-info">Thank you for your vote</p>
                    <h3>
                        Balance Point: <a>@ViewBag.CurrentPoint</a> Points
                    </h3>
                    <div class="cbp-l-loadMore-button">
                        <a class="btn-din" target="_bank" href="@Url.Action("Index","Profile")">กลับหน้าโปรไฟล์</a> <a class="btn-din" target="_bank" href="@Url.Action("Index","Home")">กลับหน้าหลัก</a>
                    </div>
                </div>
            </div><!-- col-md-8 -->

            <div class="col-md-4">

                <div class="lan-banner ptb-30">

                </div>
            </div> <!--/.col-md-4 /.right side -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>


<!-- End Login -->
@section Scripts {

}
