﻿@model DINFDAL.Models.Paysbuy
@{
    ViewBag.Title = "แก้ไขการซื้อ Point";
}
@section styles{
    <link href="~/assets/css/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/plugins/uniform/themes/default/css/uniform.default.css" />
    <link rel="stylesheet" href="~/assets/plugins/inputlimiter/jquery.inputlimiter.1.0.css" />
    <link rel="stylesheet" href="~/assets/plugins/chosen/chosen.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" href="~/assets/plugins/tagsinput/jquery.tagsinput.css" />
    <link rel="stylesheet" href="~/assets/plugins/switch/static/stylesheets/bootstrap-switch.css" />
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/css/jquery.fileupload.css" rel="stylesheet" />
}
@{
}
<!--PAGE CONTENT -->
<div id="content">

    <div class="inner">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><a href="@Url.Action("Index")"> รายการซื้อ Point-> </a>แก้ไข</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="box dark">
                    <header>
                        <div class="icons"><i class="icon-check"></i></div>
                        <h5>แก้ไขการซื้อ Point</h5>
                        <div class="toolbar">
                            <ul class="nav">
                                <li>
                                    <a class="accordion-toggle" data-toggle="collapse" href="#div-1">
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </header>
                    <div id="div-1" class="accordion-body collapse in body">
                        @using (Html.BeginForm("Edit", "BuyPoint", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.HiddenFor(model => model.int_paysbuy_id)
                            @Html.HiddenFor(model => model.int_user_id)
                            @Html.HiddenFor(model => model.datetime_create)
                            if (ViewBag.IsSuccess == true)
                            {
                                <div class="alert alert-success" role="alert">
                                    แก้ไขข้อมูลการซื้อ Point สำเร็จ
                                </div>
                            }
                            <div class="form-group">
                                <label class="control-label col-lg-4">Username:</label>
                                <div class="col-lg-3">
                                    @Html.TextBoxFor(model => model.User.UserName, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">วันที่ซื้อ:</label>
                                <div class="col-lg-3">
                                    @Html.TextBox("datetime", String.Format("{0:dd/MM/yyyy HH:mm}", Model.datetime_create), new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">Cyberry Point(Point):</label>
                                <div class="col-lg-3">
                                    @Html.TextBoxFor(model => model.point, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">จำนวนเงิน:</label>
                                <div class="col-lg-3">
                                    @Html.TextBox("amt",String.Format("{0:#,#.00}",Convert.ToDecimal(Model.amt)), new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">เลขที่ INV:</label>
                                <div class="col-lg-3">
                                    @Html.TextBoxFor(model => model.inv, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">เลขที่ใบกำกับภาษี:</label>
                                <div class="col-lg-3">
                                    @Html.TextBoxFor(model => model.tax_inv_no, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">เลขที่ใบเสร็จรับเงิน:</label>
                                <div class="col-lg-3">
                                    @Html.TextBoxFor(model => model.receipt_no, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">หมายเหตุ:</label>
                                <div class="col-lg-3">
                                    @Html.TextAreaFor(model => model.remark, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.remark)
                                </div>
                            </div>
                            <div class="form-actions no-margin-bottom" style="text-align:right;">
                                <input type="reset" value="ยกเลิก" class="btn btn-primary btn-warning">   <input type="submit" value="บันทึก" class="btn btn-primary">
                                @Html.AntiForgeryToken()
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section scripts
{
    <!-- PAGE LEVEL SCRIPT-->
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/plugins/uniform/jquery.uniform.min.js"></script>
    <script src="~/assets/plugins/inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="~/assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/assets/plugins/colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="~/assets/plugins/tagsinput/jquery.tagsinput.min.js"></script>
    <script src="~/assets/plugins/validVal/js/jquery.validVal.min.js"></script>

    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/plugins/switch/static/js/bootstrap-switch.min.js"></script>
    <script src="~/assets/plugins/jquery.dualListbox-1.3/jquery.dualListBox-1.3.min.js"></script>
    <script src="~/assets/plugins/autosize/jquery.autosize.min.js"></script>
    <script src="~/assets/plugins/jasny/js/bootstrap-inputmask.js"></script>
    <script src="~/assets/js/formsInit.js"></script>
    <script src="~/js/jquery.iframe-transport.js"></script>
    <script src="~/js/jquery.fileupload.js"></script>

    <script>
        $(document).ready(function () {

        });
    </script>
    <!--END PAGE LEVEL SCRIPT-->
}




