﻿@model IEnumerable<DINFDAL.Models.Paysbuy>
@{
    ViewBag.Title = "รายการซื้อ Point";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles{
    <!-- PAGE LEVEL STYLES -->
    <link href="~/assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <!-- END PAGE LEVEL  STYLES -->
}
<!--PAGE CONTENT -->
<div id="content">

    <div class="inner">
        <div class="row">
            <div class="col-lg-12">
                <h2> รายการซื้อ Point </h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    @*<div class="panel-heading">
                        </div>*@
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th class="center"></th>
                                        <th class="center">Username</th>
                                        <th class="center">วันที่</th>
                                        <th class="center">เวลา</th>
                                        <th class="center">Cyberry Point<br />(Point)</th>
                                        <th class="center" style="width: 200px;">จำนวนเงิน</th>
                                        <th class="center">เลข INV</th>
                                        <th class="center">เลขที่ใบกำกับภาษี</th>
                                        <th class="center">เลขที่ใบเสร็จรับเงิน</th>
                                        <th class="center">หมายเหตุ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var number = 0;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        number++;
                                        <tr>
                                            <td class="text-center"><a href="@Url.Action("Edit", "BuyPoint", new {id = item.int_paysbuy_id})">แก้ไข</a> </td>
                                            <td>@item.User.UserName</td>
                                            <td class="text-center">@item.datetime_create.Value.ToString("dd/MM/yyyy")</td>
                                            <td class="text-center">@item.datetime_create.Value.ToString("HH:mm")</td>
                                            <td class="text-right">@String.Format("{0:#,0}", item.point)</td>
                                            <td class="text-right">@String.Format("{0:#,0.00}", Convert.ToDecimal(item.amt))</td>
                                            <td class="text-center">@item.inv</td>
                                            <td class="text-center">@item.tax_inv_no</td>
                                            <td class="text-left">@item.receipt_no</td>
                                            <td class="text-left">@item.remark</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END PAGE CONTENT -->
@section scripts{
    <!-- PAGE LEVEL SCRIPTS -->
    <script src="~/assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable({
                "order": [[2, "desc"]], "aoColumnDefs": [{ "bSortable": false, "aTargets": [2] }], stateSave: true
            });
        });
    </script>
    <!-- END PAGE LEVEL SCRIPTS -->
}