﻿@{
    ViewBag.Title = "Error";
}
<!-- Container
            ================================================== -->
<div class="container">
    <div class="not-found-page-content">
        <div class="row">
            <div class="col-md-4">
                <img src="~/images/random/404-error.png" alt="Error">
            </div>
            <div class="col-md-8">
                <h1 class="error-title title">
                    Error.
                </h1>
                <div class="error-content">
                    <p class="text-danger">
                        @ViewBag.errorMessage
                    </p>
                    <p>
                        <a class="readon" href="@Url.Action("Index","Home")"><span>← Home</span></a>
                    </p>
                </div>
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.not-found-page-content -->


</div>
<!-- /.container -->
