﻿@{
    ViewBag.Title = "Error: 404 Page Not Found !!!";
}
<!-- Container
            ================================================== -->
<div class="container">
    <div class="not-found-page-content">
        <div class="row">
            <div class="col-md-4">
                <img src="~/images/random/404-error.png" alt="404">
            </div>
            <div class="col-md-8">
                <h1 class="error-title title">
                    Error: <span>404</span> - Page not found
                </h1>
                <div class="error-content">
                    <p>
                        <strong>You may not be able to visit this page because of:</strong>
                    </p>
                    <ol>
                        <li>an out-of-date bookmark/favourite</li>
                        <li>a search engine that has an out-of-date listing for this site</li>
                        <li>a mistyped address</li>
                        <li>you have no access to this page</li>
                        <li>The requested resource was not found.</li>
                        <li>An error has occurred while processing your request.</li>
                    </ol>
                    <p>
                        <a class="readon" href="@Url.Action("Index","Home")"><span>← Home</span></a>
                    </p>
                </div>
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.not-found-page-content -->


</div>
<!-- /.container -->
