﻿/*!
 * D-INF STYLE 
 * Add New
 *
 */
/*General*/
.margintop10 {
    margin-top: 10px;
}

.paddleft10 {
    padding-left: 10px;
}

.padding5px {
    padding: 5px;
}

.margintop20 {
    margin-top: 20px;
}

.margintop40 {
    margin-top: 40px;
}

.alignR {
    float: right;
}
/*Font*/
.profile-song-list {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    line-height: 25px;
}

    .profile-song-list span {
        color: #12beca;
    }

.text-fileupload {
    font-size: 18px;
    /*line-height: 35px;*/
    color: #fff;
}



/*Form*/
input:focus:invalid, textarea:focus:invalid, select:focus:invalid {
    color: #b94a48;
    border-color: #ee5f5b;
}

    input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
        border-color: #e9322d;
        -webkit-box-shadow: 0 0 6px #f8b9b7;
        -moz-box-shadow: 0 0 6px #f8b9b7;
        box-shadow: 0 0 6px #f8b9b7;
    }

.input-append {
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: middle;
    /*font-size: 0;*/
    white-space: nowrap;
}

    .input-append input {
        font-size: 15px;
    }

.input-large, .input-xlarge, .input-xxlarge, input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.input-prepend input, .input-append input, .input-prepend input[class*="span"], .input-append input[class*="span"] {
    display: inline-block;
    /*width: auto;*/
}

.controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
}


/*Button*/
.btn-din {
    display: inline-block;
    height: 36px;
    width: 145px;
    margin-bottom: 15px;
    padding: 0 2rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    line-height: 36px;
    text-transform: uppercase;
    border: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

.btn-din {
    text-decoration: none;
    color: #FFF;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: 0.5px;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    cursor: pointer;
}

    .btn-din:hover {
        background-color: #2bbbad;
    }
/*Button*/
.btn-din-bule {
    display: inline-block;
    height: 36px;
    width: 145px;
    margin-bottom: 15px;
    padding: 0 2rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    line-height: 36px;
    text-transform: uppercase;
    border: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

.btn-din-bule {
    text-decoration: none;
    color: #FFF;
    background-color: #039be5;
    text-align: center;
    letter-spacing: 0.5px;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    cursor: pointer;
}

    .btn-din-bule:hover {
        background-color: #00bfff;
    }

.btn-din-yellow {
    display: inline-block;
    height: 36px;
    width: 145px;
    margin-bottom: 15px;
    padding: 0 2rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    line-height: 36px;
    text-transform: uppercase;
    border: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

.btn-din-yellow {
    text-decoration: none;
    color: #FFF;
    background-color: #ff7f50;
    text-align: center;
    letter-spacing: 0.5px;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    cursor: pointer;
}

    .btn-din-yellow:hover {
        background-color: #ff8c00;
    }

.btn-din-gray {
    display: inline-block;
    height: 36px;
    width: 145px;
    margin-bottom: 15px;
    padding: 0 2rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    line-height: 36px;
    text-transform: uppercase;
    border: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

.btn-din-gray {
    text-decoration: none;
    color: #FFF;
    background-color: #808080;
    text-align: center;
    letter-spacing: 0.5px;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    cursor: pointer;
}

    .btn-din-gray:hover {
        background-color: #4b4b4b;
    }

.btn-din-file {
    display: inline-block;
    padding: 3px 6px;
    margin-bottom: 0;
    padding: 0 2rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    line-height: 36px;
    text-transform: uppercase;
    border: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

.btn-din-file {
    text-decoration: none;
    color: #FFF;
    background-color: #808080;
    text-align: center;
    letter-spacing: 0.5px;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    cursor: pointer;
}

    .btn-din-file:hover {
        background-color: #4b4b4b;
    }
/*List Style*/
#list OL {
    counter-reset: item;
}

#list LI {
    display: block;
}

    #list LI:before {
        content: counters(item, ".") " ";
        counter-increment: item;
    }

#list ol {
    font-family: 'ThaiSansLite', sans-serif;
    font-size: 21px;
}

#list p {
    padding-left: 18px;
    font-style: normal;
    font-family: 'ThaiSansLite', sans-serif;
    font-size: 24px;
    color: #bfe1f1;
}

.rights-detail ol {
    font-family: 'ThaiSansLite', sans-serif;
    font-size: 24px;
}

.rights-detail p {
    font-family: 'ThaiSansLite', sans-serif;
    font-size: 21px;
}

.rights-detail2 ol {
    font-family: 'ThaiSansLite', sans-serif;
    font-size: 21px;
}

.rights-detail2 p {
    font-family: 'ThaiSansLite', sans-serif;
    font-size: 21px;
}

.text-alert {
    padding: 8px;
    background: #ffffff;
    color: #ff0000;
    text-align: center;
}

.col-xs-6 img {
    width: 100%;
}

h1.prize {
    text-align: center;
    margin-top: 0px;
    font-size: 52px;
    line-height: 40px;
}

h1 .larger {
    color: #ffd800;
}

.larger {
    font-size: larger;
}

@media screen and (max-width: 480px) {
    h1.prize {
        font-size: 24px;
        line-height: 10px;
    }
}

@media screen and (min-width: 481px) and (max-width: 640px) {
    h1.prize {
        font-size: 40px;
        line-height: 10px;
    }
}

/* YouTube iFrame responsive */
.h_iframe {
    position: relative;
    padding: 8px;
}

    .h_iframe iframe {
        max-width: 100%;
    }
/********************/

.text-over-nowarp {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn-din.margintop10.fileinput-button {
    width: 200px;
}