﻿/* styles for modal validation helpers */
.modal-body .field-validation-error {
    color: blanchedalmond !important;
}

.modal-body .field-validation-valid {
    display: none !important;
}

input.input-validation-error {
    border: 1px solid blanchedalmond !important;
}

.modal-body select.input-validation-error {
    border: 1px solid blanchedalmond !important;
}

.modal-body input[type="checkbox"].input-validation-error {
    border: 0 none !important;
}

.modal-body .validation-summary-errors {
    color: blanchedalmond !important;
}

.modal-body .validation-summary-valid {
    display: none !important;
}


/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48 !important;
}

select.input-validation-error {
    border: 1px solid #b94a48 !important;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
