﻿@{
    ViewBag.Title = "Confirm Email";
}
<!-- Login
                ================================================== -->
<section id="login" class="pb-30">

    <div class="container">

        <div class="row">

            <div class="col-md-8">

                <div class="lan-music-login">
                    <h1>@ViewBag.Title.</h1>
                    <p class="text-info"> Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
                </div>
            </div><!-- col-md-8 -->

            <div class="col-md-4">

                <div class="lan-banner ptb-30">

                </div>
            </div> <!--/.col-md-4 /.right side -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- End Login -->
@section Scripts {

}
