﻿@model WebCyberryMusic.Models.ExternalRegisterViewModel
@{
    ViewBag.Title = "Register";
}
<!-- Association Form
                ================================================== -->
<section id="login" class="pb-30">

    <div class="container">

        <div class="row">

            <div class="col-md-8">

                <div class="lan-music-login">
                    <h1>@ViewBag.Title.</h1>
                    <p class="text-info">
                        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                        Please enter a user name for this site below and click the Register button to finish
                        logging in.
                    </p>
                    <p>@Html.ValidationSummary()</p>
                    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @autocomplete = "off", @class = "lan-contact-form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group wow fadeInUp">
                            @Html.TextBoxFor(m => m.FisrtName, new { @class = "form-control", @placeholder = "Fisrt Name" })
                            @Html.ValidationMessageFor(m => m.FisrtName)
                        </div>
                        <div class="form-group wow fadeInUp">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                            @Html.ValidationMessageFor(m => m.LastName)
                        </div>
                        <div class="form-group wow fadeInUp">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                        <div class="form-group wow fadeInUp">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                        <div class="form-group wow fadeInUp">
                            <div class='input-group date' id='BirthDatePicker'>
                                @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control", @placeholder = "Birth Date" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(m => m.BirthDate)
                        </div>
                        <div class="form-group wow fadeInUp">
                            @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @placeholder = "Address", @row = "4" })
                            @Html.ValidationMessageFor(m => m.Address)
                        </div>
                        <div class="form-group wow fadeInUp">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeholder = "Phone" })
                            @Html.ValidationMessageFor(m => m.Phone)
                        </div>
                        <div class="form-group wow fadeInUp">
                            <div class="checkbox">
                                <input id="IsContest" name="IsContest" value="true" @MvcHtmlString.Create(Model.IsContest ? "checked=\"checked\"" : "") class="styled" type="checkbox">
                                <label style="padding-left:25px;" for="IsContest">
                                    สามารถส่งเพลงแสดงผลงาน หรือส่งเพลงประกวดได้
                                </label>
                            </div>
                        </div>
                                        <!-- ข้อมูลเพิ่มเติมสำหรับู้เข้าแข่งขัน -->
                        <div id="dvIsContest" style="display: none;">
                            <div class="lan-music-login">
                                <h2>ข้อมูลเพิ่มเติมสำหรับผู้สมัครเข้าแข่งขัน</h2>
                                <p>ข้อมูลบัญชีธนาคาร เพื่อโอนเงินเมื่อได้รับส่วนแบ่งจากการโหวต (สามารถขอโอนเงินได้เมื่อมีเงินสะสมเกิน 2,000 บาท ขึ้นไป)</p>
                            </div>
                            <div class="form-group wow fadeInUp">
                                @Html.DropDownListFor(model => model.BankId, (List<SelectListItem>)ViewBag.ListOfBankIds, "Bank Name", new { })
                                @Html.ValidationMessageFor(model => model.BankId)
                            </div>
                            <div class="form-group wow fadeInUp">
                                @Html.TextBoxFor(m => m.BankAccount, new { @class = "form-control", @placeholder = "Bank Account" })
                                @Html.ValidationMessageFor(m => m.BankAccount)
                            </div>
                            <div class="form-group wow fadeInUp">
                                @Html.TextBoxFor(m => m.IdCard, new { @class = "form-control", @placeholder = "ID Card" })
                                @Html.ValidationMessageFor(m => m.IdCard)
                            </div>
                            <div class="form-group wow fadeInUp">
                                <span class="btn-din margintop10 fileinput-button" style="margin-bottom: 0px;">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>ID Card Image</span>
                                    @Html.TextBoxFor(model => model.ImageIdCardPath)
                                    <input id="imageidcard" type="file" name="files[]" accept="images">
                                </span>
                                <a id="lnk_imageidcard" href="@Model.ImageIdCardPath" target="_bank" class="th_fahkwang text-fileupload">@Model.ImageIdCardPath</a>
                                @Html.ValidationMessageFor(model => model.ImageIdCardPath)<br />
                                <div id="progress" class="progress">
                                    <div class="progress-bar progress-bar-success"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group wow fadeInUp">
                            <a href="#">คลิกเพื่ออ่านกติกาและเงื่อนไข</a>
                        </div>
                        <div class="checkbox">
                            <input id="isAccept" class="styled" type="checkbox">
                            <label style="padding-left: 25px;" for="isAccept">
                                ยอมรับเงื่อนไขและกติกาการแข่งขัน (กรุณาอ่านให้ครบถ้วน เพื่อประโยชน์ของท่าน)
                            </label>
                        </div>
                                       <!-- /ข้อมูลเพิ่มเติมสำหรับู้เข้าแข่งขัน -->
                        <button type="submit" id="btnSubmit" class="btn-flat waves-effect pull-right">สมัครสมาชิก</button>
                    }<!-- /.form -->
                </div>
            </div><!-- col-md-8 -->
            <div class="col-md-4">
                <div class="lan-banner ptb-30">
                    <div class="lan-banner-photo">
                        <a href="#"><img class="img-responsive" src="~/images/random/info_1.jpg" alt="banner"></a>
                        @*<div class="lan-banner-title">
                                คุณจะได้อะไร เมื่อประกวดคลิปเพลงกับ Cyberry Music
                            </div>*@
                    </div>
                </div>
                <div class="lan-banner ptb-30">
                    <div class="lan-banner-photo">
                        <a href="#"><img class="img-responsive" src="~/images/random/info_2.jpg" alt="banner"></a>
                        @*<div class="lan-banner-title">
                                วิธีการส่งคลิป / รายได้มาจากไหนบ้าง
                            </div>*@
                    </div>
                </div>

            </div><!-- /.col-md-4 -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- End Association Form -->
@section Scripts {
    <script>
        $(document).ready(function () {
            if (document.getElementById('IsContest').checked) {
                $("#dvIsContest").fadeIn();
            }
            //fisrt document load
            $("#btnSubmit").prop("disabled", true);

            //set datetime picker
            $('#BirthDate').datetimepicker({
                pickTime: false,
                format: "DD/MM/YYYY",
                language: 'th-th'
            });

            //set dropdown list
            $('select').material_select();

            //check select contenst
            $('#IsContest').change(function () {
                if (document.getElementById('IsContest').checked) {
                    $("#dvIsContest").fadeIn();
                } else {
                    $("#dvIsContest").hide();
                }

            });
            //
            //check select accept
            $('#isAccept').change(function () {
                if (document.getElementById('isAccept').checked) {
                    $("#btnSubmit").prop("disabled", false);
                } else {
                    $("#btnSubmit").prop("disabled", true);
                }

            });
            //ImageIdCard Upload
            $("#progress").hide();
            var url = '@Url.Action("UploadImage", "Account")';
            $('#imageidcard').fileupload({
                url: url,
                dataType: 'json',
                done: function (e, data) {
                    if (data.result.IsValid) {
                        $('#ImageIdCardPath').val(data.result.FullPath);
                        $("#lnk_imageidcard").attr("href", data.result.FullPath);
                        $("#lnk_imageidcard").text(data.result.FullPath);
                    } else {
                        alert(data.result.Message);
                    }
                    $("#progress").hide();
                },
                fail: function (e, data) {
                    alert(e);
                },
                progressall: function (e, data) {
                    $("#progress").show();
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                }
            }).prop('disabled', !$.support.fileInput)
              .parent().addClass($.support.fileInput ? undefined : 'disabled');
            //end Uplad ImageIdCard
        });
    </script>
}
