﻿@using WebCyberryMusic.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}
<section id="login" class="pb-30">

    <div class="container">

        <div class="row">

            <div class="col-md-8">

                <div class="lan-music-login">
                    <h1>@ViewBag.Title.</h1>
                    <p class="text-info">@ViewBag.StatusMessage</p>
                    @if (ViewBag.HasLocalPassword)
                    {
                        @Html.Partial("_ChangePasswordPartial")
                    }
                    else
                    {
                        @Html.Partial("_SetPasswordPartial")
                    }

                    @*<section id="externalLogins">
                        @Html.Action("RemoveAccountList")

                    </section>*@
                </div>
                @*@Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })*@
            </div><!-- col-md-8 -->
            <div class="col-md-4">
                <div class="lan-banner ptb-30">
                    <div class="lan-banner-photo">
                        <a href="#"><img class="img-responsive" src="~/images/random/info_1.jpg" alt="banner"></a>
                        @*<div class="lan-banner-title">
                                คุณจะได้อะไร เมื่อประกวดคลิปเพลงกับ Cyberry Music
                            </div>*@
                    </div>
                </div>
                <div class="lan-banner ptb-30">
                    <div class="lan-banner-photo">
                        <a href="#"><img class="img-responsive" src="~/images/random/info_2.jpg" alt="banner"></a>
                        @*<div class="lan-banner-title">
                                วิธีการส่งคลิป / รายได้มาจากไหนบ้าง
                            </div>*@
                    </div>
                </div>

            </div><!-- /.col-md-4 -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
@section Scripts {
   
}
