﻿@using WebCyberryMusic.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="เวทีเพื่อการแข่งขันประกวดร้องเพลงทางอินเทอร์เน็ตที่แบ่งปันรายได้จากการโหวตให้กับทุกๆ คนที่เกี่ยวข้อง">
    <meta name="keywords" content="cyberry, cyberry music, กติกา, แข่งขัน, ประกวด, ร้องเพลง, เล่นดนตรี, youtube, ประกวดดนตรี,ประกวดร้องเพลง">
    @RenderSection("metatags", required: false)
    <title>Cyberry Music</title>
      
    <!---Custom CSS-->
    <link rel="stylesheet" href="~/css/custom.css" type="text/css">
    <!---BootStrap CSS-->
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css">
    <!---Menu CSS-->
    <link rel="stylesheet" href="~/css/mega-menu.css" type="text/css">
    <!---Theme Color CSS-->
    <link rel="stylesheet" href="~/css/theme-color.css" type="text/css">
    <!---Responsive CSS-->
    <link rel="stylesheet" href="~/css/responsive.css" type="text/css">
    <!---Owl Slider CSS-->
    <link rel="stylesheet" href="~/css/owl.carousel.css" type="text/css">
    <!---BxSlider CSS-->
    <link rel="stylesheet" href="~/css/jquery.bxslider.css" type="text/css">
    <!---Font Awesome CSS-->
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <!---PrettyPhoto CSS-->
    <link rel="stylesheet" href="~/css/prettyPhoto.css" type="text/css">
    <!---Audio Player CSS-->
    <link rel="stylesheet" href="~/css/audioplayer.css" type="text/css">

    <!---Font Family Roboto CSS-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>

    <style>        
        /* styles for validation helpers */
        .field-validation-error {
            color: #b94a48;
        }

        .field-validation-valid {
            display: none;
        }

        input.input-validation-error {
            /*border: 1px solid #b94a48;*/
        }

        input[type="checkbox"].input-validation-error {
            border: 0 none;
        }

        .validation-summary-errors {
            color: #b94a48;
        }

        .validation-summary-valid {
            display: none;
        }
    </style>
    @RenderSection("styles", required: false)
</head>

<body>
    <!--Wrapper Content Start-->
    <div id="wrapper">
        <!--Header Start-->
        <header class="cp_header">
            <!--Navigation Start-->
            <div class="cp-navigation-row">
                <!--Side Bar Menu Start-->
                <div id="cp_side-menu">
                    <span id="cp-close-btn"><a href="#"><i class="fa fa-times"></i></a></span>
                    <div class="cp_side-navigation">
                        <ul class="cp-social-links">
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                        <div class="cp-right-outer">
                            <ul class="navbar-nav">
                                <!-- <li id="cp-close-btn"><a href="#"><img src="~/images/navi.png" alt="Close"></a></li> -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Home <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="index.html">Header Layout 1</a></li>
                                        <li><a href="home-v2.html">Header Layout 2</a></li>
                                        <li><a href="home-v3.html">Header Layout 3</a></li>
                                        <li><a href="home-v4.html">Header Layout 4</a></li>
                                        <li><a href="home-v5.html">Header Layout 5</a></li>
                                        <li><a href="home-v6.html">Header Layout 6</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="category-edu.html">Education</a></li>
                                        <li><a href="category-fashion.html">Fashion</a></li>
                                        <li><a href="category-food.html">Food</a></li>
                                        <li><a href="category-news.html">News & Politics</a></li>
                                        <li><a href="category-science.html">Science % Technology</a></li>
                                        <li><a href="category-sports.html">Sports</a></li>
                                        <li><a href="category-music.html">Music</a></li>
                                        <li><a href="category-shows.html">Shows</a></li>
                                        <li><a href="category-trailer.html">Trailer</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Post Format <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="post-blog.html">Blog Post </a></li>
                                        <li><a href="post-slider.html">Slider Post </a></li>
                                        <li><a href="post-image.html">Image Post </a></li>
                                        <li><a href="post-gallery.html">Gallery Post</a></li>
                                        <li><a href="post-audio.html">Audio Post</a></li>
                                        <li><a href="post-video.html">Video Post</a></li>
                                        <li><a href="post-soundcloud.html">SoundCloud Post</a></li>
                                        <li><a href="post-twitter.html">Twitter Post</a></li>
                                        <li><a href="post-link.html">Link Post</a></li>
                                        <li><a href="post-status.html">Status Post</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Shop <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="product.html"> Products </a></li>
                                        <li><a href="men.html">Men Wear </a></li>
                                        <li><a href="women.html">Women Wear</a></li>
                                        <li><a href="pro-detail.html">Product details</a></li>
                                        <li><a href="pro-sidebar.html">Product with sidebar</a></li>
                                        <li><a href="register.html">Register</a></li>
                                        <li><a href="login.html">Login</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pages <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li> <a href="blog.html">Blog</a> </li>
                                        <li> <a href="blog-detail.html">Blog Detail</a> </li>
                                        <li> <a href="video.html">Video Page</a> </li>
                                        <li> <a href="p404.html">404 Layout 1</a> </li>
                                        <li> <a href="p404-2.html">404 Layout 2</a> </li>
                                        <li> <a href="comingsoon.html">Coming Soon</a> </li>
                                    </ul>
                                </li>
                                <li><a href="contact-us.html">Contact Us</a> </li>
                            </ul>
                            <form action="form.php" method="get" class="cp-search-form-outer">
                                <div class="cp-search-form-outer">
                                    <input type="text" placeholder="Search..." required>
                                    <button class="btn-submit" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                                <label>... or choose a category on right.</label>
                            </form>
                            <div class="cp-upload-outer">
                                <a href="#" class="file-btn">Upload</a>
                                <ul class="cp-listed">
                                    <li class="login-btn"><i class="fa fa-sign-in"></i> <a href="login.html">Log in</a></li>
                                    <li class="signup-btn"><a href="register.html">Sign Up</a> <i class="fa fa-cart-plus"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Side Bar Menu End-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-9 col-sm-8 col-xs-12">
                            <!--Sidebar Menu Button -->
                            <div id="cp_side-menu-btn" class="cp_side-menu"> <a href="#" class=""><i class="fa fa-bars"></i></a> </div>
                            <!--Sidebar Menu Button End-->
                            <!--Logo Start-->
                            <strong class="cp-logo"> <a href="index.html"><img src="~/images/cyberry-logo.jpg" alt=""></a> </strong>
                            <!--Logo End-->
                            <!--Nav Holder Start-->
                            <div class="cp-nav-holder">
                                <div class="cp-megamenu">
                                    <div class="cp-mega-menu">
                                        <label for="mobile-button"> <img src="~/images/menu-bar.png" alt=""> </label>
                                        <!-- mobile click button to show menu -->
                                        <input id="mobile-button" type="checkbox">
                                        <ul class="main-menu">
                                            <li>
                                                <a href="#"><i class="fa fa-home fa-3"></i></a>
                                            </li>
                                            <li>
                                                <a href="#">กติกา</i></a>
                                                <ul class="drop-down one-column hover-expand">
                                                    <!-- first level drop down -->
                                                    <li><a href="#">กติกาการสมัคร</a></li>
                                                    <li><a href="#">รายละเอียดลิขสิทธิ์</a></li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="#">เพลง/ผู้เข้าแข่งขัน</i></a>
                                                <ul class="drop-down one-column hover-expand">
                                                    <!-- first level drop down -->
                                                    <li><a href="#">ผู้เข้าแข่งขัน</a></li>
                                                    <li><a href="#">เพลงที่ส่งประกวด</a></li>
                                                    <li><a href="#">เพลงต้นฉบับ</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Post Format</a>
                                                <ul class="drop-down two-column hover-expand">
                                                    <!-- Second level drop down -->
                                                    <li><a href="post-blog.html">Blog Post </a></li>
                                                    <li><a href="post-slider.html">Slider Post </a></li>
                                                    <li><a href="post-image.html">Image Post </a></li>
                                                    <li><a href="post-gallery.html">Gallery Post</a></li>
                                                    <li><a href="post-audio.html">Audio Post</a></li>
                                                    <li><a href="post-video.html">Video Post</a></li>
                                                    <li><a href="post-soundcloud.html">SoundCloud Post</a></li>
                                                    <li><a href="post-twitter.html">Twitter Post</a></li>
                                                    <li><a href="post-link.html">Link Post</a></li>
                                                    <li><a href="post-status.html">Status Post</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Shop</a>
                                                <ul class="drop-down three-column hover-expand">
                                                    <!-- Third level drop down -->
                                                    <li><a href="product.html"> Products </a></li>
                                                    <li><a href="men.html">Men Wear </a></li>
                                                    <li><a href="women.html">Women Wear</a></li>
                                                    <li><a href="pro-detail.html">Product details</a></li>
                                                    <li><a href="pro-sidebar.html">Product with sidebar</a></li>
                                                    <li><a href="register.html">Register</a></li>
                                                    <li><a href="login.html">Login</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Pages</a>
                                                <ul class="drop-down one-column hover-fade">
                                                    <li> <a href="blog.html">Blog</a> </li>
                                                    <li> <a href="blog-detail.html">Blog Detail</a> </li>
                                                    <li> <a href="video.html">Video Page</a> </li>
                                                    <li> <a href="p404.html">404 Layout 1</a> </li>
                                                    <li> <a href="p404-2.html">404 Layout 2</a> </li>
                                                    <li> <a href="comingsoon.html">Coming Soon</a> </li>
                                                    <li>
                                                        <a href="#">WooCommerce Shop</a><i class="fa fa-angle-right"></i>
                                                        <ul class="drop-down one-column hover-expand">
                                                            <!-- second level drop down -->
                                                            <li><a href="product.html"> Products </a></li>
                                                            <li><a href="pro-detail.html"> Products </a></li>
                                                            <li><a href="register.html">Register</a></li>
                                                            <li><a href="login.html">Login</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li> <a href="contact-us.html">Contact Us</a> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Nav Holder End-->
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <!--Right Holder Start-->
                            <div class="cp-right-holder">
                                <ul class="cp-social-links">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    <li class="cp-search-holder">
                                        <i class="fa fa-search"></i>
                                        <form action="form.php" method="get" class="cp-search-form-outer">
                                            <input type="text" placeholder="Search..." required>
                                            <button class="btn-submit" type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                            <!--Right Holder End-->
                        </div>
                    </div>
                </div>
            </div>
            <!--Navigation End-->
        </header>
        <!--Header End-->

        @RenderBody()     


        <!--Footer Start-->
        <footer class="cp_footer">


            <!--Copyright Section Start-->
            <section class="cp-copyright-section">
                <div class="container">
                    <nav class="cp-ft-nav">
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Press</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">Creators</a></li>
                            <li><a href="#">Advertise</a></li>
                            <li><a href="#">Developers</a></li>
                            <li><a href="#">+VideoGo</a></li>
                        </ul>
                    </nav>
                    <nav class="cp-ft-nav cp-ft-nav2">
                        <ul>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy & Safety</a></li>
                            <li><a href="#">Send feedback</a></li>
                            <li><a href="#">Try something new!</a></li>
                            <li>&copy; 2016 <a href="index.html">VideoGo</a></li>
                        </ul>
                    </nav>
                </div>
            </section>
            <!--Copyright Section End-->

        </footer>
        <!--Footer End-->

    </div>
    <!--Wrapper Content End-->


    <!---JQuery-1.11.3.js-->
    <script type="text/javascript" src="~/js/jquery-1.11.3.min.js"></script>
    <!---BootStrap.min.js-->
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <!--HTML5 Js-->
    <script src="~/js/html5shiv.js" type="text/javascript"></script>
    <!---Migrate.js-->
    <script type="text/javascript" src="~/js/migrate.js"></script>
    <!---Owl Carousel Slider.js-->
    <script type="text/javascript" src="~/js/owl.carousel.min.js"></script>
    <!---Bx Slider.js-->
    <script type="text/javascript" src="~/js/jquery.bxslider.min.js"></script>
    <!---Countdown.js-->
    <script type="text/javascript" src="~/js/jquery.countdown.js"></script>
    <!---PrettyPhoto.js-->
    <script type="text/javascript" src="~/js/jquery.prettyPhoto.js"></script>
    <!---Custom Script.js-->
    <script type="text/javascript" src="~/js/custom-script.js"></script>

    @*Select2 Script*@
    <script src="~/Select2/js/select2.full.min.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-65921712-1', 'auto');
        ga('send', 'pageview');

    </script>
    @RenderSection("scripts", required: false)
</body><!-- End body -->
</html>
