﻿@using Microsoft.AspNet.Identity
<ul>
    <li><a class="waves-effect waves-red" href="@Url.Action("Index", "Home")" title="หน้าแรก: ประกวดร้องเพลง"><img src="~/images/home.png"/></a></li>
    <li class="submenu">
        <a href="#" title="กติกา: ประกวดร้องเพลง">กติกา</a>
        <input class="show-submenu" type="checkbox" id="show-submenu-2" name="show-submenu-2"/>
        <ul>
            <li><a class="waves-effect waves-red" href="@Url.Action("Rules", "Home")">กติกาการสมัคร</a></li>
            <li><a class="waves-effect waves-red" href="@Url.Action("Rights", "Home")">รายละเอียดลิขสิทธิ์</a></li>
        </ul>
    </li>
    <li class="submenu">
        <a href="#" title="เพลง/ผู้เข้าแข่งขัน">เพลง/ผู้เข้าแข่งขัน</a>
        <input class="show-submenu" type="checkbox" id="show-submenu-3" name="show-submenu-3"/>
        <ul>
            <li><a class="waves-effect waves-red" href="@Url.Action("Artistlist", "Home")">ดูผู้เข้าแข่งขัน</a></li>
            <li><a class="waves-effect waves-red" href="@Url.Action("SongList", "Home")">ดูเพลงที่ส่งประกวด </a></li>
            <li><a class="waves-effect waves-red" href="@Url.Action("OriginalSongList", "Home")">ดูเพลงต้นฉบับ </a></li>
        </ul>
    </li>
    <li>
        <a class="waves-effect waves-red" href="#" title="บทความ">บทความ</a>
    </li>
    @if (!Request.IsAuthenticated)
    {
        <li>
            <a class="waves-effect waves-red" href="@Url.Action("Register", "Account")" title="สมัครสมาชิก: ประกวดร้องเพลง">สมัครสมาชิก</a>
            <input class="show-submenu" type="checkbox" id="show-submenu-4" name="show-submenu-4"/>
        </li>
        <li>
            <a class="waves-effect waves-red" href="@Url.Action("Login", "Account")">เข้าสู่ระบบ</a>
        </li>
    }
    <li class="submenu">
        <a href="#" title="About Cyberry Music">About Us</a>
        <input class="show-submenu" type="checkbox" id="show-submenu-about" name="show-submenu-about"/>
        <ul>
            <li><a class="waves-effect waves-red" href="@Url.Action("About", "Home")">About Us</a></li>
            <li><a class="waves-effect waves-red" href="@Url.Action("Contact", "Home")">Contact Us</a></li>
        </ul>
    </li>
    @if (Request.IsAuthenticated)
    {
        <li>
            @Html.ActionLink("Profile", "Index", "Profile", routeValues: null, htmlAttributes: new {title = "Profile"})
        </li>
        <li>
            <a class="waves-effect waves-red" href="@Url.Action("LogOff", "Account")">Log Off</a>
        </li>
    }
    @*<li class="pull-left">
        @using (Html.BeginForm("SearchResult", "Home", FormMethod.Post, new { @class = "lan-contact-form navbar-form", autocomplete = "off", role = "form" }))
        {
            <div class="input-group">
                @Html.TextBox("SearchString", "", new { @class = "form-control", @placeholder = "Search for...",@style="width: 0px;"})
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class=" glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        }
    </li>*@
</ul>
<div class="clear"></div>

