﻿@model WebCyberryMusic.Models.ContactViewModels
<div class="lan-footer-col1 wow fadeInUp">
    <h2>Subscribed to Newsletter</h2>
    @if (ViewBag.SubscribeIsSuccess ?? false)
    {
        <div class="alert alert-info">
            <p class="text-info">
                Thank you for subscribing to our newsletter.
            </p>
        </div>
    }
   @using (Ajax.BeginForm("Subscribed", "Home", null, new AjaxOptions
   {
       InsertionMode = InsertionMode.Replace,
       HttpMethod = "POST",
       UpdateTargetId = "subscribe_form"
   }, new {@class = ""}))
   {
       <div class="form-group">
           @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name" })
           @Html.ValidationMessageFor(m => m.Name)
       </div>
       <div class="form-group">
           @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
           @Html.ValidationMessageFor(m => m.Email)
       </div>
       <button type="submit" class="btn-flat waves-effect">Subscribe</button>
   }
</div>