﻿@model DINFDAL.Models.VoteViewModel
<!-- Modal -->
 <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            @using (Ajax.BeginForm("Vote", "Point", null, new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST",
                UpdateTargetId = "subscribe_form"
            }, new { @class = "" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <h2>Modal Header</h2>
                    <div class="form-group">

                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Point, new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Point)
                    </div>
                    <button type="submit" class="btn-flat waves-effect">Subscribe</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
        </div>

    </div>
</div>
