﻿@model DINFDAL.Models.WithdrawalTransactionViewModel
<div class="lan-music-login">
    @if (ViewBag.IsSuccess ?? false)
    {
        @*<div class="alert alert-info">
                <p class="text-info">
                    Successfully.
                </p>
            </div>*@
        <script>
            alert('Successfully.');
            location.reload();
        </script>
    }
    @using (Ajax.BeginForm("addWithdrawal", "Profile", null, new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "withdrawal_form"
    }, new {@class = ""}))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.vat)
        @Html.HiddenFor(m => m.int_user_id)
        <div class="form-group">
            <div class="col-sm-12">
                <label for="balance" class="col-sm-12">เงินรางวัลคงเหลือ</label>
                @Html.TextBoxFor(m => m.balance, new { @class = "form-control autoNum", @placeholder = "", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.balance)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <label for="amount" class="control-label col-sm-12">จำนวนเงินที่ต้องการถอน ตั้งแต่ 1,000 บาทขึ้นไป</label>
                @Html.TextBoxFor(m => m.amount, new {@class = "form-control autoNum", @placeholder = ""})
                @Html.ValidationMessageFor(m => m.amount)
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <label for="include_vat" class="control-label col-sm-12">ยอดเงินหลังหักภาษี ณ ที่จ่าย 5%</label>
                @Html.TextBoxFor(m => m.include_vat, new {@class = "form-control autoNum", @placeholder = "", @readonly = "readonly"})
            </div>
        </div>
        <div class="form-group">
            <p>
                <label class="col-sm-12">
                    บริษัทฯ จะโอนเงินเข้าบัญชีท่านจำนวน <span id="include_vat_amount" class="autoNum"></span> บาท (ก่อนหักค่าธรรมเนียมธนาคาร)
                </label>
            </p>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-flat waves-effect center">ถอนเงิน</button>
            <button type="reset" class="btn-flat waves-effect center">ยกเลิก</button>
        </div>
    }
</div>
<div class="text-center">
    <a href="@Url.Action("WithdrawalList", "Profile")" style="width: 180px;" class="btn-din">ประวัติการถอนเงิน</a>
</div>