﻿@model WebCyberryMusic.Models.EditMemberViewModel
@{
    ViewBag.Title = "Edit Profile";
}

@section Styles{

    <style>
        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            background: url("/images/random/bg_pattern.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
        }
    </style>
}
<!-- Register
                ================================================== -->
<section id="review-details">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="lan-module-title">
                    <h1 class="title"><a href="@Url.Action("Index","Profile")">Profile-></a>Edit Profile</h1>
                </div>
            </div>
        </div>
        <div class="lan-review-details-holder pb-30">
            <div class="row">
                <div class="col-md-8">
                    <div class="lan-review-comment">
                        <div class="lan-comment-section">
                            <div class="lan-comment-form-all">
                                <h2>Edit Profile</h2>
                                <p>@Html.ValidationSummary()</p>
                                <div class="lan-contact-form">
                                    @if (ViewBag.IsSuccess ?? false)
                                    {
                                        <div class="alert alert-info">
                                            <p class="text-info">
                                                You have successfully updated your profile.
                                            </p>
                                        </div>
                                    }
                                    @using (Html.BeginForm("Edit", "Profile", FormMethod.Post, new { @class = "lan-contact-form", autocomplete = "off", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(model => model.IsContest)
                                        @Html.HiddenFor(model => model.IsAccept)
                                        <div class="form-group  wow fadeInUp">

                                            @if (String.IsNullOrEmpty(Model.Avatar))
                                            {
                                                <img id="imgAvatar" class="img-responsive" width="145" height="146" src="http://placehold.it/145x146" alt="">
                                            }
                                            else
                                            {
                                                <img id="imgAvatar" class="img-responsive" width="145" height="146" src="@Model.Avatar" alt="">
                                            }

                                            <span class="btn-din margintop10 fileinput-button" style="margin-bottom: 0px;">
                                                <i class="glyphicon glyphicon-plus"></i>
                                                <span>Upload</span>
                                                @Html.TextBoxFor(model => model.Avatar)
                                                <input id="avatarupload" type="file" name="files[]" accept="images">
                                            </span>
                                            <p id="lnk_lyric_file" class="th_fahkwang text-fileupload"></p>
                                            @Html.ValidationMessageFor(model => model.Avatar)<br />
                                            <div id="progress" class="progress">
                                                <div class="progress-bar progress-bar-success"></div>
                                            </div>
                                        </div>
                                        <div class="form-group wow fadeInUp">
                                            @Html.TextBoxFor(m => m.FisrtName, new { @class = "form-control", @placeholder = "Fisrt Name" })
                                            @Html.ValidationMessageFor(m => m.FisrtName)
                                        </div>
                                        <div class="form-group wow fadeInUp">
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                                            @Html.ValidationMessageFor(m => m.LastName)
                                        </div>
                                        <div class="form-group wow fadeInUp">
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(m => m.UserName)
                                        </div>
                                        <div class="form-group wow fadeInUp">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(m => m.Email)
                                        </div>
                                        <div class="form-group wow fadeInUp">
                                            <div class='input-group date' id='BirthDatePicker'>
                                                @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control", @placeholder = "Birth Date" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(m => m.BirthDate)
                                        </div>
                                        <div class="form-group wow fadeInUp">
                                            @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @placeholder = "Address", @row = "4" })
                                            @Html.ValidationMessageFor(m => m.Address)
                                        </div>
                                        <div class="form-group wow fadeInUp">
                                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeholder = "Phone" })
                                            @Html.ValidationMessageFor(m => m.Phone)
                                        </div>
                                        if (Model.IsContest)
                                        {
                                            <!-- ข้อมูลเพิ่มเติมสำหรับู้เข้าแข่งขัน -->
                                            <div id="dvIsContest">
                                                <div class="lan-music-login">
                                                    <h2>ข้อมูลเพิ่มเติมสำหรับผู้สมัครเข้าแข่งขัน</h2>
                                                    <p>ข้อมูลบัญชีธนาคาร เพื่อโอนเงินเมื่อได้รับส่วนแบ่งจากการโหวต (สามารถขอโอนเงินได้เมื่อมีเงินสะสมเกิน 2,000 บาท ขึ้นไป)</p>
                                                </div>
                                                <div class="form-group wow fadeInUp">
                                                    @Html.DropDownListFor(model => model.BankId, (List<SelectListItem>)ViewBag.ListOfBankIds, "Bank Name", new { })
                                                    @Html.ValidationMessageFor(model => model.BankId)
                                                </div>
                                                <div class="form-group wow fadeInUp">
                                                    @Html.TextBoxFor(m => m.BankAccount, new { @class = "form-control", @placeholder = "Bank Account" })
                                                    @Html.ValidationMessageFor(m => m.BankAccount)
                                                </div>
                                                <div class="form-group wow fadeInUp">
                                                    @Html.TextBoxFor(m => m.IdCard, new { @class = "form-control", @placeholder = "ID Card" })
                                                    @Html.ValidationMessageFor(m => m.IdCard)
                                                </div>
                                                <div class="form-group wow fadeInUp">
                                                    <span class="btn-din margintop10 fileinput-button" style="margin-bottom: 0px;">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                        <span>ID Card Image</span>
                                                        @Html.TextBoxFor(model => model.ImageIdCardPath)
                                                        <input id="imageidcard" type="file" name="files[]" accept="images">
                                                    </span>
                                                    <a id="lnk_imageidcard" href="@Model.ImageIdCardPath" target="_bank" class="th_fahkwang text-fileupload">@Model.ImageIdCardPath</a>
                                                    @Html.ValidationMessageFor(model => model.ImageIdCardPath)<br />
                                                    <div id="progress2" class="progress">
                                                        <div class="progress-bar progress-bar-success"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /ข้อมูลเพิ่มเติมสำหรับู้เข้าแข่งขัน -->
                                        }
                                        <button type="submit" id="btnSubmit" class="btn-flat waves-effect pull-right">Save</button>
                                    }<!-- /.form -->
                                </div><!-- /.lan-contact-form -->
                            </div><!-- /.lan-comment-form-all -->
                        </div>

                    </div>

                </div>

                <div class="col-md-4">
                    <div class="lan-banner ptb-30">
                        <div class="lan-banner-photo">
                            <a href="#"><img class="img-responsive" src="~/images/random/info_1.jpg" alt="banner"></a>
                            @*<div class="lan-banner-title">
                                    คุณจะได้อะไร เมื่อประกวดคลิปเพลงกับ Cyberry Music
                                </div>*@
                        </div>
                    </div>
                    <div class="lan-banner ptb-30">
                        <div class="lan-banner-photo">
                            <a href="#"><img class="img-responsive" src="~/images/random/info_2.jpg" alt="banner"></a>
                            @*<div class="lan-banner-title">
                                    วิธีการส่งคลิป / รายได้มาจากไหนบ้าง
                                </div>*@
                        </div>
                    </div>

                </div><!-- /.col-md-4 -->

            </div><!-- /.row -->
        </div><!-- /.lan-review-holder -->
    </div>
</section>
<!-- End regester -->
@section Scripts {
    <script>
        $(document).ready(function () {
            //set dropdown list
            $('select').material_select();
            //set datetime picker
            $('#BirthDate').datetimepicker({
                pickTime: false,
                format: "DD/MM/YYYY",
                language: 'th-th'
            });

        });
        //
        $(document).ready(function () {
            'use strict';
            $("#progress").hide();
            // Change this to the location of your server-side upload handler:
            var url = '@Url.Action("UploadImage", "Profile")';
            console.log(url);
            $('#avatarupload').fileupload({
                url: url,
                dataType: 'json',
                done: function (e, data) {
                    $('#Avatar').val(data.result.FullPath);
                    $("#imgAvatar").attr("src", data.result.FullPath);
                    $("#progress").hide();
                },
                progressall: function (e, data) {
                    $("#progress").show();
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                }
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
        });

        //ImageIdCard Upload
        $("#progress2").hide();
        var url2 = '@Url.Action("UploadImage", "Account")';
        $('#imageidcard').fileupload({
            url: url2,
            dataType: 'json',
            done: function (e, data) {
                if (data.result.IsValid) {
                    $('#ImageIdCardPath').val(data.result.FullPath);
                    $("#lnk_imageidcard").attr("href", data.result.FullPath);
                    $("#lnk_imageidcard").text(data.result.FullPath);
                } else {
                    alert(data.result.Message);
                }
                $("#progress2").hide();
            },
            fail: function (e, data) {
                alert(e);
            },
            progressall: function (e, data) {
                $("#progress2").show();
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress2 .progress-bar').css(
                    'width',
                    progress + '%'
                );
            }
        }).prop('disabled', !$.support.fileInput)
          .parent().addClass($.support.fileInput ? undefined : 'disabled');
        //end Uplad ImageIdCard
    </script>
}
