﻿@using DINFDAL.Models
@model DINFDAL.Models.Song_Contest
@{
    ViewBag.Title = Model.txt_song_name;
}
@{
    var userProfile = ViewBag.Profile as User;
}
@section metatags{
    <meta property="og:title" content="Cyberry: @Model.txt_song_name" />
    <meta property="og:site_name" content="Cyberry Music" />
    <meta property="og:description" content="ร่วมโหวตเพลง @Model.txt_song_name/@Model.txt_vote_code/@Model.User.UserName" />
    <meta property="og:image" content="https://i1.ytimg.com/vi/@Model.txt_youtube_id/hqdefault.jpg" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
}
@section Styles{
    <style>
        .fb-like, .fb-like span, .fb-like iframe {
            min-width: 100% !important;
            max-width: 100% !important;
        }

        .fb-comments, .fb-comments span, .fb-comments iframe {
            min-width: 100% !important;
            max-width: 100% !important;
        }
    </style>
}
<!-- Start main content
                ================================================== -->
<section id="main-content" class="pb-30">
    <div class="container">
        <div class="row">

            @*<div class="col-md-12 wow fadeInUp">
                    <div class="lan-module-title">
                        <h2 class="title">Video Detail</h2>
                    </div>
                </div>*@

            <!-- Start Left side
              ================================================== -->
            <div class="col-md-4">
                <!-- Left sidebar -->
                <div class="lan-event-content-holder wow fadeInUp">

                    <div class="row">
                        <div class="col-md-12">
                            <h2><span>Song ID: @Model.txt_vote_code  </span></h2>
                        </div>
                        <div class="col-sm-4">
                            <div class="lan-music-event-photo">
                                <a href="@Url.Action("Member", "Profile", new {id = Model.int_user_id})">
                                    @if (String.IsNullOrEmpty(userProfile.txt_avatar))
                                    {
                                        <img id="imgAvatar" class="img-responsive" width="145" height="146" src="http://placehold.it/145x146" alt="">
                                    }
                                    else
                                    {
                                        <img id="imgAvatar" class="img-responsive" width="145" height="146" src="@userProfile.txt_avatar" alt="">
                                    }
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-8">

                            <div class="lan-music-event">

                                <div class="lan-band-name">
                                    <p>เพลง: <span>@Model.txt_song_name</span></p>
                                </div><!-- /.band-name -->

                                <div class="lan-genre">
                                    <p>ผู้แต่ง: @Model.Song_Original.User.UserName </p>
                                </div><!-- /.lan-genre -->
                                <div class="lan-genre">
                                    <p>เพลงต้นฉบับ:<a href="@Url.Action("OriginalSongDetail", "Profile", new { id = Model.Song_Original.int_song_original_id })">@Model.Song_Original.txt_songname</a> </p>
                                </div><!-- /.lan-genre -->
                                <div class="lan-review">
                                    <h2 style="color:#fa4c29;">
                                        Score: @Model.Score_Song.Sum(i => i.int_value)
                                    </h2>
                                    <h2>SMS Vote: พิมพ์ @Model.txt_vote_code แล้วส่งมาที่เบอร์ 4221666</h2>
                                    <p></p>
                                    <a class="waves-effect" href="@Url.Action("Vote","Point",new {id=Model.int_song_contest_id})">Vote ด้วย Cyberry Point</a>
                                    <p></p>
                                </div><!-- /.lan-review -->
                            </div><!-- /.lan-music-event -->
                            <!-- AddToAny BEGIN -->
                            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                                <a class="a2a_button_facebook"></a>
                                <a class="a2a_button_twitter"></a>
                                <a class="a2a_button_google_plus"></a>
                            </div>
                            <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
                            <!-- AddToAny END -->
                        </div><!-- /.col-md-8 -->

                    </div><!-- /.row -->

                </div><!-- /.lan-tour-content-holder -->
            </div><!-- /.col-md-4 /.left sidebar-->
            <!-- start main-content-left -->
            <div class="col-md-8 main-content-left">


                <!-- Start Most rated Music video
                      ================================================== -->

                <div class="row">
                    <div class="col-md-12">

                        @*<div class="lan-featured-video lan-most-rated-video">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/@Model.txt_youtube_id" frameborder="0" allowfullscreen></iframe>
                            </div>*@

                        <div class="lan-most-rated-video">

                            <div class="video-slide-widget fitvids" style="border:1px solid #4b4b4b">
                                @*<div class="" id="service-carousel">
                                    <div class="item service-block">*@
                                <!-- video1 start -->
                                @if (!String.IsNullOrEmpty(Model.txt_youtube_url))
                                {
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/@Model.txt_youtube_id?rel=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>
                                }
                                @if (!String.IsNullOrEmpty(Model.txt_soundcloud_url))
                                {
                                    <iframe width="100%" height="315" src="https://w.soundcloud.com/player/?url=@Model.txt_soundcloud_url&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                                }
                                @*</div>
                                    </div>*@
                            </div><!-- /.video-slide-widget -->
                        </div>
                        @*<iframe width="100%" height="315" src="https://www.youtube.com/embed/@Model.txt_youtube_id" frameborder="0" allowfullscreen></iframe>*@

                    </div>
                </div>
                <div class="row wow fadeInUp">
                    <div class="col-md-8">
                        <div class="fb-like" data-width="100%" style="margin-top: 10px;" data-colorscheme="dark" data-href="@HttpContext.Current.Request.Url.AbsoluteUri" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                        <div class="fb-comments" data-width="100%" data-colorscheme="dark" data-href="@HttpContext.Current.Request.Url.AbsoluteUri" data-numposts="5"></div>
                    </div>
                </div>
                <!-- End Most rated Music video -->
            </div>
            <!-- End main content left side -->
        </div><!-- /.row -->
        <!-- Artist Song เพลงของ Artist ท่านนี้ -->
        <div class="row">
            <div class="col-md-12">
                <div class="lan-module-title wow fadeInUp">
                    <h2 class="title">Artist Song</h2>
                </div>
            </div>
        </div>

        <div class="tour-image-gallery pb-30">
            <div class="row wow fadeInUp">
                @{
                    var artistsongs = ViewBag.ArtistSong as List<Song_Contest>;
                }
                @foreach (var item in artistsongs)
                {
                    <div class="col-md-3">
                        <div class="lan-gallery-post animated" data-animation-delay="0.8s" data-animation="fadeIn">
                            <div class="lan-blog-post">
                                <div class="ImageWrapper ContentWrapperO chrome-fix">
                                    @if (!String.IsNullOrEmpty(item.txt_youtube_url))
                                    {
                                        <a href="@Url.Action("SongDetail", "Profile", new {id = item.int_song_contest_id})" target="_bank"><img class="img-responsive" src="https://i1.ytimg.com/vi/@item.txt_youtube_id/hqdefault.jpg" alt=""></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("SongDetail", "Profile", new { id = item.int_song_contest_id })"><img class="img-responsive" src="~/images/soundcloud_logo.png" alt="@item.txt_song_name"></a>
                                    }
                                    <div class="ContentO">
                                        <div class="Content" style="padding: 5px;">
                                            <h2>
                                                Score: @item.Score_Song.Sum(i => i.int_value)
                                            </h2>
                                            <p>
                                                ชื่อเพลง: @item.txt_song_name
                                            </p>
                                        </div>
                                    </div>
                                </div><!-- /.ImageWrapper -->
                            </div><!-- /.lan-blog-post -->
                        </div><!-- /.lan-gallery-post -->
                    </div>
                }
            </div>
        </div>

        <!-- Artist Song เพลงของ Artist ท่านนี้ -->
        <!-- Composser ที่แต่งเพลงนี้ -->
        <div class="row">
            <div class="col-md-12">
                <div class="lan-module-title wow fadeInUp">
                    <h2 class="title">Composser's Song</h2>
                </div>
            </div>
        </div>

        <div class="tour-image-gallery pb-30">
            <div class="row wow fadeInUp">
                @{
                    var composersongs = ViewBag.ComposerSong as List<Song_Contest>;
                }
                @foreach (var item in composersongs)
                {
                    <div class="col-md-3">
                        <div class="lan-gallery-post animated" data-animation-delay="0.8s" data-animation="fadeIn">
                            <div class="lan-blog-post">
                                <div class="ImageWrapper ContentWrapperO chrome-fix">
                                    @if (!String.IsNullOrEmpty(item.txt_youtube_url))
                                    {
                                        <a href="@Url.Action("SongDetail", "Profile", new {id = item.int_song_contest_id})" target="_bank"><img class="img-responsive" src="https://i1.ytimg.com/vi/@item.txt_youtube_id/hqdefault.jpg" alt=""></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("SongDetail", "Profile", new { id = item.int_song_contest_id })"><img class="img-responsive" src="~/images/soundcloud_logo.png" alt="@item.txt_song_name"></a>
                                    }
                                    <div class="ContentO">
                                        <div class="Content" style="padding: 5px;">
                                            <h2>
                                                Score: @item.Score_Song.Sum(i => i.int_value)
                                            </h2>
                                            <p>
                                                ชื่อเพลง: @item.txt_song_name
                                            </p>
                                        </div>
                                    </div>
                                </div><!-- /.ImageWrapper -->
                            </div><!-- /.lan-blog-post -->
                        </div><!-- /.lan-gallery-post -->
                    </div>
                }

            </div>
        </div>
        <!-- Composser ที่แต่งเพลงนี้ -->
    </div><!-- /.container-fluid -->
</section>
<!-- End content section -->
@Html.Partial("_VotePartial", new VoteViewModel())
@section Scripts{
    <script>
        $(document).ready(function () {

        });
    </script>
}