﻿@using Microsoft.AspNet.Identity
@model DINFDAL.Models.SongUploadViewModel

@section styles{
    <style>
    </style>
}
<!-- Original Song Upload
            ================================================== -->
<section id="store">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="lan-module-title">
                    <h1 class="title"><a href="@Url.Action("Index","Profile")">Profile-></a>Upload Song</h1>
                </div>
            </div>
        </div>

        <div class="lan-store-holder pb-30">
            <ul>
                <li>
                    <div class="row wow fadeInUp">
                        <div class="col-md-4">
                            @Html.Partial("_MyProfilePartial")
                        </div><!-- /.store-single-product-photo -->
                        <div class="col-md-8">
                            <div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h1 class="th_fahkwang"><span>A</span> ประกวดด้วยเพลงแต่งเอง</h1>
                                    </div>
                                    <div class="col-md-6">
                                        <h1 class="th_fahkwang"><a href="@Url.Action("UploadSong")"><span>B</span> ใช้เนื้อเพลงผู้อื่นส่งประกวด</a></h1>
                                    </div>
                                </div><!-- /row 1 -->
                                <div class="row margintop40">
                                    <div class="lan-comment-form-all">
                                        <div class="lan-contact-form">
                                            @using (Html.BeginForm("UploadNewSong", "Profile", FormMethod.Post, new { @autocomplete = "off" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <p>@Html.ValidationSummary(true)</p>
                                                if (ViewBag.IsSuccess ?? false)
                                                {
                                                    <p class="alert alert-success" role="alert">Upload Song Successful</p>
                                                }
                                                <div class="form-group wow">
                                                    <div class="col-md-4">
                                                        <label class="th_fahkwang text-fileupload">1. กรอกชื่อเพลง</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(m => m.txt_song_name, new { @class = "form-control", @placeholder = "ชื่อเพลง" })
                                                        @Html.ValidationMessageFor(m => m.txt_song_name)
                                                    </div>
                                                </div>
                                                <div class="form-group wow">
                                                    <div class="col-md-4">
                                                        <label class="th_fahkwang text-fileupload">2. ไฟล์เพลง (วีดีโอหรือเสียงอย่างเดียว)</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        @Html.HiddenFor(m => m.txt_youtube_id)
                                                        @Html.TextBoxFor(m => m.txt_youtube_url, new { @class = "form-control", @placeholder = "YouTube URL" })
                                                        @Html.ValidationMessageFor(m => m.txt_youtube_url)<br/>
                                                        <label class="th_fahkwang text-fileupload">หรือ เสียง</label>
                                                        @Html.TextBoxFor(m => m.txt_soundcloud_url, new { @class = "form-control", @placeholder = "Sound Cloud URL" })
                                                        @Html.ValidationMessageFor(m => m.txt_soundcloud_url)
                                                    </div>
                                                    <div class="col-md-2">
                                                        <img id="imgThumbnail" class="img-responsive" src="http://placehold.it/145x146" alt="YouTube Thumbnail">
                                                    </div>
                                                </div>
                                                <div class="form-group wow">
                                                    <div class="col-md-4">
                                                        <label class="th_fahkwang text-fileupload">3. ไฟล์เนื้อเพลง (Ms Word, PDF)</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <span class="btn-din margintop10 fileinput-button" style="margin-bottom: 0px;">
                                                                <i class="glyphicon glyphicon-plus"></i>
                                                                <span>Upload</span>
                                                                @Html.TextBoxFor(model => model.txt_lyric_file)
                                                                <input id="songupload" type="file" name="files[]" accept="application/msword,.doc,.docx,text/plain, application/pdf">
                                                            </span>
                                                            <p id="lnk_lyric_file" class="th_fahkwang text-fileupload">@(Model != null ? Model.txt_lyric_file : "")</p>
                                                            @Html.ValidationMessageFor(model => model.txt_lyric_file)<br />
                                                            <div id="progress" class="progress">
                                                                <div class="progress-bar progress-bar-success"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group wow">
                                                    <div class="col-md-4">
                                                        <label class="th_fahkwang text-fileupload">4. ส่งเพลงเข้าประกวด</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="checkbox">
                                                            <input id="IsContest" name="IsContest" value="true" @MvcHtmlString.Create(Model.IsContest ? "checked=\"checked\"" : "") class="styled" type="checkbox">
                                                            <label style="padding-left: 25px;" for="IsContest">
                                                                ส่งเพลงนี้เข้าประกวด<br />(หากติ๊กออก หมายถึง ส่งเพลงต้นฉบับเท่านั้นไม่ได้ส่งเพลงเข้าประกวด)
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group wow">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-8 margintop10">
                                                        <button type="submit" class="btn-flat waves-effect">Submit</button>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /row 2 -->
                        </div>
                    </div><!-- /.col-md-8 -->
                </li><!-- /.first li -->
            </ul><!-- /.ul -->
        </div><!-- /.lan-store-holder -->
    </div><!-- /.container -->
</section> <!-- /.store -->
<!-- End store -->
@section scripts
{
    <!-- PAGE LEVEL SCRIPT-->
    <script>
        function ytVidId(url) {
            var p = /^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/;
            return (url.match(p)) ? RegExp.$1 : false;
        }
        $(document).ready(function () {
            'use strict';
            $("#progress").hide();
            // Change this to the location of your server-side upload handler:
            var url = '@Url.Action("UploadSongLyrics", "Profile")';
            console.log(url);
            $('#songupload').fileupload({
                url: url,
                dataType: 'json',
                done: function (e, data) {
                    if (data.result.IsValid) {
                        $('#txt_lyric_file').val(data.result.FullPath);
                        $("#lnk_lyric_file").text(data.result.FullPath);
                    } else {
                        alert(data.result.Message);
                    }
                    $("#progress").hide();
                },
                fail: function (e, data) {
                    alert(data.result.Message);
                },
                progressall: function (e, data) {
                    $("#progress").show();
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                }
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
            //
            $("#imgThumbnail").attr("src", 'https://i1.ytimg.com/vi/' + $("#txt_youtube_id").val() + '/default.jpg');

            //get Youtube thumbnail
            $("#txt_youtube_id").change(function () {
                $("#imgThumbnail").attr("src", 'https://i1.ytimg.com/vi/' + $("#txt_youtube_id").val() + '/default.jpg');
            });
            //get Youtube id for thumbnail
            $("#txt_youtube_url").change(function () {
                //alert(ytVidId($("#txt_youtube_url").val()));
                $("#txt_youtube_id").val(ytVidId($("#txt_youtube_url").val()));
                $("#imgThumbnail").attr("src", 'https://i1.ytimg.com/vi/' + ytVidId($("#txt_youtube_url").val()) + '/default.jpg');
            });

        });
    </script>
    <!--END PAGE LEVEL SCRIPT-->
}
