﻿@using Microsoft.AspNet.Identity
@model IList<DINFDAL.Models.Withdrawal_Transaction>
<section id="review-details">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="lan-module-title">
                    <h1 class="title"><a href="@Url.Action("Withdrawal","Profile")">Withdrawal-></a>List</h1>
                </div>
            </div>
        </div>
        <div class="lan-review-details-holder pb-30">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-12">
                    <div class="ttw-music-player" style="opacity: 1;">
                        <div class="player jp-interface">
                            <h3>ประวัติการถอนเงินรางวัล</h3>
                        </div>
                        <div class="tracklist show-more-button table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="center">ครั้งที่</th>
                                        <th class="center">วันที่</th>
                                        <th class="center">เวลา</th>
                                        <th class="center">ยอดเงินที่ถอน</th>
                                        <th class="center">ยอดเงินโอน(หลังหักภาษี 5%)</th>
                                        <th class="center">วันที่โอน</th>
                                        <th class="center">เอกสารแนบ</th>
                                        <th class="center">หมายเหตุ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var number = 0;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        number++;
                                        <tr>
                                            <td class="center">@number</td>
                                            <td class="center">@item.datetime_create.ToString("dd/MM/yyyy")</td>
                                            <td class="center">@item.datetime_create.ToString("HH:mm")</td>
                                            <td class="text-right">@String.Format("{0:#,0.00}", item.amount)</td>
                                            <td class="text-right">@String.Format("{0:#,0.00}", item.transfer_amount)</td>
                                            <td class="center">@(item.datetime_transfer_date.HasValue ? item.datetime_transfer_date.Value.ToString("dd/MM/yyyy HH:mm") : "")</td>
                                            <td class="center">
                                                @if (!String.IsNullOrEmpty(item.txt_payment_slip))
                                                {
                                                    <a target="_blank" href="@item.txt_payment_slip">รายละเอียด</a>
                                                }
                                            </td>
                                            <td class="text-left">@item.txt_remark</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.lan-review-holder -->
    </div>
</section>
