﻿@using Microsoft.AspNet.Identity
@using WebCyberryMusic.Models
@model IEnumerable<DINFDAL.Models.Withdrawal_Transaction>
@{
    ViewBag.Title = "รายการถอนเงิน";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles{
    <!-- PAGE LEVEL STYLES -->
    <link href="~/assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <!-- END PAGE LEVEL  STYLES -->
}
<!--PAGE CONTENT -->
<div id="content">

    <div class="inner">
        <div class="row">
            <div class="col-lg-12">
                <h2> รายการถอนเงิน </h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    @*<div class="panel-heading">
                        </div>*@
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th class="center"></th>
                                        <th class="center">Username</th>
                                        <th class="center">วันที่</th>
                                        <th class="center">เวลา</th>
                                        <th class="center">ยอดเงินที่ถอน</th>
                                        <th class="center" style="width: 200px;">ยอดเงินหลังหักภาษี ณ ที่จ่าย 5%</th>
                                        <th class="center" style="width: 200px;">ยอดเงินหลังหักค่าธรรมเนียมธนาคาร</th>
                                        <th class="center">วันที่โอน</th>
                                        <th class="center">เอกสารแนบ</th>
                                        <th class="center">หมายเหตุ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var number = 0;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        number++;
                                        <tr>
                                            <td class="text-center"><a href="@Url.Action("Edit", "WithdrawalTransaction", new {id = item.int_withdrawal_transaction_id})">แก้ไข</a> </td>
                                            <td class="text-center"><a href="@Url.Action("Details", "Users", new { id = item.int_user_id })">@item.User.UserName</a> </td>
                                            <td class="text-center">@item.datetime_create.ToString("dd/MM/yyyy")</td>
                                            <td class="text-center">@item.datetime_create.ToString("HH:mm")</td>
                                            <td class="text-right">@String.Format("{0:#,0.00}", item.amount)</td>
                                            <td class="text-right">@String.Format("{0:#,0.00}", item.include_vat)</td>
                                            <td class="text-right">@String.Format("{0:#,0.00}", item.transfer_amount)</td>
                                            <td class="text-center">@(item.datetime_transfer_date.HasValue ? item.datetime_transfer_date.Value.ToString("dd/MM/yyyy") : "")</td>
                                            <td class="text-center">
                                                @if (!String.IsNullOrEmpty(item.txt_payment_slip))
                                                {
                                                    <a target="_blank" href="@item.txt_payment_slip"><i class="icon-large icon-file"></i></a>
                                                }
                                                @if (!String.IsNullOrEmpty(item.txt_withholding_tax))
                                                {
                                                    <a target="_blank" href="@item.txt_withholding_tax"><i class="icon-large icon-file"></i></a>
                                                }
                                            </td>
                                            <td class="text-left">@item.txt_remark</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END PAGE CONTENT -->
@section scripts{
    <!-- PAGE LEVEL SCRIPTS -->
    <script src="~/assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable({
                "order": [[1, "desc"]], "aoColumnDefs": [{ "bSortable": false, "aTargets": [0] }], stateSave: true
            });
        });
    </script>
    <!-- END PAGE LEVEL SCRIPTS -->
}