﻿@model WebCyberryMusic.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<section id="login" class="pb-30">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="lan-music-login">
                    <h1>@ViewBag.Title.</h1>
                    <p>@Html.ValidationSummary(true)</p>
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "lan-contact-form", role = "form", @autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword, new { @class = "control-label col-xs-2" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.OldPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label col-xs-2" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-xs-2" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-10">
                                <button type="submit" class="btn-flat waves-effect">Change Password</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
