﻿@model WebCyberryMusic.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Account";
}
<section id="login" class="pb-30">

    <div class="container">

        <div class="row">

            <div class="col-md-8">

                <div class="lan-music-login">
                    <h1>@ViewBag.Title.</h1>
                    <p class="text-success">@ViewBag.StatusMessage</p>
                </div>
            </div><!-- col-md-8 -->

            <div class="col-md-4">

                <div class="lan-banner ptb-30">

                </div>
            </div> <!--/.col-md-4 /.right side -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

