﻿@{
    ViewBag.Title = "Confirm Email Sent.";
}
<!-- Login
                ================================================== -->
<section id="login" class="pb-30">

    <div class="container">

        <div class="row">

            <div class="col-md-8">

                <div class="lan-music-login">
                    <h1>Confirm Email Sent.</h1>
                    <p class="text-info"> Please check your email and confirm your email address.</p>
                </div>
            </div><!-- col-md-8 -->

            <div class="col-md-4">

                <div class="lan-banner ptb-30">

                </div>
            </div> <!--/.col-md-4 /.right side -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- End Login -->
@section Scripts {

}