﻿@model WebCyberryMusic.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Log in";
}
<!-- Login
                ================================================== -->
<section id="login" class="pb-30">

    <div class="container">

        <div class="row">

            <div class="col-md-8">

                <div class="lan-music-login" style="height:300px;">
                    <h1>Login</h1>
                    <p>@Html.ValidationSummary(true)</p>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "lan-contact-form", role = "form",@autocomplete="off" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="UserName" class="control-label col-xs-2">User Name</label>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Password" class="control-label col-xs-2">Password</label>
                            <div class="col-xs-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-10">
                                <div class="checkbox">
                                    <input id="RememberMe" name="RememberMe" value="true" @MvcHtmlString.Create(Model.RememberMe ? "checked=\"checked\"" : "") class="styled" type="checkbox">
                                    <label style="padding-left: 25px;" for="RememberMe">
                                        Remember me?
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-10">
                                <button type="submit" class="btn-flat waves-effect">Login</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-10">
                                <p>
                                    <a href="@Url.Action("ForgotPassword","Account")">Forgot your password?</a>
                                </p>
                            </div>
                        </div>
                    }

                </div>
            </div><!-- col-md-8 -->

            <div class="col-md-4">

                <div class="lan-banner ptb-30">
                    @Html.Partial("_ExternalLoginsListPartial", new {Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl})
                </div>

            </div> <!--/.col-md-4 /.right side -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- End Login -->
@section Scripts {

}
