﻿@model WebCyberryMusic.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}
<section id="login" class="pb-30">

    <div class="container">

        <div class="row">

            <div class="col-md-8">

                <div class="lan-music-login">
                    <h1>@ViewBag.Title.</h1>
                    <h4>Reset your password.</h4>
                    <p>@Html.ValidationSummary(true)</p>
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "lan-contact-form", role = "form", @autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model=>model.Code)
                        <div class="form-group">
                            <label for="UserName" class="control-label col-xs-2">User Name</label>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Email" class="control-label col-xs-2">Email</label>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Password" class="control-label col-xs-2">Password</label>
                            <div class="col-xs-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword" class="control-label col-xs-2">Confirm password</label>
                            <div class="col-xs-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-10">
                                <button type="submit" class="btn-flat waves-effect">Reset</button>
                            </div>
                        </div>
                    }

                </div>
            </div><!-- col-md-8 -->

            <div class="col-md-4">

            </div> <!--/.col-md-4 /.right side -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
@section Scripts {

}
