﻿@using DINFDAL.Models
@{
    Layout = null;
}
@{
    var paysbuy = ViewBag.PaysBuy as Paysbuy;
    var product = ViewBag.Product as Product;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ยืนยันการสั่งซื้อสินค้า</title>
    <style>
        .lnhight20 {
            line-height: 24px;
        }

        .txtline {
            text-decoration: underline;
        }

        .txtline2 {
            text-decoration: underline;
            text-decoration-style: double;
            -moz-text-decoration-style: double;
        }
    </style>
</head>
<body>
    <div style="width: 800px;">
        <div>
            <img src="http://cyberrymusic.com/favicon/ms-icon-150x150.png" />
        </div>
        <div class="lnhight20"><b>เรียนคุณ @paysbuy.opt_name</b></div>
        <div class="lnhight20"><b>E-mail: @paysbuy.opt_email</b></div>
        <br /><br />
        <div class="lnhight20" style="padding-left: 50px">อีเมล์ฉบับนี้ส่งเพื่อยืนยันว่า บริษัทฯได้รับคำสั่งซื้อหมายเลข (@paysbuy.inv) ของท่านแล้ว ในวันที่ (@paysbuy.datetime_create.Value.ToString("dd/MM/yyyy"))</div>
        <div class="lnhight20">โดยเลือกชำระค่าสินค้าผ่านบริษัท เพย์สบาย จำกัด โปรดกรุณาชำระเงินภายใน 7 วัน หลังจากทำการชำระเงินแล้ว</div>
        <div class="lnhight20">เราจะดำเนินการในขั้นตอนถัดไป</div>
        <br /><br /><br />
        <div class="lnhight20"><b>รายละเอียดการสั่งซื้อ</b></div>
        <table border="0" cellpadding="3" cellspacing="3">
            <tr>
                <td rowspan="7" style="width: 250px">
                    <img src="@string.Format("http://cyberrymusic.com{0}",product.txt_image)" width="200" height="200" />
                </td>
                <td colspan="3" class="txtline"><b>@product.txt_product_name</b></td>
            </tr>
            <tr><td style="width: 300px;">จำนวนเงิน</td><td style="width: 90px; text-align: center">@product.dec_price_exvat</td><td>บาท</td></tr>
            @{ decimal vat5 = Math.Round(product.dec_price_exvat.Value * 5 / 100, 2, MidpointRounding.AwayFromZero);}
            <tr><td><span class="txtline">บวก</span> ค่าธรรเนียมดำเนินการ 5%</td><td style="text-align: center" class="txtline"> @string.Format("{0}", vat5) </td><td>บาท</td></tr>
            @{ decimal total = vat5 + product.dec_price_exvat.Value; }
            <tr><td>รวม</td><td style="text-align: center">@total</td><td>บาท</td></tr>
            @{decimal vat7 = Math.Round(total * 7 / 100, 2, MidpointRounding.AwayFromZero);}
            <tr><td><span class="txtline">บวก</span> ภาษีมูลค่าเพิ่ม 7%</td><td style="text-align: center" class="txtline">@string.Format("{0}", vat7)</td><td>บาท</td></tr>
            @{ decimal sumtotal = total + (total * 7 / 100);}
            <tr><td>ยอดรวม</td><td style="text-align: center" class="txtline2">@Math.Round(sumtotal, 2, MidpointRounding.AwayFromZero)</td><td>บาท</td></tr>
            <tr><td colspan="3"><b>จำนวนที่ต้องชำระทั้งสิ้น <span style="padding-left: 60px; padding-right: 20px;">@paysbuy.amt</span> บาท</b></td></tr>
        </table>
        <br /><br /><br />
        <div class="lnhight20 txtline"><b>ข้อมูลเกี่ยวกับการชำระสินค้า</b></div>
        <div class="lnhight20">1. โปรดปฏิบัติตามคำแนะนำการชำระเงิน ซึ่งถูกระบุไว้ในใบชำระที่ส่งให้ท่านผ่านทางอีเมล์โดยบริษัท เพย์สบาย จำกัด</div>
        <div class="lnhight20">และใบชำระเงินนี้สามารถชำระเงินได้ภายใน 7 วันเท่านั้น</div>
        <br />
        <div class="lnhight20" style="text-align: right"><b>ขอบคุณที่ร่วมสนุกกับ Cyberry Music</b></div>
        <div class="lnhight20" style="text-align: right"><b>www.cyberrymusic.com</b></div>
    </div>
</body>
</html>