﻿@using DINFDAL.Models
@{
    Layout = null;
}
@{
    var paysbuy = ViewBag.PaysBuy as Paysbuy;
    var strMethod = "";
    switch (paysbuy.method)
    {
        case "01":
            strMethod = "บัญชีเพย์สบาย";
            break;
        case "02":
            strMethod = "บัตรเครดิต";
            break;
        case "03":
            strMethod = "บัญชีเพย์พาล";
            break;
        case "04":
            strMethod = "อเมริกัน เอ็กเพรส";
            break;
        case "05":
            strMethod = "ออนไลน์ ไดเร็กเดบิล";
            break;
        case "06":
            strMethod = "เคาน์เตอร์เซอร์วิส";
            break;
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ยืนยันการชำระเงิน</title>
    <style>
        .lnhight20 {
            line-height: 24px;
        }

        .txtline {
            text-decoration: underline;
        }

        .txtline2 {
            text-decoration: underline;
            text-decoration-style: double;
            -moz-text-decoration-style: double;
        }
    </style>
</head>
<body>
    <div style="width: 550px;">
        <div>
            <img src="http://cyberrymusic.com/favicon/ms-icon-150x150.png" />
        </div>
        <div class="lnhight20"><b>เรียนคุณ @paysbuy.opt_name</b></div>
        <div class="lnhight20"><b>E-mail: @paysbuy.opt_email</b></div>
        <br /><br />
        <div class="lnhight20" style="padding-left: 50px">อีเมล์ฉบับนี้ส่งเพื่อยืนยันว่า บริษัทฯได้รับชำระค่า Cyberry Point จากท่านเรียบร้อยแล้ว</div>
        <div class="lnhight20">และได้เพิ่ม Cyberry Point จำนวน @paysbuy.point Points ให้ท่านแล้ว</div>
        <br /><br /><br />
        <div class="lnhight20"><b>รายละเอียดการทำรายการ</b></div>
        <table border="0" cellpadding="3" cellspacing="3">
            <tr><td style="width: 200px;">ชื่อผู้ชำระเงิน</td><td style="width: 90px; text-align: left">@paysbuy.opt_name</td></tr>
            <tr><td>E-mail :</td><td style="width: 90px; text-align: left">@paysbuy.opt_email</td></tr>
            <tr><td>ที่อยู่</td><td style="width: 90px; text-align: left">@paysbuy.opt_address</td></tr>
            <tr><td>หมายเลขอ้างอิงการชำระเงิน</td><td style="width: 90px; text-align: left">@paysbuy.apCode</td></tr>
            <tr><td>หมายเลขอ้างอิงการสั่งซื้อ</td><td style="width: 90px; text-align: left">@paysbuy.inv</td></tr>
            <tr><td>วิธีการชำระเงิน</td><td style="width: 90px; text-align: left">@strMethod</td></tr>
            <tr><td>ยอดชำระทั้งหมด</td><td style="width: 90px; text-align: left">@paysbuy.amt บาท</td></tr>
        </table>
        <br /><br /><br />
        <div class="lnhight20 txtline"><b>หมายเหตุ</b></div>
        <div class="lnhight20">1. กรุณาเก็บเอกสารนี้ไว้เป็นหลักฐานเพื่อใช้อ้างอิงในการทำรายการ</div>
        <div class="lnhight20">2. ในกรณีที่มีการทำรายการผิดพลาด หรือ ชำระเกิน ทางบริษัทฯขอสงวนสิทธ์ในการคืนเงินทุกรณี</div>
        <div class="lnhight20">3. หากท่านมีข้อสงสัยหรือต้องการสอบถามข้อมูลเพิ่มเติมเกี่ยวกับการชำระเงินกรุณาติดต่อศูนย์ลูกค้าสัมพันธ์</div>
        <div class="lnhight20"> บริษัท เพย์สบาย จำกัด 02-296-9965 ตลอด 24 ชั่วโมง</div>
        <div class="lnhight20">4. บริษัทฯจะทำการจัดส่งใบกำกับภาษีและใบเสร็จรับเงินให้ท่านต่อไป</div>
        <br />
        <div class="lnhight20" style="text-align: right"><b>ขอบคุณที่ร่วมสนุกกับ Cyberry Music</b></div>
        <div class="lnhight20" style="text-align: right"><b>www.cyberrymusic.com</b></div>
    </div>
</body>
</html>