﻿@using DINFDAL.Models
@{
    Layout = null;
}
@{
    var paysbuy = ViewBag.PaysBuy as Paysbuy;
    var expdate = DateTime.ParseExact(paysbuy.inv.Substring(0, 14), "yyyyMMddhhmmss", null);
    expdate.AddDays(7);
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>แจ้งเตือนการชำระเงิน</title>
    <style>
        .lnhight20 {
            line-height: 24px;
        }

        .txtline {
            text-decoration: underline;
        }

        .txtline2 {
            text-decoration: underline;
            text-decoration-style: double;
            -moz-text-decoration-style: double;
        }
    </style>
</head>
<body>
    <div style="width: 800px;">
        <div>
            <img src="http://cyberrymusic.com/favicon/ms-icon-150x150.png" />
        </div>
        <div class="lnhight20"><b>เรียนคุณ @paysbuy.opt_name</b></div>
        <div class="lnhight20"><b>E-mail: @paysbuy.opt_email</b></div>
        <br /><br />
        <div class="lnhight20" style="padding-left: 50px">อีเมล์ฉบับนี้ส่งเพื่อแจ้งเตือนว่า ท่านมีรายการที่ยังไม่ได้ทำการชำระเงินผ่านบริษัท เพย์สบาย จำกัด</div>
        <div class="lnhight20">กรุณาชำระค่า Cyberry Point จำนวน @paysbuy.point Points ตามใบสั่งซื้อเลขที่ @paysbuy.inv ภายในวันที่ @expdate.ToString("dd MMMM yyyy") เวลา @expdate.ToString("HH.mm")น </div>
        <br />
        <div class="lnhight20"><b>ยอดเงินที่ต้องชำระคือ @paysbuy.amt บาท</b></div>

        <br /><br /><br />
        <div class="lnhight20 txtline"><b>หมายเหตุ</b></div>
        <div class="lnhight20">1. โปรดชำระเงินภายในระยะที่</div>
        <div class="lnhight20">2. รายการจะหมดอายุและระบบจะยกเลิกรายการทันทีโดยอันตโนมัติ หากไม่มีการชำระเงินตามเวลาที่กำหนด</div>
        <div class="lnhight20">3. หากท่านมีข้อสงสัยหรือต้องการสอบถามข้อมูลเพิ่มเติมเกี่ยวกับการชำระเงินกรุณาติดต่อศูนย์ลูกค้าสัมพันธ์</div>
        <div class="lnhight20"> บริษัท เพย์สบาย จำกัด 02-296-9965 ตลอด 24 ชั่วโมง</div>
        <br />
        <div class="lnhight20" style="text-align: right"><b>ขอบคุณที่ร่วมสนุกกับ Cyberry Music</b></div>
        <div class="lnhight20" style="text-align: right"><b>www.cyberrymusic.com</b></div>
    </div>
</body>
</html>