﻿้@using System.Web.UI.WebControls
@using DINFDAL.Models
@using Fluentx
@model DINFDAL.Models.User
@{

}
@section styles{
    <link href="~/assets/css/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/plugins/uniform/themes/default/css/uniform.default.css" />
    <link rel="stylesheet" href="~/assets/plugins/inputlimiter/jquery.inputlimiter.1.0.css" />
    <link rel="stylesheet" href="~/assets/plugins/chosen/chosen.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" href="~/assets/plugins/tagsinput/jquery.tagsinput.css" />
    <link rel="stylesheet" href="~/assets/plugins/daterangepicker/daterangepicker-bs3.css" />
    <link rel="stylesheet" href="~/assets/plugins/datepicker/css/datepicker.css" />
    <link rel="stylesheet" href="~/assets/plugins/timepicker/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/switch/static/stylesheets/bootstrap-switch.css" />
}

<!--PAGE CONTENT -->
<div id="content">

    <div class="inner">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><a href="@Url.Action("Index")"> สมาชิก-> </a>ข้อมูลสมาชิก</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="box dark">
                    <header>
                        <div class="icons">
                            <i class="icon-check"></i>
                        </div>
                        <h5>ข้อมูลทั่วไป</h5>
                        <div class="toolbar">
                            <ul class="nav">
                                <li>
                                    <a class="accordion-toggle" data-toggle="collapse" href="#div-1">
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </header>
                    <div id="div-1" class="accordion-body collapse in body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <p class="control-label col-lg-4 center" style="padding-top: 0px">
                                    @if (String.IsNullOrEmpty(Model.txt_avatar))
                                    {
                                        <img id="imgAvatar" class="img-responsive pull-right" width="145" height="146" src="http://placehold.it/145x146" alt="">
                                    }
                                    else
                                    {
                                        <img id="imgAvatar" class="img-responsive pull-right" width="145" height="146" src="@Url.Content(Model.txt_avatar)" alt="">
                                    }
                                </p>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4" style="padding-top: 0px">User Name:</label>
                                <div class="col-lg-8">
                                    @Model.UserName
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4" style="padding-top: 0px">Email:</label>
                                <div class="col-lg-8">
                                    @Model.Email
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4" style="padding-top: 0px">ประเภท:</label>
                                <div class="col-lg-8">
                                    @{ var roles = ViewBag.RoleName as IList<String>; }
                                    @roles.ToString(",")
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4" style="padding-top: 0px">Cyberry Point:</label>
                                <div class="col-lg-8">
                                    @String.Format("{0:#,0}", Model.Points.Sum(i => i.int_value))
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4" style="padding-top: 0px">ชื่อ:</label>
                                <div class="col-lg-8">
                                    @Model.txt_firstname
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4" style="padding-top: 0px">นามสกุล:</label>
                                <div class="col-lg-8">
                                    @Model.txt_lastname
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4" style="padding-top: 0px">วันที่สมัคร:</label>
                                <div class="col-lg-8">
                                    @(Model.datetime_create.HasValue ? Model.datetime_create.Value.ToString("dd/MM/yyyy HH:mm") : "")
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4" style="padding-top: 0px">ที่อยู่:</label>
                                <div class="col-lg-8">
                                    @Model.txt_address
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4" style="padding-top: 0px">เบอร์โทรศัพท์:</label>
                                <div class="col-lg-8">
                                    @Model.txt_phone
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4" style="padding-top: 0px">Email Confirm:</label>
                                <div class="col-lg-8">
                                    @Model.EmailConfirmed
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4" style="padding-top: 0px">Active:</label>
                                <div class="col-lg-8">
                                    @Model.is_activated
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4" style="padding-top: 0px">Banned:</label>
                                <div class="col-lg-8">
                                    @Model.is_banned
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4" style="padding-top: 0px">Banned Reason:</label>
                                <div class="col-lg-8">
                                    @Model.txt_banned_reason
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="box dark">
                    <header>
                        <div class="icons">
                            <i class="icon-check"></i>
                        </div>
                        <h5>ข้อมูลเพิ่มเติมสำหรับผู้สมัครเข้าแข่งขัน</h5>
                        <div class="toolbar">
                            <ul class="nav">
                                <li>
                                    <a class="accordion-toggle" data-toggle="collapse" href="#div-2">
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </header>
                    <div id="div-2" class="accordion-body collapse in body">
                        @if (Model.is_contest.Value)
                        {
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="padding-top: 0px">ชื่อธนาคาร:</label>
                                    <div class="col-lg-8">
                                        @(Model.int_bank_id.HasValue ? Model.Bank.txt_bank_name : "")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="padding-top: 0px">หมายเลขบัญชีธนาคาร:</label>
                                    <div class="col-lg-8">
                                        @Model.txt_bank_account
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="padding-top: 0px">เลขที่บัตรประจำตัวประชาชน:</label>
                                    <div class="col-lg-8">
                                        @Model.txt_id_card
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="padding-top: 0px">รูปบัตร์ประจำตัวประชาชน:</label>
                                    <div class="col-lg-8">
                                        <a target="blank" href="@Model.txt_img_id_card_path">@Model.txt_img_id_card_path</a>
                                    </div>
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="box dark">
                    <header>
                        <div class="icons"><i class="icon-check"></i></div>
                        <h5>ประวัติการซื้อ Point</h5>
                        <div class="toolbar">
                            <ul class="nav">
                                <li>
                                    <a class="accordion-toggle" data-toggle="collapse" href="#div-3">
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </header>
                    <div id="div-3" class="accordion-body collapse in body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th class="text-center">ครั้งที่</th>
                                        <th class="text-center">วันที่</th>
                                        <th class="text-center">เวลา</th>
                                        <th class="text-center">Cyberry Point<br />Point</th>
                                        <th class="text-center">จำนวนเงิน</th>
                                        <th class="text-center">เลขที่ INV</th>
                                        <th class="text-center">เลขที่ใบกำกับภาษี</th>
                                        <th class="text-center">เลขที่ใบเสร็จรับเงิน</th>
                                        <th class="text-center">หมายเหตุ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var paysbuyhistory = ViewBag.PaysBuy as List<DINFDAL.Models.Paysbuy>;
                                        var count = 0;
                                    }
                                    @foreach (var item in paysbuyhistory)
                                    {
                                        count++;
                                        <tr class="gradeA odd">
                                            <td class="text-center">@count</td>
                                            <td class="text-center">@item.datetime_create.Value.ToString("dd/MM/yyyy")</td>
                                            <td class="text-center">@item.datetime_create.Value.ToString("HH:mm")</td>
                                            <td class="text-right">@string.Format("{0:#,##0}", item.point)</td>
                                            <td class="text-right">@string.Format("{0:#,##0.00}", Decimal.Parse(item.amt))</td>
                                            <td class="text-center">@item.inv</td>
                                            <td class="text-center">@item.tax_inv_no</td>
                                            <td class="center">@item.receipt_no</td>
                                            <td class="text-left">@item.remark</td>
                                        </tr>
                                    }
                                    @if (paysbuyhistory.Count() > 0)
                                    {
                                        <tr style="font-weight: bold;">
                                            <td colspan="3">รวมทั้งสิ้น</td>
                                            <td class="text-right">@string.Format("{0:#,##0}", paysbuyhistory.Sum(i => i.point))</td>
                                            <td class="text-right">@string.Format("{0:#,##0.00}", paysbuyhistory.Sum(i => Decimal.Parse(i.amt)))</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="box dark">
                    <header>
                        <div class="icons">
                            <i class="icon-check"></i>
                        </div>
                        <h5>ประวัติการถอนเงิน</h5>
                        <div class="toolbar">
                            <ul class="nav">
                                <li>
                                    <a class="accordion-toggle" data-toggle="collapse" href="#div-4">
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </header>
                    <div id="div-4" class="accordion-body collapse in body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th class="center">ครั้งที่</th>
                                        <th class="center">วันที่</th>
                                        <th class="center">เวลา</th>
                                        <th class="center">ยอดเงินที่ถอน</th>
                                        <th class="center">ยอดเงินโอน(หลังหักภาษี 5%)</th>
                                        <th class="center">วันที่โอน</th>
                                        <th class="center">เอกสารแนบ</th>
                                        <th class="center">หมายเหตุ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                var withdrawaltrans = ViewBag.Withdrawaltrans as List<DINFDAL.Models.Withdrawal_Transaction>;
                                var count2 = 0;
                                    }
                                    @foreach (var item in withdrawaltrans)
                            {
                                count++;
                                <tr class="gradeA odd">
                                    <td class="center">@count2</td>
                                    <td class="center">@item.datetime_create.ToString("dd/MM/yyyy")</td>
                                    <td class="center">@item.datetime_create.ToString("HH:mm")</td>
                                    <td class="text-right">@string.Format("{0:#,##0.00}", item.amount)</td>
                                    <td class="text-right">@string.Format("{0:#,##0.00}", item.transfer_amount)</td>
                                    <td class="center">@(item.datetime_transfer_date.HasValue ? item.datetime_transfer_date.Value.ToString("dd/MM/yyyy HH:mm") : "")</td>
                                    <td class="center">
                                        @if (!String.IsNullOrEmpty(item.txt_payment_slip))
                                        {
                                        <a href="@item.txt_payment_slip">รายละเอียด</a>
                                        }
                                    </td>
                                    <td class="text-left">@item.txt_remark</td>
                                </tr>
                            }
                                    @if (withdrawaltrans.Count() > 0)
                            {
                                <tr style="font-weight: bold;">
                                    <td colspan="3">รวมทั้งสิ้น</td>
                                    <td class="text-right">@string.Format("{0:#,##0.00}", withdrawaltrans.Sum(i => i.amount))</td>
                                    <td class="text-right">@string.Format("{0:#,##0.00}", withdrawaltrans.Sum(i => i.transfer_amount))</td>
                                </tr>
                            }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @{
            //Type 1= cover เพลงคนอื่น,ประกวดเอง,Type 2=แต่งเพลงเอง ประกวดเอง
            var balance = ViewBag.Balance as DINFDAL.Models.Balance ?? new Balance() { net_balance = 0, balance1 = 0 };
            var incomeTransact = ViewBag.IncomeTransact as List<vVoteIncomeTransaction>;
            var smsCount = incomeTransact.Where(i => i.int_vote_method == 1).Select(i => i.int_vote_history_id).Distinct().Count();
            var pointCount = incomeTransact.Where(i => i.int_vote_method == 2).Select(i => new { i.int_vote_history_id, i.int_vote_value }).Distinct().Sum(i => i.int_vote_value);
            var smsType1 = incomeTransact.Where(i => i.int_vote_method == 1).GroupBy(g => g.int_vote_history_id).Where(i => i.Count() == 1).Count();
            var smsType2 = incomeTransact.Where(i => i.int_vote_method == 1).GroupBy(g => g.int_vote_history_id).Where(i => i.Count() == 2).Count();
            var pointType1 = incomeTransact.Where(i => i.int_vote_method == 2).GroupBy(g => new { g.int_vote_history_id, g.int_vote_value }).Where(i => i.Count() == 1).Sum(i => i.Key.int_vote_value);
            var pointType2 = incomeTransact.Where(i => i.int_vote_method == 2).GroupBy(g => new { g.int_vote_history_id, g.int_vote_value }).Where(i => i.Count() == 2).Sum(i => i.Key.int_vote_value);
        }
        <div class="row">
            <div class="col-lg-12">
                <div class="box dark">
                    <header>
                        <div class="icons"><i class="icon-check"></i></div>
                        <h5>ข้อมูลคะแนนและรายได้ (SMS&Cyberry Point) ของผู้สมัครเข้าแข่งขัน</h5>
                        <div class="toolbar">
                            <ul class="nav">
                                <li>
                                    <a class="accordion-toggle" data-toggle="collapse" href="#div-5">
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </header>
                    <div id="div-5" class="accordion-body collapse in body">
                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-md-12">
                               
                                    <div class="col-md-6" style="padding-left: 0px">

                                        <div class="player jp-interface">
                                            <h3>คะแนน Vote ทั้งหมด</h3>
                                        </div>
                                        <div class="tracklist show-more-button">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="center">ระบบ Vote</th>
                                                        <th class="center">จำนวนทั้งหมด (ครั้ง)</th>
                                                        <th class="center">Type 1 (ครั้ง)</th>
                                                        <th class="center">Type 2 (ครั้ง)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="center">SMS</td>
                                                        <td class="text-right">@smsCount</td>
                                                        <td class="text-right">@smsType1</td>
                                                        <td class="text-right">@smsType2</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">Cyberry Points</td>
                                                        <td class="text-right">@String.Format("{0:#,0}", pointCount)</td>
                                                        <td class="text-right">@String.Format("{0:#,0}", pointType1)</td>
                                                        <td class="text-right">@String.Format("{0:#,0}", pointType2)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="col-md-6" style="padding-right: 0px">
                                        <div class="player jp-interface">
                                            <h3>*หมายเหตุการแบ่งเงิน</h3>
                                        </div>
                                        <div class="tracklist show-more-button">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="center">Type</th>
                                                        <th class="center">เงิน SMS (บาท)</th>
                                                        <th class="center">เงิน Points (ครั้ง)</th>
                                                        <th class="center">รายละเอียด</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="center">1</td>
                                                        <td class="center">0.25</td>
                                                        <td class="center">1</td>
                                                        <td>cover เพลงคนอื่น,ประกวดเอง</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">2</td>
                                                        <td class="center">0.5</td>
                                                        <td class="center">2</td>
                                                        <td>แต่งเพลงเอง,ประกวดเอง</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-md-12">
                                <div class="ttw-music-player" style="opacity: 1;">
                                    <div class="player jp-interface">
                                        <h3>เงินรางวัลต่อครั้ง</h3>
                                    </div>
                                    <div class="tracklist show-more-button table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="center">ระบบ Vote</th>
                                                    <th class="center">เงินรางวัล<br />Type1 (บาท)</th>
                                                    <th class="center">เงินรางวัล<br />Type2 (บาท)</th>
                                                    <th class="center">ค่าใช้จ่ายดำเนินการ<br />Type 1 (บาท)</th>
                                                    <th class="center">ค่าใช้จ่ายดำเนินการ<br />Type 2 (บาท)</th>
                                                    <th class="center">เงินรางวัลหลังหักค่าใช้จ่าย<br />Type 1 (บาท)</th>
                                                    <th class="center">เงินรางวัลหลังหักค่าใช้จ่าย<br />Type 2 (บาท)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="center">SMS</td>
                                                    <td class="text-right">0.25</td>
                                                    <td class="text-right">0.5</td>
                                                    <td class="text-right">0.04</td>
                                                    <td class="text-right">0.08</td>
                                                    <td class="text-right">0.21</td>
                                                    <td class="text-right">0.42</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">Cyberry Points</td>
                                                    <td class="text-right">1.00</td>
                                                    <td class="text-right">2</td>
                                                    <td class="text-right">0.12</td>
                                                    <td class="text-right">0.24</td>
                                                    <td class="text-right">0.88</td>
                                                    <td class="text-right">1.76</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-md-12">
                                <div class="ttw-music-player" style="opacity: 1;">
                                    <div class="player jp-interface">
                                        <h3>คำนวณรายได้</h3>
                                    </div>
                                    <div class="tracklist show-more-button table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2" class="center" style="vertical-align: middle;">ระบบ Vote</th>
                                                    <th colspan="3" class="center">Type 1</th>
                                                    <th colspan="3" class="center">Type 2</th>
                                                </tr>
                                                <tr>
                                                    <th class="center">จำนวนครั้ง</th>
                                                    <th class="center">เงินรางวัลหลังหักค่าใช้จ่าย<br />(บาท)</th>
                                                    <th class="center">จำนวนเงินรางวัล<br />(บาท)</th>
                                                    <th class="center">จำนวนครั้ง</th>
                                                    <th class="center">เงินรางวัลหลังหักค่าใช้จ่าย<br />(บาท)</th>
                                                    <th class="center">จำนวนเงินรางวัล<br />(บาท)</th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="center">SMS</td>
                                                    <td class="text-right">@smsType1</td>
                                                    <td class="text-right">0.21</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", (smsType1 * 0.21))</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", smsType2)</td>
                                                    <td class="text-right">0.42</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", (smsType2 * 0.42))</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">Cyberry Point</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", pointType1)</td>
                                                    <td class="text-right">0.88</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", (pointType1 * 0.88))</td>
                                                    <td class="text-right">@String.Format("{0:#,0}", pointType2)</td>
                                                    <td class="text-right">1.76</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", (pointType2 * 1.76))</td>
                                                </tr>
                                                <tr>
                                                    <td class="center"><strong>เงินรางวัล</strong></td>
                                                    <td colspan="2" class="center">Type 1</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", ((smsType1 * 0.21) + (pointType1 * 0.88)))</td>
                                                    <td colspan="2" class="center">Type 2</td>
                                                    <td class="text-right">@String.Format("{0:#,0.00}", ((smsType2 * 0.42) + (pointType2 * 1.76)))</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" class="center"><strong>รวมเงินรางวัลทั้งหมด</strong></td>
                                                    <td colspan="4" class="text-right">@String.Format("{0:#,0.00}", ((smsType1 * 0.21) + (pointType1 * 0.88)) + ((smsType2 * 0.42) + (pointType2 * 1.76)))</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" class="center"><strong>รวมเงินรางวัลคงเหลือ</strong></td>
                                                    <td colspan="4" class="text-right">@String.Format("{0:#,0.00}", balance.net_balance)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <!-- PAGE LEVEL SCRIPT-->
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/plugins/uniform/jquery.uniform.min.js"></script>
    <script src="~/assets/plugins/inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="~/assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/assets/plugins/colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="~/assets/plugins/tagsinput/jquery.tagsinput.min.js"></script>
    <script src="~/assets/plugins/validVal/js/jquery.validVal.min.js"></script>
    <script src="~/assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/plugins/daterangepicker/moment.min.js"></script>
    <script src="~/assets/plugins/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/plugins/timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="~/assets/plugins/switch/static/js/bootstrap-switch.min.js"></script>
    <script src="~/assets/plugins/jquery.dualListbox-1.3/jquery.dualListBox-1.3.min.js"></script>
    <script src="~/assets/plugins/autosize/jquery.autosize.min.js"></script>
    <script src="~/assets/plugins/jasny/js/bootstrap-inputmask.js"></script>
    <script src="~/assets/js/formsInit.js"></script>
    <script>

    </script>

    <!--END PAGE LEVEL SCRIPT-->
}
