﻿@model WebCyberryMusic.Models.EditMemberViewModel
@{
    ViewBag.Title = "แก้ไขสมาชิก";
}
@section styles{
    <link href="~/assets/css/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/plugins/uniform/themes/default/css/uniform.default.css" />
    <link rel="stylesheet" href="~/assets/plugins/inputlimiter/jquery.inputlimiter.1.0.css" />
    <link rel="stylesheet" href="~/assets/plugins/chosen/chosen.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" href="~/assets/plugins/tagsinput/jquery.tagsinput.css" />
    <link rel="stylesheet" href="~/assets/plugins/switch/static/stylesheets/bootstrap-switch.css" />
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}
@{
}
<!--PAGE CONTENT -->
<div id="content">

    <div class="inner">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><a href="@Url.Action("Index")"> สมาชิก-> </a>แก้ไขสมาชิก</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="box dark">
                    <header>
                        <div class="icons"><i class="icon-check"></i></div>
                        <h5>แก้ไขสมาชิก</h5>
                        <div class="toolbar">
                            <ul class="nav">
                                <li>
                                    <a class="accordion-toggle" data-toggle="collapse" href="#div-1">
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </header>
                    <div id="div-1" class="accordion-body collapse in body">
                        @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.HiddenFor(model => model.Avatar)
                            @Html.HiddenFor(model => model.Id)
                            if (ViewBag.IsSuccess == true)
                            {
                                <div class="alert alert-success" role="alert">
                                    แก้ไขข้อมูลสมาชิกสำเร็จ
                                </div>
                            }
                            <div class="form-group">
                                <label class="control-label col-lg-4">รูปโปรไพล์:</label>
                                <div class="col-lg-3">
                                    @if (String.IsNullOrEmpty(Model.Avatar))
                                    {
                                        <img id="imgAvatar" class="img-responsive text-center" width="145" height="146" src="http://placehold.it/145x146" alt="">
                                    }
                                    else
                                    {
                                        <img id="imgAvatar" class="img-responsive text-center" width="145" height="146" src="@Url.Content(Model.Avatar)" alt="">
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">User Name*:</label>
                                <div class="col-lg-3">
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.UserName)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">Email*:</label>
                                <div class="col-lg-3">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">ประเภท*:</label>
                                <div class="col-lg-3">
                                    @Html.DropDownListFor(m => m.RoleId, new SelectList(ViewBag.RoleId, "Value", "Text", Model.RoleId), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.RoleId)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">ชื่อ*:</label>
                                <div class="col-lg-3">
                                    @Html.TextBoxFor(model => model.FisrtName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FisrtName)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">นามสกุล*:</label>
                                <div class="col-lg-3">
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LastName)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">วันเดือนปีเกิด*:</label>
                                <div class='input-group date col-lg-3' id='BirthDatePicker'>
                                    @Html.TextBoxFor(model => model.BirthDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.BirthDate)
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">ที่อยู่*:</label>
                                <div class="col-lg-3">
                                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Address)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">เบอร์โทรศัพท์*:</label>
                                <div class="col-lg-3">
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Phone)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">สมัครเข้าแข่งขัน:</label>
                                <div class="col-lg-3">
                                    <label class="checkbox-inline">@Html.CheckBoxFor(model => model.IsContest)</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">ธนาคาร:</label>
                                <div class="col-lg-3">
                                    @Html.DropDownListFor(m => m.BankId, ViewBag.BankId as SelectList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.BankId)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">หมายเลขปัญชี:</label>
                                <div class="col-lg-3">
                                    @Html.TextBoxFor(model => model.BankAccount, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.BankAccount)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">เลขที่บัตร์ประจำตัวประชาชน:</label>
                                <div class="col-lg-3">
                                    @Html.TextBoxFor(model => model.IdCard, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdCard)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">Email Confirm:</label>
                                <div class="col-lg-3">
                                    <label class="checkbox-inline">@Html.CheckBoxFor(model => model.EmailConfirmed)</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">Active:</label>
                                <div class="col-lg-3">
                                    <label class="checkbox-inline">@Html.CheckBoxFor(model => model.IsActive)</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">Banned:</label>
                                <div class="col-lg-3">
                                    <label class="checkbox-inline">@Html.CheckBoxFor(model => model.IsBanned)</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">Banned Reason:</label>
                                <div class="col-lg-3">
                                    @Html.TextAreaFor(model => model.BannedReason, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.BannedReason)
                                </div>
                            </div>
                            <div class="form-actions no-margin-bottom" style="text-align:right;">
                                <input type="reset" value="ยกเลิก" class="btn btn-primary btn-warning">   <input type="submit" value="บันทึก" class="btn btn-primary">
                                @Html.AntiForgeryToken()
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section scripts
{
    <!-- PAGE LEVEL SCRIPT-->
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/plugins/uniform/jquery.uniform.min.js"></script>
    <script src="~/assets/plugins/inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="~/assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/assets/plugins/colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="~/assets/plugins/tagsinput/jquery.tagsinput.min.js"></script>
    <script src="~/assets/plugins/validVal/js/jquery.validVal.min.js"></script>

    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/plugins/switch/static/js/bootstrap-switch.min.js"></script>
    <script src="~/assets/plugins/jquery.dualListbox-1.3/jquery.dualListBox-1.3.min.js"></script>
    <script src="~/assets/plugins/autosize/jquery.autosize.min.js"></script>
    <script src="~/assets/plugins/jasny/js/bootstrap-inputmask.js"></script>
    <script src="~/assets/js/formsInit.js"></script>

    <script>
        $(document).ready(function () {

            $('#RoleId').val('@Model.RoleId');
            $('#BankId').val('@Model.BankId');

            $('#BirthDatePicker').datetimepicker({
                pickTime: false,
                format: "DD/MM/YYYY"
            });

        });
    </script>
    <!--END PAGE LEVEL SCRIPT-->
}




