﻿@model IEnumerable<WebCyberryMusic.Models.ApplicationUser>
@{
    ViewBag.Title = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles{
    <!-- PAGE LEVEL STYLES -->
    <link href="~/assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <!-- END PAGE LEVEL  STYLES -->
}
<!--PAGE CONTENT -->
<div id="content">

    <div class="inner">
        <div class="row">
            <div class="col-lg-12">
                <h2> สมาชิก </h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="@Url.Action("Create","Users")" class="btn btn-primary disabled">เพิ่มใหม่</a>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>User Name</th>
                                        <th>Email</th>
                                        <th>ชื่อ</th>
                                        <th>นามสกุล</th>
                                        <th>วันที่สมัคร</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="gradeA odd">
                                            <td data-bsortable="false" class="text-center">
                                                <a href="@Url.Action("Edit", "Users", new {id = item.Id})">แก้ไข</a> |
                                                <a href="@Url.Action("Details", "Users", new {id = item.Id})">รายละเอียด</a>
                                            </td>
                                            <td class="text-left">@item.UserName</td>
                                            <td class="">@item.Email</td>
                                            <td class="">@item.txt_firstname</td>
                                            <td class="">@item.txt_lastname</td>
                                            <td class="">@item.datetime_create.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END PAGE CONTENT -->
@section scripts{
    <!-- PAGE LEVEL SCRIPTS -->
    <script src="~/assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable({
                "order": [[1, "desc"]], "aoColumnDefs": [{ "bSortable": false, "aTargets": [0] }], stateSave: true
            });
        });
    </script>
    <!-- END PAGE LEVEL SCRIPTS -->
}