﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Edit Role";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/assets/css/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/plugins/uniform/themes/default/css/uniform.default.css" />
    <link rel="stylesheet" href="~/assets/plugins/inputlimiter/jquery.inputlimiter.1.0.css" />
    <link rel="stylesheet" href="~/assets/plugins/chosen/chosen.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" href="~/assets/plugins/tagsinput/jquery.tagsinput.css" />
    <link rel="stylesheet" href="~/assets/plugins/switch/static/stylesheets/bootstrap-switch.css" />
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}
@{
}
<!--PAGE CONTENT -->
<div id="content">

    <div class="inner">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Edit Role</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="box dark">
                    <header>
                        <div class="icons"><i class="icon-check"></i></div>
                        <h5>Role</h5>
                        <div class="toolbar">
                            <ul class="nav">
                                <li>
                                    <a class="accordion-toggle" data-toggle="collapse" href="#div-1">
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </header>
                    <div id="div-1" class="accordion-body collapse in body">
                        @using (Html.BeginForm("Edit", "Roles", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.HiddenFor(model => model.Id)
                            <div class="form-group">
                                <label class="control-label col-lg-4">Role Name*</label>
                                <div class="col-lg-3">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="form-actions no-margin-bottom" style="text-align:right;">
                                <input type="reset" value="ยกเลิก" class="btn btn-primary btn-warning">   <input type="submit" value="บันทึก" class="btn btn-primary">
                                @Html.AntiForgeryToken()
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section scripts
{
    <!-- PAGE LEVEL SCRIPT-->
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/plugins/uniform/jquery.uniform.min.js"></script>
    <script src="~/assets/plugins/inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="~/assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/assets/plugins/colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="~/assets/plugins/tagsinput/jquery.tagsinput.min.js"></script>
    <script src="~/assets/plugins/validVal/js/jquery.validVal.min.js"></script>

    <script src="~/js/bootstrap-datetimepicker.js"></script>
    <script src="~/assets/plugins/switch/static/js/bootstrap-switch.min.js"></script>
    <script src="~/assets/plugins/jquery.dualListbox-1.3/jquery.dualListBox-1.3.min.js"></script>
    <script src="~/assets/plugins/autosize/jquery.autosize.min.js"></script>
    <script src="~/assets/plugins/jasny/js/bootstrap-inputmask.js"></script>
    <script src="~/assets/js/formsInit.js"></script>

    <script>
        $(document).ready(function () {
        });
    </script>
    <!--END PAGE LEVEL SCRIPT-->
}




