﻿@font-face {
    font-family: 'ThaiSansLite';
    src: url('ThaiSansLite.eot');
    src: url('ThaiSansLite.eot?#iefix') format('embedded-opentype'),
         url('ThaiSansLite.woff') format('woff'),
         url('ThaiSansLite.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'ThaiSansLite';
    src: url('ThaiSansLite.eot');
    src: url('ThaiSansLite.eot?#iefix') format('embedded-opentype'),
         url('ThaiSansLite.woff') format('woff'),
         url('ThaiSansLite.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'ThaiSansLite';
    src: url('ThaiSansLite.eot');
    src: url('ThaiSansLite.eot?#iefix') format('embedded-opentype'),
         url('ThaiSansLite.woff') format('woff'),
         url('ThaiSansLite.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'ThaiSansLite';
    src: url('ThaiSansLite.eot');
    src: url('ThaiSansLite.eot?#iefix') format('embedded-opentype'),
         url('ThaiSansLite.woff') format('woff'),
         url('ThaiSansLite.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.th_fahkwang{
   font-family: 'ThaiSansLite', sans-serif;
}